Repository phaidra/phaidra: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-api-base, build-api-dist, build-ui, build-chronos-base, build-chronos-dist, build-httpd-shib-base, build-httpd-demo-dist, build-imageserver, build-pixelgecko-base, build-pixelgecko-dist, build-mariadb-phaidra-dist, build-mariadb-fedora-dist, build-mongodb-dist, build-solr-dist, build-openldap-dist, build-vige-base, build-vige-dist, build-promtail-dist, build-loki-dist, build-grafana-dist, build-prometheus-dist, compose-dev, compose-demo, compose-ssl, compose-shib, compose-keycloak, build-website-push-staging, build-website-push-final

build-api-base:
  stage: build-base
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-api-dist:
  stage: build-dist
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-ui:
  stage: build-common
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-chronos-base:
  stage: build-base
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-chronos-dist:
  stage: build-dist
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-httpd-shib-base:
  stage: build-base
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-httpd-demo-dist:
  stage: build-dist
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-imageserver:
  stage: build-common
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-pixelgecko-base:
  stage: build-base
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-pixelgecko-dist:
  stage: build-dist
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-mariadb-phaidra-dist:
  stage: build-dist
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-mariadb-fedora-dist:
  stage: build-dist
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-mongodb-dist:
  stage: build-dist
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-solr-dist:
  stage: build-dist
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-openldap-dist:
  stage: build-dist
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-vige-base:
  stage: build-base
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-vige-dist:
  stage: build-dist
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-promtail-dist:
  stage: build-dist
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-loki-dist:
  stage: build-dist
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-grafana-dist:
  stage: build-dist
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

Update quay.io/keycloak/keycloak Docker tag to v23.0.7
  dockerfiles/keycloak.dockerfile
Due: none

compose: deduplicate PHAIDRA_API_HOST_INTERNAL variable.
  docker-compose.yaml
Due: none

Update prom/node-exporter Docker tag to v1.8.2
  docker-compose.yaml
Due: none

chore(deps): update babel monorepo
  src/phaidra-ui/package-lock.json
  src/phaidra-vue-components/package-lock.json
Due: build-ui

chore(deps): update dbgate/dbgate docker tag to v5.5.6
  docker-compose.yaml
Due: none

chore(deps): update dependency eslint to v8.57.1
  src/phaidra-ui/package-lock.json
Due: build-ui

chore(deps): update dependency stylus to ^0.64.0
  src/phaidra-ui/package-lock.json
  src/phaidra-ui/package.json
  src/phaidra-vue-components/package-lock.json
  src/phaidra-vue-components/package.json
Due: build-ui

chore(deps): update node.js to v20.18.1
  dockerfiles/ui.dockerfile
Due: build-ui

fix(deps): update dependency @mdi/font to v6.9.96
  src/phaidra-ui/package-lock.json
Due: build-ui

fix(deps): update dependency autolinker to v3.16.2
  src/phaidra-vue-components/package-lock.json
Due: build-ui

fix(deps): update dependency axios to ^0.29.0
  src/phaidra-vue-components/package-lock.json
  src/phaidra-vue-components/package.json
Due: build-ui

changes
  container_init/imageserver/imageserver_entrypoint.bash
  docker-compose.yaml
  dockerfiles/imageserver.dockerfile
  src/phaidra-api/PhaidraAPI/Model/Index.pm
  src/phaidra-vue-components/src/components/display/PDProject.vue
  src/phaidra-vue-components/src/components/input/PISeries.vue
  src/phaidra-vue-components/src/store/modules/vocabulary.js
Due: build-api-dist, build-ui, build-imageserver

fix imageserver dockerfile
  dockerfiles/imageserver.dockerfile
Due: build-imageserver

typo
  container_init/imageserver/imageserver-entrypoint.bash
  docker-compose.yaml
  dockerfiles/imageserver.dockerfile
Due: build-imageserver

httpd startup
  container_init/imageserver/imageserver-entrypoint.bash
Due: none

imageserver image
  docker-compose.yaml
Due: none

Fix typo in DataCite metadata link title
  src/phaidra-ui/pages/detail/_pid.vue
Due: build-ui

compose: persist apachemd files in volume
  configs/httpd_tls.conf
  docker-compose.yaml
Due: none

compose: use latest httpd-ssl-dist image
  docker-compose.yaml
Due: none

consider imageserver folder too
  src/phaidra-api/utils/logStorageSize.pl
Due: build-api-dist

fixed validation of file input
  src/phaidra-vue-components/src/mixins/formvalidation.js
Due: build-ui

uniak thesis object types fix
  src/phaidra-vue-components/src/store/modules/vocabulary.js
Due: build-ui

changelog/readme
  CHANGELOG.md
  README.md
Due: none

api-dist, ui
  docker-compose.yaml
Due: none

fix directory class
  src/phaidra-api/lib/phaidra_directory/Phaidra/Directory/Default.pm
Due: build-api-dist

chore(deps): update gcr.io/cadvisor/cadvisor docker tag to v0.51.0
  docker-compose.yaml
Due: none

chore(deps): update ghcr.io/ldapaccountmanager/lam docker tag to v8.9
  docker-compose.yaml
Due: none

chore(deps): update grafana/grafana docker tag to v11.4.0
  docker-compose.yaml
  dockerfiles/grafana-dist.dockerfile
Due: build-grafana-dist

chore(deps): update grafana/loki docker tag to v3.3.2
  docker-compose.yaml
  dockerfiles/loki-dist.dockerfile
Due: build-loki-dist

chore(deps): update grafana/promtail docker tag to v3.3.2
  docker-compose.yaml
  dockerfiles/promtail-dist.dockerfile
Due: build-promtail-dist

chore(deps): update mariadb docker tag to v10.11
  docker-compose.yaml
  dockerfiles/mariadb-fedora-dist.dockerfile
Due: build-mariadb-fedora-dist

chore(deps): update prom/prometheus docker tag to v2.55.1
  docker-compose.yaml
  dockerfiles/prometheus-dist.dockerfile
Due: build-prometheus-dist

chore(deps): update solr docker tag to v9.7.0
  docker-compose.yaml
  dockerfiles/solr-dist.dockerfile
Due: build-solr-dist

json validator perl package for base
  dockerfiles/api-base.dockerfile
Due: build-api-base, build-api-dist

missing predicate in docs
  website/docs/metadata.md
Due: build-website-push-staging, build-website-push-final

json-ld validation
  src/phaidra-api/PhaidraAPI.json
  src/phaidra-api/PhaidraAPI.pm
  src/phaidra-api/PhaidraAPI/Controller/Utils.pm
  src/phaidra-api/PhaidraAPI/Model/Jsonld.pm
  src/phaidra-api/public/json-schema/jsonld.json
Due: build-api-dist

mostly json-ld validation
  CHANGELOG.md
  src/phaidra-api/PhaidraAPI/Controller/Directory.pm
  src/phaidra-api/PhaidraAPI/Model/Datacite.pm
  src/phaidra-api/PhaidraAPI/Model/Hooks.pm
  src/phaidra-api/PhaidraAPI/Model/Index.pm
  src/phaidra-api/PhaidraAPI/Model/Jsonld.pm
  src/phaidra-api/public/json-schema/jsonld.json
  src/phaidra-api/public/xsd/uwmetadata/ns0.xsd
  src/phaidra-api/public/xsd/uwmetadata/ns1.xsd
  src/phaidra-api/public/xsd/uwmetadata/ns10.xsd
  src/phaidra-api/public/xsd/uwmetadata/ns11.xsd
  src/phaidra-api/public/xsd/uwmetadata/ns12.xsd
  src/phaidra-api/public/xsd/uwmetadata/ns13.xsd
  src/phaidra-api/public/xsd/uwmetadata/ns2.xsd
  src/phaidra-api/public/xsd/uwmetadata/ns3.xsd
  src/phaidra-api/public/xsd/uwmetadata/ns4.xsd
  src/phaidra-api/public/xsd/uwmetadata/ns5.xsd
  src/phaidra-api/public/xsd/uwmetadata/ns6.xsd
  src/phaidra-api/public/xsd/uwmetadata/ns7.xsd
  src/phaidra-api/public/xsd/uwmetadata/ns8.xsd
  src/phaidra-api/public/xsd/uwmetadata/ns9.xsd
  src/phaidra-ui/components/Submit.vue
  src/phaidra-ui/components/dashboard/Latestpreview.vue
  src/phaidra-ui/components/dashboard/Latestuploads.vue
  src/phaidra-ui/locales/deu/index.js
  src/phaidra-ui/pages/admin.vue
  src/phaidra-ui/pages/submit/catalogfetchupload.vue
  src/phaidra-ui/stylus/main.styl
  src/phaidra-vue-components/package.json
  src/phaidra-vue-components/src/components/display/PDProject.vue
  src/phaidra-vue-components/src/components/input/PIAdaptation.vue
  src/phaidra-vue-components/src/components/input/PIForm.vue
  src/phaidra-vue-components/src/components/input/PISpatialGeonames.vue
  src/phaidra-vue-components/src/components/legacy/PDModsRec.vue
  src/phaidra-vue-components/src/store/modules/vocabulary.js
  src/phaidra-vue-components/src/utils/fields.js
  src/phaidra-vue-components/src/utils/json-ld.js
Due: build-api-dist, build-ui

chore(deps): update dependency sass to v1.83.1
  src/phaidra-ui/package-lock.json
  src/phaidra-vue-components/package-lock.json
Due: build-ui

v3.3.15
  docker-compose.yaml
Due: none

update httpd image
  docker-compose.yaml
Due: none

Path conditions:
  build-api-base: any of: dockerfiles/api-base.dockerfile
  build-api-dist: any of: dockerfiles/api-base.dockerfile, dockerfiles/api-dist.dockerfile, src/phaidra-api/**/*
  build-ui: any of: dockerfiles/ui.dockerfile, src/phaidra-ui/**/*, src/phaidra-vue-components/**/*
  build-chronos-base: any of: dockerfiles/chronos-base.dockerfile
  build-chronos-dist: any of: dockerfiles/chronos-base.dockerfile, dockerfiles/chronos-dist.dockerfile, container-init/chronos/**/*
  build-httpd-shib-base: any of: dockerfiles/httpd-shib-base.dockerfile
  build-httpd-demo-dist: any of: dockerfiles/httpd-demo-dist.dockerfile, container_init/httpd/phaidra-demo/conf/phaidra-demo.conf
  build-imageserver: any of: dockerfiles/imageserver.dockerfile
  build-pixelgecko-base: any of: dockerfiles/pixelgecko-base.dockerfile
  build-pixelgecko-dist: any of: dockerfiles/pixelgecko-base.dockerfile, dockerfiles/pixelgecko-dist.dockerfile, src/pixelgecko/**/*
  build-mariadb-phaidra-dist: any of: dockerfiles/mariadb-phaidra-dist.dockerfile, container_init/mariadb/phaidradb/**/*
  build-mariadb-fedora-dist: any of: dockerfiles/mariadb-fedora-dist.dockerfile, container_init/mariadb/fedoradb/**/*
  build-mongodb-dist: any of: dockerfiles/mongodb-dist.dockerfile, container_init/mongodb/**/*
  build-solr-dist: any of: dockerfiles/solr-dist.dockerfile, container_init/solr/**/*
  build-openldap-dist: any of: dockerfiles/openldap-dist.dockerfile, container_init/openldap/**/*
  build-vige-base: any of: dockerfiles/vige-base.dockerfile
  build-vige-dist: any of: dockerfiles/vige-base.dockerfile, dockerfiles/vige-dist.dockerfile, src/vige/**/*
  build-promtail-dist: any of: dockerfiles/promtail-dist.dockerfile, container_init/promtail/promtail-local.config.yaml
  build-loki-dist: any of: dockerfiles/loki-dist.dockerfile, container_init/loki/loki-docker-config.yaml
  build-grafana-dist: any of: dockerfiles/grafana-dist.dockerfile, container_init/grafana/**/*
  build-prometheus-dist: any of: dockerfiles/prometheus-dist.dockerfile, container_init/prometheus/prometheus.yaml
  compose-dev: any of: compose_dev/docker-compose.yaml, components/phaidra-ui/**/*, container_components/solr/**/*
  compose-demo: any of: compose_demo/docker-compose.yaml, container_components/solr/**/*
  compose-ssl: any of: compose_ssl/docker-compose.yaml, container_components/solr/**/*
  compose-shib: any of: compose_shib/docker-compose.yaml, container_components/solr/**/*
  compose-keycloak: any of: compose_shib/docker-compose.yaml, container_components/solr/**/*
  build-website-push-staging: any of: website/**/*, mkdocs.yml
  build-website-push-final: any of: website/**/*, mkdocs.yml
