Repository phaidra/phaidra: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-api-base, build-api-dist, build-ui, build-chronos-base, build-chronos-dist, build-httpd-shib-base, build-httpd-demo-dist, build-imageserver, build-pixelgecko-base, build-pixelgecko-dist, build-mariadb-phaidra-dist, build-mariadb-fedora-dist, build-mongodb-dist, build-solr-dist, build-openldap-dist, build-vige-base, build-vige-dist, build-promtail-dist, build-loki-dist, build-grafana-dist, build-prometheus-dist, compose-dev, compose-demo, compose-ssl, compose-shib, compose-keycloak, build-website-push-staging, build-website-push-final

build-api-base:
  stage: build-base
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-api-dist:
  stage: build-dist
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-ui:
  stage: build-common
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-chronos-base:
  stage: build-base
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-chronos-dist:
  stage: build-dist
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-httpd-shib-base:
  stage: build-base
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-httpd-demo-dist:
  stage: build-dist
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-imageserver:
  stage: build-common
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-pixelgecko-base:
  stage: build-base
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-pixelgecko-dist:
  stage: build-dist
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-mariadb-phaidra-dist:
  stage: build-dist
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-mariadb-fedora-dist:
  stage: build-dist
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-mongodb-dist:
  stage: build-dist
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-solr-dist:
  stage: build-dist
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-openldap-dist:
  stage: build-dist
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-vige-base:
  stage: build-base
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-vige-dist:
  stage: build-dist
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-promtail-dist:
  stage: build-dist
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-loki-dist:
  stage: build-dist
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-grafana-dist:
  stage: build-dist
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

lang attribute for description
  src/phaidra-vue-components/src/components/search/PSearchResults.vue
  src/phaidra-vue-components/src/components/utils/PExpandText.vue
Due: build-ui

html lang attr
  src/phaidra-ui/layouts/default.vue
Due: build-ui

ita lang support on html attr
  src/phaidra-ui/layouts/default.vue
Due: build-ui

focus contrast
  src/phaidra-vue-components/src/components/search/PSearchAutocomplete.vue
  src/phaidra-vue-components/src/components/search/PSearchToolbar.vue
Due: build-ui

vuetify d-sr-only
  src/phaidra-ui/layouts/default.vue
  src/phaidra-ui/pages/admin.vue
  src/phaidra-ui/pages/credits.vue
  src/phaidra-ui/pages/groups.vue
  src/phaidra-ui/pages/help.vue
  src/phaidra-ui/pages/index.vue
  src/phaidra-ui/pages/login.vue
  src/phaidra-ui/pages/repostats.vue
  src/phaidra-ui/pages/search.vue
  src/phaidra-ui/pages/templates.vue
  src/phaidra-ui/pages/termsofuse.vue
  src/phaidra-vue-components/src/components/lists/PLists.vue
Due: build-ui

Translation for h1 sr onyl
  src/phaidra-ui/pages/admin.vue
  src/phaidra-ui/pages/credits.vue
  src/phaidra-ui/pages/groups.vue
  src/phaidra-ui/pages/help.vue
  src/phaidra-ui/pages/index.vue
  src/phaidra-ui/pages/login.vue
  src/phaidra-ui/pages/repostats.vue
  src/phaidra-ui/pages/search.vue
  src/phaidra-ui/pages/templates.vue
  src/phaidra-ui/pages/termsofuse.vue
  src/phaidra-vue-components/src/components/lists/PLists.vue
Due: build-ui

action button translation, Same as tootlip text
  src/phaidra-vue-components/src/components/search/PSearchToolbar.vue
Due: build-ui

add attrs activator slot so that Vuetify adds a11y aria attributes
  src/phaidra-ui/pages/detail/_pid.vue
Due: build-ui

wording of usage statistics link icon tooltip
  src/phaidra-ui/pages/detail/_pid.vue
Due: build-ui

Remove leftover from templates management
  src/phaidra-vue-components/src/components/templates/PTemplates.vue
Due: build-ui

composer cmp in creator roles
  src/phaidra-api/PhaidraAPI/Model/Jsonld/Extraction.pm
Due: build-api-dist

ita translation fix
  src/phaidra-ui/locales/ita.json
Due: build-ui

add icon to Download and Help buttons
  src/phaidra-ui/pages/detail/_pid.vue
  src/phaidra-vue-components/src/components/input/PIForm.vue
Due: build-ui

improve tooltips accessibility
  src/phaidra-ui/components/ext/Header.vue
  src/phaidra-vue-components/src/components/browse/PCollectionGallery.vue
  src/phaidra-vue-components/src/components/groups/PGroups.vue
  src/phaidra-vue-components/src/components/input/PIForm.vue
  src/phaidra-vue-components/src/components/lists/PLists.vue
  src/phaidra-vue-components/src/components/search/PSearchToolbar.vue
  src/phaidra-vue-components/src/components/select/ListDialog.vue
  src/phaidra-vue-components/src/components/templates/PTemplates.vue
Due: build-ui

missing Italian label translation
  src/phaidra-ui/locales/ita.json
Due: build-ui

Fix missing VLB-Systemnummer Uwmetadata label translation
  src/phaidra-api/PhaidraAPI/Model/Uwmetadata/Tree.pm
Due: build-api-dist

Larger save button on Uwmetadata form
  src/phaidra-vue-components/src/components/legacy/PIFormUwm.vue
Due: build-ui

lowercase some Italian translations
  src/phaidra-ui/locales/ita.json
Due: build-ui

Fix Phaidra API Container members metadata example
  src/phaidra-api/public/docs/openapi.json
Due: build-api-dist

theme cookie
  src/phaidra-ui/components/ext/Header.vue
  src/phaidra-ui/vuetify.options.js
Due: build-ui

Add 16 years article to media
  website/assets/media/PHAIDRA/pdf/Report-Blumesberger-et-al-16-years-PHAIDRA.pdf
  website/media/index.md
Due: build-website-push-staging, build-website-push-final

aria hidden for svg icon
  src/phaidra-ui/components/ext/Header.vue
Due: build-ui

remove empty list item in container member Edit menu
  src/phaidra-ui/pages/detail/_pid.vue
Due: build-ui

do not show Replace Data link for Container object
  src/phaidra-ui/pages/detail/_pid.vue
Due: build-ui

add top margin to terms of use content
  src/phaidra-ui/pages/login.vue
  src/phaidra-ui/pages/termsofuse.vue
Due: build-ui

edtf support
  src/phaidra-api/PhaidraAPI/Model/Index.pm
  src/phaidra-api/public/json-schema/jsonld.json
  src/phaidra-vue-components/src/components/input/PIDateEdtf.vue
Due: build-api-dist, build-ui

frontend edtf validation patterns
  src/phaidra-vue-components/src/mixins/validationrules.js
Due: build-ui

add Italian translation for Keyword (without s) metadata field name
  src/phaidra-ui/locales/ita.json
Due: build-ui

json ld schema validation for edtf
  src/phaidra-api/public/json-schema/jsonld.json
Due: build-api-dist

use "Upload" wording also in the hamburger navigation menu
  src/phaidra-ui/components/ext/Header.vue
Due: build-ui

theme color switcher is an icon button
  src/phaidra-ui/components/ext/Header.vue
Due: build-ui

terms of use local translation
  src/phaidra-ui/components/ext/Header.vue
  src/phaidra-ui/pages/login.vue
  src/phaidra-ui/pages/termsofuse.vue
Due: build-ui

Transactions for Fedora model and implementation in PhaidraAPI create_simple - issue #77
  src/phaidra-api/PhaidraAPI/Model/Fedora.pm
  src/phaidra-api/PhaidraAPI/Model/Object.pm
Due: build-api-dist

re-apply attrs attribute to search toolbar tooltips after merge from main
  src/phaidra-vue-components/src/components/search/PSearchToolbar.vue
Due: build-ui

header locale menu accessibility
  src/phaidra-ui/components/ext/Header.vue
Due: build-ui

uncertail example in helper text
  src/phaidra-vue-components/src/components/input/PIDateEdtf.vue
Due: build-ui

add a11y attrs to v-menu components
  src/phaidra-ui/pages/detail/_pid.vue
  src/phaidra-vue-components/src/components/input/PIAdaptation.vue
  src/phaidra-vue-components/src/components/input/PIAlternateIdentifier.vue
  src/phaidra-vue-components/src/components/input/PIAssociation.vue
  src/phaidra-vue-components/src/components/input/PIBfPublication.vue
  src/phaidra-vue-components/src/components/input/PICitation.vue
  src/phaidra-vue-components/src/components/input/PIContainedIn.vue
  src/phaidra-vue-components/src/components/input/PIDateEdmtimespan.vue
  src/phaidra-vue-components/src/components/input/PIDateEdtf.vue
  src/phaidra-vue-components/src/components/input/PIDimension.vue
  src/phaidra-vue-components/src/components/input/PIDuration.vue
  src/phaidra-vue-components/src/components/input/PIEntity.vue
  src/phaidra-vue-components/src/components/input/PIEvent.vue
  src/phaidra-vue-components/src/components/input/PIFile.vue
  src/phaidra-vue-components/src/components/input/PIForm.vue
  src/phaidra-vue-components/src/components/input/PIFunder.vue
  src/phaidra-vue-components/src/components/input/PIInstanceOf.vue
  src/phaidra-vue-components/src/components/input/PILiteral.vue
  src/phaidra-vue-components/src/components/input/PIProject.vue
  src/phaidra-vue-components/src/components/input/PISelect.vue
  src/phaidra-vue-components/src/components/input/PISeries.vue
  src/phaidra-vue-components/src/components/input/PISpatialGeonames.vue
  src/phaidra-vue-components/src/components/input/PISpatialReadonly.vue
  src/phaidra-vue-components/src/components/input/PIStudyPlan.vue
  src/phaidra-vue-components/src/components/input/PISubjectBic.vue
  src/phaidra-vue-components/src/components/input/PISubjectBk.vue
  src/phaidra-vue-components/src/components/input/PISubjectGnd.vue
  src/phaidra-vue-components/src/components/input/PISubjectOefos.vue
  src/phaidra-vue-components/src/components/input/PISubjectThema.vue
  src/phaidra-vue-components/src/components/input/PIUnknown.vue
  src/phaidra-vue-components/src/components/input/PIVocabExtReadonly.vue
  src/phaidra-vue-components/src/components/search/PSearchResults.vue
  src/phaidra-vue-components/src/components/select/RorSearch.vue
Due: build-ui

3d converter pipeline and depends on change
  .gitlab-ci.yml
  docker-compose.yaml
Due: none

Split condition check
  src/phaidra-ui/vuetify.options.js
Due: build-ui

datetime validation change
  src/phaidra-api/public/json-schema/jsonld.json
Due: build-api-dist

Path conditions:
  build-api-base: any of: dockerfiles/api-base.dockerfile
  build-api-dist: any of: dockerfiles/api-base.dockerfile, dockerfiles/api-dist.dockerfile, src/phaidra-api/**/*
  build-ui: any of: dockerfiles/ui.dockerfile, src/phaidra-ui/**/*, src/phaidra-vue-components/**/*
  build-chronos-base: any of: dockerfiles/chronos-base.dockerfile
  build-chronos-dist: any of: dockerfiles/chronos-base.dockerfile, dockerfiles/chronos-dist.dockerfile, container-init/chronos/**/*
  build-httpd-shib-base: any of: dockerfiles/httpd-shib-base.dockerfile
  build-httpd-demo-dist: any of: dockerfiles/httpd-demo-dist.dockerfile, container_init/httpd/phaidra-demo/conf/phaidra-demo.conf
  build-imageserver: any of: dockerfiles/imageserver.dockerfile
  build-pixelgecko-base: any of: dockerfiles/pixelgecko-base.dockerfile
  build-pixelgecko-dist: any of: dockerfiles/pixelgecko-base.dockerfile, dockerfiles/pixelgecko-dist.dockerfile, src/pixelgecko/**/*
  build-mariadb-phaidra-dist: any of: dockerfiles/mariadb-phaidra-dist.dockerfile, container_init/mariadb/phaidradb/**/*
  build-mariadb-fedora-dist: any of: dockerfiles/mariadb-fedora-dist.dockerfile, container_init/mariadb/fedoradb/**/*
  build-mongodb-dist: any of: dockerfiles/mongodb-dist.dockerfile, container_init/mongodb/**/*
  build-solr-dist: any of: dockerfiles/solr-dist.dockerfile, container_init/solr/**/*
  build-openldap-dist: any of: dockerfiles/openldap-dist.dockerfile, container_init/openldap/**/*
  build-vige-base: any of: dockerfiles/vige-base.dockerfile
  build-vige-dist: any of: dockerfiles/vige-base.dockerfile, dockerfiles/vige-dist.dockerfile, src/vige/**/*
  build-promtail-dist: any of: dockerfiles/promtail-dist.dockerfile, container_init/promtail/promtail-local.config.yaml
  build-loki-dist: any of: dockerfiles/loki-dist.dockerfile, container_init/loki/loki-docker-config.yaml
  build-grafana-dist: any of: dockerfiles/grafana-dist.dockerfile, container_init/grafana/**/*
  build-prometheus-dist: any of: dockerfiles/prometheus-dist.dockerfile, container_init/prometheus/prometheus.yaml
  compose-dev: any of: compose_dev/docker-compose.yaml, components/phaidra-ui/**/*, container_components/solr/**/*
  compose-demo: any of: compose_demo/docker-compose.yaml, container_components/solr/**/*
  compose-ssl: any of: compose_ssl/docker-compose.yaml, container_components/solr/**/*
  compose-shib: any of: compose_shib/docker-compose.yaml, container_components/solr/**/*
  compose-keycloak: any of: compose_shib/docker-compose.yaml, container_components/solr/**/*
  build-website-push-staging: any of: website/**/*, mkdocs.yml
  build-website-push-final: any of: website/**/*, mkdocs.yml
