Repository phaidra/phaidra: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-api-base, build-api-dist, build-ui, build-chronos-base, build-chronos-dist, build-httpd-shib-base, build-httpd-demo-dist, build-imageserver, build-pixelgecko-base, build-pixelgecko-dist, build-mariadb-phaidra-dist, build-mariadb-fedora-dist, build-mongodb-dist, build-solr-dist, build-openldap-dist, build-vige-base, build-vige-dist, build-promtail-dist, build-loki-dist, build-grafana-dist, build-prometheus-dist, compose-dev, compose-demo, compose-ssl, compose-shib, compose-keycloak, build-website-push-staging, build-website-push-final

build-api-base:
  stage: build-base
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-api-dist:
  stage: build-dist
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-ui:
  stage: build-common
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-chronos-base:
  stage: build-base
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-chronos-dist:
  stage: build-dist
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-httpd-shib-base:
  stage: build-base
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-httpd-demo-dist:
  stage: build-dist
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-imageserver:
  stage: build-common
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-pixelgecko-base:
  stage: build-base
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-pixelgecko-dist:
  stage: build-dist
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-mariadb-phaidra-dist:
  stage: build-dist
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-mariadb-fedora-dist:
  stage: build-dist
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-mongodb-dist:
  stage: build-dist
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-solr-dist:
  stage: build-dist
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-openldap-dist:
  stage: build-dist
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-vige-base:
  stage: build-base
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-vige-dist:
  stage: build-dist
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-promtail-dist:
  stage: build-dist
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-loki-dist:
  stage: build-dist
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-grafana-dist:
  stage: build-dist
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

group user add
  src/phaidra-vue-components/src/components/groups/PGroups.vue
Due: build-ui

Add Italian translations in licences phaidra api vocabulary
  src/phaidra-api/public/licenses/licenses.json
Due: build-api-dist

mapping marc to jsonld
  src/phaidra-api/PhaidraAPI.pm
  src/phaidra-api/PhaidraAPI/Controller/Alma.pm
  src/phaidra-api/PhaidraAPI/Controller/Mappings.pm
  src/phaidra-api/PhaidraAPI/Controller/Oai.pm
  src/phaidra-api/PhaidraAPI/Controller/Oaitest.pm
  src/phaidra-api/PhaidraAPI/Controller/Utils.pm
  src/phaidra-api/PhaidraAPI/Model/Alma.pm
  src/phaidra-api/PhaidraAPI/Model/Mappings/Export/Dc.pm
  src/phaidra-api/PhaidraAPI/Model/Mappings/Export/Edm.pm
  src/phaidra-api/PhaidraAPI/Model/Mappings/Export/Lom.pm
  src/phaidra-api/PhaidraAPI/Model/Mappings/Export/Openaire.pm
  src/phaidra-api/PhaidraAPI/Model/Mappings/Import/Marc.pm
  src/phaidra-api/PhaidraAPI/Model/Util.pm
  src/phaidra-ui/pages/submit/catalogfetchuploadold.vue
  src/phaidra-vue-components/src/components/display/PDBfPublication.vue
Due: build-api-dist, build-ui

new api and ui versions
  docker-compose.yaml
Due: none

some fixes
  src/phaidra-api/PhaidraAPI.pm
  src/phaidra-api/PhaidraAPI/Controller/Utils.pm
  src/phaidra-api/PhaidraAPI/Model/Datacite.pm
  src/phaidra-vue-components/src/components/select/ObjectFromSearch.vue
Due: build-api-dist, build-ui

adding sql changes from issue #76
  CHANGELOG.md
  container_init/mariadb/phaidradb/phaidradb.sql.gz
Due: build-mariadb-phaidra-dist

forgotten migration script
  src/phaidra-api/migrations/v3.3.17.pl
Due: build-api-dist

api, mariadb-phaidra versions
  docker-compose.yaml
Due: none

Remove "Physical Location (Select)" from "add metadata field" list
  src/phaidra-vue-components/src/utils/fields.js
Due: build-ui

add legacy vocabulary terms to uwmetadata tree
  src/phaidra-api/PhaidraAPI/Model/Uwmetadata/Tree.pm
Due: build-api-dist

add some legacy vocabulary terms to uwmetadata validation
  src/phaidra-api/public/xsd/uwmetadata/ns0.xsd
  src/phaidra-api/public/xsd/uwmetadata/ns1.xsd
  src/phaidra-api/public/xsd/uwmetadata/ns10.xsd
  src/phaidra-api/public/xsd/uwmetadata/ns11.xsd
  src/phaidra-api/public/xsd/uwmetadata/ns12.xsd
  src/phaidra-api/public/xsd/uwmetadata/ns13.xsd
  src/phaidra-api/public/xsd/uwmetadata/ns2.xsd
  src/phaidra-api/public/xsd/uwmetadata/ns3.xsd
  src/phaidra-api/public/xsd/uwmetadata/ns4.xsd
  src/phaidra-api/public/xsd/uwmetadata/ns5.xsd
  src/phaidra-api/public/xsd/uwmetadata/ns6.xsd
  src/phaidra-api/public/xsd/uwmetadata/ns7.xsd
  src/phaidra-api/public/xsd/uwmetadata/ns8.xsd
  src/phaidra-api/public/xsd/uwmetadata/ns9.xsd
Due: build-api-dist

api minor fixes
  src/phaidra-api/lib/phaidra_directory/Phaidra/Directory/Default.pm
Due: build-api-dist

fix warning
  src/phaidra-api/PhaidraAPI/Controller/Object.pm
Due: build-api-dist

forgotten header
  src/phaidra-vue-components/src/components/select/UserSearchDialog.vue
Due: build-ui

hide sort links and disable show-members button when collection is empty
  src/phaidra-ui/pages/detail/_pid.vue
Due: build-ui

hide replace-data link for collection
  src/phaidra-ui/pages/detail/_pid.vue
Due: build-ui

migration script fix
  src/phaidra-api/migrations/v3.3.17.pl
Due: build-api-dist

Removing --project-name from examples since there is a default in compose.
  README.md
Due: none

Update docker-compose.yaml
  docker-compose.yaml
Due: none

Italian translation of some skos vocabularies
  src/phaidra-vue-components/src/store/modules/vocabulary.js
Due: build-ui

red delete icon
  src/phaidra-vue-components/src/components/groups/PGroups.vue
  src/phaidra-vue-components/src/components/lists/PLists.vue
  src/phaidra-vue-components/src/components/management/PMRelationships.vue
Due: build-ui

typo
  src/phaidra-vue-components/src/store/modules/vocabulary.js
Due: build-ui

Update README.md, suggest to set COMPOSE_PROJECT_NAME in .env. That helps in reproducibility and consistency with other settings.
  README.md
Due: none

Update README.md,
  README.md
Due: none

enable http2 in apache2
  container_init/httpd/phaidra-demo/conf/phaidra-demo.conf
  container_init/httpd/phaidra-keycloak/conf/phaidra-keycloak.conf
  container_init/httpd/phaidra-shib/conf/phaidra-shib.conf
  container_init/httpd/phaidra-ssl/conf/phaidra-ssl.conf
Due: build-httpd-demo-dist

run database cleaner every day instead of once a month
  container_init/chronos/chronos-crontab.txt
Due: none

api: log duration of imageserver calls
  src/phaidra-api/PhaidraAPI/Controller/Imageserver.pm
  src/phaidra-api/PhaidraAPI/Controller/Object.pm
Due: build-api-dist

add dummy italian terms of use
  container_init/mariadb/phaidradb/phaidradb.sql.gz
Due: build-mariadb-phaidra-dist

Update docker-compose.yaml: httpd-* and api images
  docker-compose.yaml
Due: none

api: log url when logging imageserver calls
  src/phaidra-api/PhaidraAPI/Controller/Object.pm
Due: build-api-dist

api: log objectID when logging imageserver calls
  src/phaidra-api/PhaidraAPI/Controller/Object.pm
Due: build-api-dist

Update docker-compose.yaml: api images
  docker-compose.yaml
Due: none

json for locale files
  src/phaidra-ui/locales/deu.json
  src/phaidra-ui/locales/deu/index.js
  src/phaidra-ui/locales/eng.json
  src/phaidra-ui/locales/eng/index.js
  src/phaidra-ui/locales/ita.json
  src/phaidra-ui/locales/ita/index.js
  src/phaidra-vue-components/src/i18n/deu.js
  src/phaidra-vue-components/src/i18n/deu.json
  src/phaidra-vue-components/src/i18n/eng.js
  src/phaidra-vue-components/src/i18n/eng.json
  src/phaidra-vue-components/src/i18n/i18n.js
  src/phaidra-vue-components/src/i18n/ita.js
  src/phaidra-vue-components/src/i18n/ita.json
Due: build-ui

MIT license disclaimer change
  src/phaidra-vue-components/src/store/modules/vocabulary.js
Due: build-ui

missing locale config in nuxt
  src/phaidra-ui/nuxt.config.js
Due: build-ui

remove alert, note (checkbox), note (checkbox with link) from Add Metadata Field list
  src/phaidra-vue-components/src/utils/fields.js
Due: build-ui

translate selected field name
  src/phaidra-vue-components/src/components/input/PIForm.vue
Due: build-ui

is in series page start and end enable
  src/phaidra-vue-components/src/utils/fields.js
Due: build-ui

minor ui fixes
  src/phaidra-vue-components/src/components/groups/PGroups.vue
  src/phaidra-vue-components/src/components/lists/PLists.vue
  src/phaidra-vue-components/src/components/search/PSearchFilters.vue
  src/phaidra-vue-components/src/components/select/SelectLanguage.vue
Due: build-ui

Path conditions:
  build-api-base: any of: dockerfiles/api-base.dockerfile
  build-api-dist: any of: dockerfiles/api-base.dockerfile, dockerfiles/api-dist.dockerfile, src/phaidra-api/**/*
  build-ui: any of: dockerfiles/ui.dockerfile, src/phaidra-ui/**/*, src/phaidra-vue-components/**/*
  build-chronos-base: any of: dockerfiles/chronos-base.dockerfile
  build-chronos-dist: any of: dockerfiles/chronos-base.dockerfile, dockerfiles/chronos-dist.dockerfile, container-init/chronos/**/*
  build-httpd-shib-base: any of: dockerfiles/httpd-shib-base.dockerfile
  build-httpd-demo-dist: any of: dockerfiles/httpd-demo-dist.dockerfile, container_init/httpd/phaidra-demo/conf/phaidra-demo.conf
  build-imageserver: any of: dockerfiles/imageserver.dockerfile
  build-pixelgecko-base: any of: dockerfiles/pixelgecko-base.dockerfile
  build-pixelgecko-dist: any of: dockerfiles/pixelgecko-base.dockerfile, dockerfiles/pixelgecko-dist.dockerfile, src/pixelgecko/**/*
  build-mariadb-phaidra-dist: any of: dockerfiles/mariadb-phaidra-dist.dockerfile, container_init/mariadb/phaidradb/**/*
  build-mariadb-fedora-dist: any of: dockerfiles/mariadb-fedora-dist.dockerfile, container_init/mariadb/fedoradb/**/*
  build-mongodb-dist: any of: dockerfiles/mongodb-dist.dockerfile, container_init/mongodb/**/*
  build-solr-dist: any of: dockerfiles/solr-dist.dockerfile, container_init/solr/**/*
  build-openldap-dist: any of: dockerfiles/openldap-dist.dockerfile, container_init/openldap/**/*
  build-vige-base: any of: dockerfiles/vige-base.dockerfile
  build-vige-dist: any of: dockerfiles/vige-base.dockerfile, dockerfiles/vige-dist.dockerfile, src/vige/**/*
  build-promtail-dist: any of: dockerfiles/promtail-dist.dockerfile, container_init/promtail/promtail-local.config.yaml
  build-loki-dist: any of: dockerfiles/loki-dist.dockerfile, container_init/loki/loki-docker-config.yaml
  build-grafana-dist: any of: dockerfiles/grafana-dist.dockerfile, container_init/grafana/**/*
  build-prometheus-dist: any of: dockerfiles/prometheus-dist.dockerfile, container_init/prometheus/prometheus.yaml
  compose-dev: any of: compose_dev/docker-compose.yaml, components/phaidra-ui/**/*, container_components/solr/**/*
  compose-demo: any of: compose_demo/docker-compose.yaml, container_components/solr/**/*
  compose-ssl: any of: compose_ssl/docker-compose.yaml, container_components/solr/**/*
  compose-shib: any of: compose_shib/docker-compose.yaml, container_components/solr/**/*
  compose-keycloak: any of: compose_shib/docker-compose.yaml, container_components/solr/**/*
  build-website-push-staging: any of: website/**/*, mkdocs.yml
  build-website-push-final: any of: website/**/*, mkdocs.yml
