Repository phaidra/phaidra: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-api-base, build-api-dist, build-ui, build-chronos-base, build-chronos-dist, build-httpd-shib-base, build-httpd-demo-dist, build-imageserver, build-pixelgecko-base, build-pixelgecko-dist, build-mariadb-phaidra-dist, build-mariadb-fedora-dist, build-mongodb-dist, build-solr-dist, build-openldap-dist, build-vige-base, build-vige-dist, build-promtail-dist, build-loki-dist, build-grafana-dist, build-prometheus-dist, compose-dev, compose-demo, compose-ssl, compose-shib, compose-keycloak, build-website-push-staging, build-website-push-final

Path conditions:
  build-api-base: any of: dockerfiles/api-base.dockerfile
  build-api-dist: any of: dockerfiles/api-base.dockerfile, dockerfiles/api-dist.dockerfile, src/phaidra-api/**/*
  build-ui: any of: dockerfiles/ui.dockerfile, src/phaidra-ui/**/*, src/phaidra-vue-components/**/*
  build-chronos-base: any of: dockerfiles/chronos-base.dockerfile
  build-chronos-dist: any of: dockerfiles/chronos-base.dockerfile, dockerfiles/chronos-dist.dockerfile, container-init/chronos/**/*
  build-httpd-shib-base: any of: dockerfiles/httpd-shib-base.dockerfile
  build-httpd-demo-dist: any of: dockerfiles/httpd-demo-dist.dockerfile, container_init/httpd/phaidra-demo/conf/phaidra-demo.conf
  build-imageserver: any of: dockerfiles/imageserver.dockerfile
  build-pixelgecko-base: any of: dockerfiles/pixelgecko-base.dockerfile
  build-pixelgecko-dist: any of: dockerfiles/pixelgecko-base.dockerfile, dockerfiles/pixelgecko-dist.dockerfile, src/pixelgecko/**/*
  build-mariadb-phaidra-dist: any of: dockerfiles/mariadb-phaidra-dist.dockerfile, container_init/mariadb/phaidradb/**/*
  build-mariadb-fedora-dist: any of: dockerfiles/mariadb-fedora-dist.dockerfile, container_init/mariadb/fedoradb/**/*
  build-mongodb-dist: any of: dockerfiles/mongodb-dist.dockerfile, container_init/mongodb/**/*
  build-solr-dist: any of: dockerfiles/solr-dist.dockerfile, container_init/solr/**/*
  build-openldap-dist: any of: dockerfiles/openldap-dist.dockerfile, container_init/openldap/**/*
  build-vige-base: any of: dockerfiles/vige-base.dockerfile
  build-vige-dist: any of: dockerfiles/vige-base.dockerfile, dockerfiles/vige-dist.dockerfile, src/vige/**/*
  build-promtail-dist: any of: dockerfiles/promtail-dist.dockerfile, container_init/promtail/promtail-local.config.yaml
  build-loki-dist: any of: dockerfiles/loki-dist.dockerfile, container_init/loki/loki-docker-config.yaml
  build-grafana-dist: any of: dockerfiles/grafana-dist.dockerfile, container_init/grafana/**/*
  build-prometheus-dist: any of: dockerfiles/prometheus-dist.dockerfile, container_init/prometheus/prometheus.yaml
  compose-dev: any of: compose_dev/docker-compose.yaml, components/phaidra-ui/**/*, container_components/solr/**/*
  compose-demo: any of: compose_demo/docker-compose.yaml, container_components/solr/**/*
  compose-ssl: any of: compose_ssl/docker-compose.yaml, container_components/solr/**/*
  compose-shib: any of: compose_shib/docker-compose.yaml, container_components/solr/**/*
  compose-keycloak: any of: compose_shib/docker-compose.yaml, container_components/solr/**/*
  build-website-push-staging: any of: website/**/*, mkdocs.yml
  build-website-push-final: any of: website/**/*, mkdocs.yml

Add tooltip to Copy To Clipboard button in Link to Search Result dialog
  src/phaidra-vue-components/src/components/search/PSearchToolbar.vue
Due: build-ui

added aria label for copy to clipboard
  src/phaidra-ui/pages/detail/_pid.vue
Due: build-ui

unordered list cards
  src/phaidra-ui/pages/detail/_pid.vue
Due: build-ui

PIForm padding fixes
  src/phaidra-vue-components/src/components/input/PIForm.vue
Due: build-ui

margins of Back to Detail Page button
  src/phaidra-ui/pages/metadata/_pid/edit.vue
  src/phaidra-ui/pages/metadata/_pid/index.vue
  src/phaidra-ui/pages/relationships/_pid.vue
  src/phaidra-ui/pages/rights/_pid.vue
  src/phaidra-ui/pages/sort/_pid.vue
  src/phaidra-ui/pages/sorttextinput/_pid.vue
  src/phaidra-ui/pages/upload-webversion/_pid.vue
  src/phaidra-ui/pages/uwmetadata/_pid/edit.vue
  src/phaidra-vue-components/src/components/select/ObjectFromSearch.vue
  src/phaidra-vue-components/src/components/utils/PFeedback.vue
Due: build-ui

add bottom margin to breadcrumbs
  src/phaidra-ui/components/PBreadcrumbs.vue
Due: build-ui

wording
  src/phaidra-vue-components/src/components/groups/PGroups.vue
Due: build-ui

changed heading hierarchy
  src/phaidra-ui/components/Credits.vue
  src/phaidra-ui/layouts/error.vue
  src/phaidra-ui/pages/detail/_pid.vue
  src/phaidra-ui/pages/notfound.vue
  src/phaidra-vue-components/src/components/search/PSearch.vue
  src/phaidra-vue-components/src/components/search/PSearchResults.vue
Due: build-ui

v-container -> div, spacing fixes
  src/phaidra-ui/components/Submit.vue
  src/phaidra-ui/pages/templates.vue
  src/phaidra-vue-components/src/components/input/PIForm.vue
  src/phaidra-vue-components/src/components/legacy/PIFormUwm.vue
  src/phaidra-vue-components/src/components/lists/PLists.vue
  src/phaidra-vue-components/src/components/management/PMRelationships.vue
  src/phaidra-vue-components/src/components/management/PMRights.vue
  src/phaidra-vue-components/src/components/search/PSearch.vue
Due: build-ui

add tooltip on detail page Remove Collection Member icon button
  src/phaidra-ui/pages/detail/_pid.vue
Due: build-ui

add tootips on object lists and relationships pages
  src/phaidra-vue-components/src/components/lists/PLists.vue
  src/phaidra-vue-components/src/components/management/PMRelationships.vue
Due: build-ui

detail page: hide collection members thumbnail on mobile, fix margins of container members list
  src/phaidra-ui/pages/detail/_pid.vue
Due: build-ui

api/ui version
  docker-compose.yaml
Due: none

alt attribute on p-img
  src/phaidra-ui/components/dashboard/Latestuploads.vue
  src/phaidra-ui/pages/detail/_pid.vue
  src/phaidra-vue-components/src/components/search/PSearchResults.vue
  src/phaidra-vue-components/src/components/utils/PSortableSolrDoc.vue
Due: build-ui

extra roles added in search result
  src/phaidra-vue-components/src/components/search/PSearchResults.vue
Due: build-ui

sanitize orcid
  src/phaidra-api/PhaidraAPI/Model/Mappings/Export/Dublincoretest.pm
Due: build-api-dist

always show notation (there is nothing else sometimes)
  src/phaidra-vue-components/src/components/management/PMRights.vue
Due: build-ui

ui versiobn
  docker-compose.yaml
Due: none

fixity camel conf
  camel-toolbox-config/configuration.properties
  docker-compose.yaml
  scripts/fixity_handler.sh
Due: none

fixity mongo db auth issue resolved
  docker-compose.yaml
  scripts/fixity_handler.sh
Due: none

aria label empty for pagination
  src/phaidra-vue-components/src/components/search/PSearch.vue
Due: build-ui

empty aria label
  src/phaidra-vue-components/src/components/search/PSearch.vue
Due: build-ui

remove v-container leftover after merge from main
  src/phaidra-vue-components/src/components/management/PMRights.vue
Due: build-ui

pagination wrapper label update
  src/phaidra-ui/pages/detail/_pid.vue
  src/phaidra-vue-components/src/components/search/PSearch.vue
Due: build-ui

internal server error translation
  src/phaidra-ui/locales/deu.json
  src/phaidra-ui/locales/eng.json
  src/phaidra-ui/locales/ita.json
Due: build-ui

login page margins fixes
  src/phaidra-ui/pages/login.vue
Due: build-ui

fix margins on metadata section of detail page
  src/phaidra-ui/pages/detail/_pid.vue
  src/phaidra-vue-components/src/components/display/PDJsonldLayout.vue
  src/phaidra-vue-components/src/components/input/PIForm.vue
  src/phaidra-vue-components/src/components/legacy/PDModsRec.vue
  src/phaidra-vue-components/src/components/legacy/PDUwmRec.vue
Due: build-ui

default home page margins fix for mobile
  src/phaidra-ui/components/ext/Home.vue
Due: build-ui

no gutters on wrapper v-row of main column
  src/phaidra-ui/components/ext/Home.vue
  src/phaidra-ui/layouts/default.vue
Due: build-ui

ui version
  docker-compose.yaml
Due: none

add alternative version thumbnail and some margins
  src/phaidra-ui/pages/detail/_pid.vue
Due: build-ui

margins on tombstone message
  src/phaidra-ui/pages/detail/_pid.vue
Due: build-ui

update Italian translations
  src/phaidra-ui/locales/ita.json
Due: build-ui

muti stage docker file for camel build
  docker-compose.yaml
  dockerfiles/camel.dockerfile
Due: none

camel docker file path update
  docker-compose.yaml
Due: none

minor fixes to margins and typography
  src/phaidra-ui/components/PBreadcrumbs.vue
  src/phaidra-ui/components/ext/Home.vue
  src/phaidra-ui/pages/login.vue
  src/phaidra-vue-components/src/components/search/PSearch.vue
Due: build-ui

paddings and margins
  src/phaidra-ui/components/Submit.vue
  src/phaidra-vue-components/src/components/search/PSearch.vue
Due: build-ui

camel fixity ci build and cron job
  .gitlab-ci.yml
  container_init/chronos/camel-fixity-checker.bash
  container_init/chronos/chronos-crontab.txt
Due: none

Label in switch default
  src/phaidra-ui/pages/detail/_pid.vue
Due: build-ui

Changed to 15th every second month at 20:00
  container_init/chronos/chronos-crontab.txt
Due: none
