Repository phaidra/phaidra: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-api-base, build-api-dist, build-ui, build-chronos-base, build-chronos-dist, build-httpd-shib-base, build-httpd-demo-dist, build-imageserver, build-pixelgecko-base, build-pixelgecko-dist, build-mariadb-phaidra-dist, build-mariadb-fedora-dist, build-mongodb-dist, build-solr-dist, build-openldap-dist, build-vige-base, build-vige-dist, build-promtail-dist, build-loki-dist, build-grafana-dist, build-prometheus-dist, compose-dev, compose-demo, compose-ssl, compose-shib, compose-keycloak, build-website-push-staging, build-website-push-final

Path conditions:
  build-api-base: any of: dockerfiles/api-base.dockerfile
  build-api-dist: any of: dockerfiles/api-base.dockerfile, dockerfiles/api-dist.dockerfile, src/phaidra-api/**/*
  build-ui: any of: dockerfiles/ui.dockerfile, src/phaidra-ui/**/*, src/phaidra-vue-components/**/*
  build-chronos-base: any of: dockerfiles/chronos-base.dockerfile
  build-chronos-dist: any of: dockerfiles/chronos-base.dockerfile, dockerfiles/chronos-dist.dockerfile, container-init/chronos/**/*
  build-httpd-shib-base: any of: dockerfiles/httpd-shib-base.dockerfile
  build-httpd-demo-dist: any of: dockerfiles/httpd-demo-dist.dockerfile, container_init/httpd/phaidra-demo/conf/phaidra-demo.conf
  build-imageserver: any of: dockerfiles/imageserver.dockerfile
  build-pixelgecko-base: any of: dockerfiles/pixelgecko-base.dockerfile
  build-pixelgecko-dist: any of: dockerfiles/pixelgecko-base.dockerfile, dockerfiles/pixelgecko-dist.dockerfile, src/pixelgecko/**/*
  build-mariadb-phaidra-dist: any of: dockerfiles/mariadb-phaidra-dist.dockerfile, container_init/mariadb/phaidradb/**/*
  build-mariadb-fedora-dist: any of: dockerfiles/mariadb-fedora-dist.dockerfile, container_init/mariadb/fedoradb/**/*
  build-mongodb-dist: any of: dockerfiles/mongodb-dist.dockerfile, container_init/mongodb/**/*
  build-solr-dist: any of: dockerfiles/solr-dist.dockerfile, container_init/solr/**/*
  build-openldap-dist: any of: dockerfiles/openldap-dist.dockerfile, container_init/openldap/**/*
  build-vige-base: any of: dockerfiles/vige-base.dockerfile
  build-vige-dist: any of: dockerfiles/vige-base.dockerfile, dockerfiles/vige-dist.dockerfile, src/vige/**/*
  build-promtail-dist: any of: dockerfiles/promtail-dist.dockerfile, container_init/promtail/promtail-local.config.yaml
  build-loki-dist: any of: dockerfiles/loki-dist.dockerfile, container_init/loki/loki-docker-config.yaml
  build-grafana-dist: any of: dockerfiles/grafana-dist.dockerfile, container_init/grafana/**/*
  build-prometheus-dist: any of: dockerfiles/prometheus-dist.dockerfile, container_init/prometheus/prometheus.yaml
  compose-dev: any of: compose_dev/docker-compose.yaml, components/phaidra-ui/**/*, container_components/solr/**/*
  compose-demo: any of: compose_demo/docker-compose.yaml, container_components/solr/**/*
  compose-ssl: any of: compose_ssl/docker-compose.yaml, container_components/solr/**/*
  compose-shib: any of: compose_shib/docker-compose.yaml, container_components/solr/**/*
  compose-keycloak: any of: compose_shib/docker-compose.yaml, container_components/solr/**/*
  build-website-push-staging: any of: website/**/*, mkdocs.yml
  build-website-push-final: any of: website/**/*, mkdocs.yml

fix param in config call in metadata exports
  src/phaidra-api/PhaidraAPI/Model/Mappings/Export/Dublincore.pm
  src/phaidra-api/PhaidraAPI/Model/Mappings/Export/Dublincoretest.pm
  src/phaidra-api/PhaidraAPI/Model/Mappings/Export/Openaire.pm
Due: build-api-dist

api version
  docker-compose.yaml
Due: none

fix config read in ir authentication
  src/phaidra-api/PhaidraAPI/Controller/Authentication.pm
Due: build-api-dist

italian translation fix bf:note
  src/phaidra-ui/locales/ita.json
Due: build-ui

small i18n fix
  src/phaidra-ui/locales/deu.json
Due: build-ui

wording fix
  src/phaidra-ui/components/bulk-upload/CompletionOverlay.vue
Due: build-ui

add an italian translation
  src/phaidra-ui/locales/ita.json
Due: build-ui

fix indexing and previewing books (eg when there is not PDF)
  src/phaidra-api/PhaidraAPI/Controller/Object.pm
  src/phaidra-api/PhaidraAPI/Model/Index.pm
Due: build-api-dist

solr fields add migration script
  src/phaidra-api/migrations/add_solr_fields.pl
Due: build-api-dist

added file formats cms page
  src/phaidra-ui/components/ext/FileFormats.vue
  src/phaidra-ui/locales/deu.json
  src/phaidra-ui/pages/admin.vue
  src/phaidra-ui/pages/file-formats.vue
  src/phaidra-ui/store/index.js
Due: build-ui

more Vuetify components available in runtime templates
  src/phaidra-ui/plugins/vuetify-runtime-components.js
Due: build-ui

doi import for upload form
  src/phaidra-ui/pages/submit/upload.vue
  src/phaidra-vue-components/src/components/input/PIForm.vue
  src/phaidra-vue-components/src/components/utils/PDoiImport.vue
Due: build-ui

removed title query param implementation in collection template
  src/phaidra-ui/pages/collections/_collection.vue
Due: build-ui

bulk upload firstname mapped to metadata givenName
  src/phaidra-ui/pages/bulk-upload/upload.vue
Due: build-ui

Total object count in custom home cms
  src/phaidra-ui/components/ext/Home.vue
Due: build-ui

Changed formatsInfo to vocabularies
  src/phaidra-vue-components/src/components/input/PIResourceType.vue
  src/phaidra-vue-components/src/store/modules/vocabulary.js
Due: build-ui

template-id as title for the page
  src/phaidra-ui/pages/collections/_collection.vue
Due: build-ui

add role student also to json schema
  src/phaidra-api/public/json-schema/jsonld.json
Due: build-api-dist

object count caching
  src/phaidra-api/PhaidraAPI.pm
  src/phaidra-api/PhaidraAPI/Controller/Stats.pm
  src/phaidra-api/PhaidraAPI/Model/Stats.pm
  src/phaidra-ui/components/ext/Home.vue
Due: build-api-dist, build-ui

display schema:birthDate in brackets
  src/phaidra-vue-components/src/components/display/PDEntity.vue
Due: build-ui

reverted template id as collection
  src/phaidra-ui/pages/collections/_collection.vue
Due: build-ui

add f6 support for page detail view
  src/phaidra-api/PhaidraAPI/Model/Search.pm
Due: build-api-dist

typo off
  src/phaidra-vue-components/src/components/display/PDEntity.vue
Due: build-ui

stats api to get obj counts for home
  src/phaidra-api/PhaidraAPI.pm
  src/phaidra-api/PhaidraAPI/Controller/Stats.pm
  src/phaidra-api/PhaidraAPI/Model/Stats.pm
  src/phaidra-ui/components/ext/Home.vue
Due: build-api-dist, build-ui

cache for 1 day
  src/phaidra-api/PhaidraAPI/Model/Stats.pm
Due: build-api-dist

update Italian translations
  src/phaidra-ui/locales/ita.json
Due: build-ui

solr/api/ui version
  docker-compose.yaml
Due: none

api/ui version
  docker-compose.yaml
Due: none

add pdf_extraction to ci/cd
  .gitlab-ci.yml
Due: none

pdf_extraction ci/cd test
  src/pdf_extraction/index.js
Due: none

pdf_extraction version
  docker-compose.yaml
Due: none

stats controller method change
  src/phaidra-api/PhaidraAPI.pm
  src/phaidra-api/PhaidraAPI/Controller/Stats.pm
  src/phaidra-api/PhaidraAPI/Model/Stats.pm
Due: build-api-dist

glbt conversion logic
  src/3d/index.js
  src/3d/package.json
  src/phaidra-api/PhaidraAPI/Controller/Object.pm
  src/phaidra-api/PhaidraAPI/Model/Hooks.pm
  src/phaidra-ui/pages/detail/_pid.vue
  src/phaidra-vue-components/src/components/input/PIFile.vue
  src/phaidra-vue-components/src/store/modules/vocabulary.js
Due: build-api-dist, build-ui

glb file handling in three js
  src/phaidra-api/PhaidraAPI/Controller/Object.pm
  src/phaidra-api/PhaidraAPI/Model/Threed.pm
  src/phaidra-api/templates/threed/viewer.html.ep
Due: build-api-dist

lighting and the zoom of the object changed
  src/phaidra-api/templates/threed/viewer.html.ep
Due: build-api-dist

3d-converter/api/ui version
  docker-compose.yaml
Due: none

3d resource file url return instead of base 64 content
  src/phaidra-api/PhaidraAPI.pm
  src/phaidra-api/PhaidraAPI/Controller/Object.pm
  src/phaidra-api/PhaidraAPI/Controller/Threed.pm
  src/phaidra-api/PhaidraAPI/Model/Threed.pm
  src/phaidra-api/templates/threed/viewer.html.ep
Due: build-api-dist
