Repository phaidra/phaidra: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-api-base, build-api-dist, build-ui, build-chronos-base, build-chronos-dist, build-httpd-shib-base, build-httpd-demo-dist, build-imageserver, build-pixelgecko-base, build-pixelgecko-dist, build-mariadb-phaidra-dist, build-mariadb-fedora-dist, build-mongodb-dist, build-solr-dist, build-openldap-dist, build-vige-base, build-vige-dist, build-promtail-dist, build-loki-dist, build-grafana-dist, build-prometheus-dist, compose-dev, compose-demo, compose-ssl, compose-shib, compose-keycloak, build-website-push-staging, build-website-push-final

build-api-base:
  stage: build-base
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-api-dist:
  stage: build-dist
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-ui:
  stage: build-common
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-chronos-base:
  stage: build-base
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-chronos-dist:
  stage: build-dist
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-httpd-shib-base:
  stage: build-base
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-httpd-demo-dist:
  stage: build-dist
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-imageserver:
  stage: build-common
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-pixelgecko-base:
  stage: build-base
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-pixelgecko-dist:
  stage: build-dist
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-mariadb-phaidra-dist:
  stage: build-dist
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-mariadb-fedora-dist:
  stage: build-dist
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-mongodb-dist:
  stage: build-dist
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-solr-dist:
  stage: build-dist
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-openldap-dist:
  stage: build-dist
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-vige-base:
  stage: build-base
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-vige-dist:
  stage: build-dist
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-promtail-dist:
  stage: build-dist
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-loki-dist:
  stage: build-dist
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-grafana-dist:
  stage: build-dist
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

fix tab text color on admin page
  src/phaidra-ui/pages/admin.vue
Due: build-ui

spotted another typo
  src/phaidra-ui/vuetify.options.js
Due: build-ui

3d object converter
  docker-compose.yaml
  dockerfiles/3d.dockerfile
  src/3d/index.js
  src/3d/package.json
  src/phaidra-api/PhaidraAPI.pm
  src/phaidra-api/PhaidraAPI/Controller/Threed.pm
  src/phaidra-api/PhaidraAPI/Model/Hooks.pm
  src/phaidra-ui/components/ThreedViewer.vue
  src/phaidra-ui/package.json
  src/phaidra-ui/pages/detail/_pid.vue
Due: build-api-dist, build-ui

threed viewer in api and mimetype for obj
  src/phaidra-api/PhaidraAPI/Controller/Threed.pm
  src/phaidra-api/PhaidraAPI/Model/Hooks.pm
  src/phaidra-api/PhaidraAPI/Model/Threed.pm
  src/phaidra-api/public/threejs/build/GLTFLoader.js
  src/phaidra-api/public/threejs/build/OrbitControls.js
  src/phaidra-api/public/threejs/build/three.min.js
  src/phaidra-api/templates/threed/processing.html.ep
  src/phaidra-api/templates/threed/viewer.html.ep
  src/phaidra-ui/components/ThreedViewer.vue
  src/phaidra-ui/package.json
  src/phaidra-ui/pages/detail/_pid.vue
  src/phaidra-vue-components/src/components/input/PIForm.vue
Due: build-api-dist, build-ui

added col class for uwmetadata wrapper
  src/phaidra-vue-components/src/components/legacy/PDUwmRec.vue
Due: build-ui

use default Vuetify card text color
  src/phaidra-ui/assets/variables.scss
  src/phaidra-ui/layouts/default.vue
  src/phaidra-vue-components/src/components/display/PDJsonld.vue
Due: build-ui

dashboard styles fixes for dark theme support
  src/phaidra-ui/components/dashboard/Cmodels.vue
  src/phaidra-ui/components/dashboard/Latestuploads.vue
  src/phaidra-ui/components/dashboard/Uploads.vue
Due: build-ui

minor UI fixes
  src/phaidra-ui/pages/admin.vue
Due: build-ui

add lcnaf and isni identifiers to vocabulary id resolver
  src/phaidra-vue-components/src/mixins/vocabulary.js
Due: build-ui

prevent uninitialized S3_ENABLED env variable warning message in api log
  src/phaidra-api/PhaidraAPI/Controller/Octets.pm
  src/phaidra-api/PhaidraAPI/Model/Fedora.pm
Due: build-api-dist

fix dashboard uploads graph colours
  src/phaidra-ui/components/dashboard/Uploads.vue
Due: build-ui

Search filters title colour
  src/phaidra-vue-components/src/components/search/PSearch.vue
Due: build-ui

various card title and button colours fixes
  src/phaidra-vue-components/src/components/input/PIForm.vue
  src/phaidra-vue-components/src/components/input/PIObjectType.vue
  src/phaidra-vue-components/src/components/input/PIResourceType.vue
  src/phaidra-vue-components/src/components/select/YarmRef.vue
Due: build-ui

default anchor color is primary color
  src/phaidra-ui/components/Credits.vue
  src/phaidra-ui/components/PBreadcrumbs.vue
Due: build-ui

dark primary color
  src/phaidra-ui/nuxt.config.js
  src/phaidra-ui/vuetify.options.js
Due: build-ui

header, main, footer in layout
  src/phaidra-ui/layouts/default.vue
Due: build-ui

aria-hidden and logo alt
  src/phaidra-ui/components/ext/Header.vue
Due: build-ui

Edit Header.vue
  src/phaidra-ui/components/ext/Header.vue
Due: build-ui

api/ui versions
  docker-compose.yaml
Due: none

minor fixes to UI, api template, translations
  src/phaidra-api/templates/utils/loadbutton.html.ep
  src/phaidra-ui/components/dashboard/Latestuploads.vue
  src/phaidra-ui/locales/deu.json
  src/phaidra-ui/locales/ita.json
  src/phaidra-ui/pages/detail/_pid.vue
  src/phaidra-ui/pages/templates.vue
  src/phaidra-vue-components/src/components/groups/PGroups.vue
  src/phaidra-vue-components/src/components/lists/PLists.vue
  src/phaidra-vue-components/src/components/search/PSearch.vue
  src/phaidra-vue-components/src/components/utils/PSortableList.vue
  src/phaidra-vue-components/src/store/modules/vocabulary.js
Due: build-api-dist, build-ui

typo
  src/phaidra-ui/locales/ita.json
Due: build-ui

3d controller file
  src/phaidra-api/PhaidraAPI/Controller/Object.pm
Due: build-api-dist

reverted unwanted api
  src/phaidra-api/PhaidraAPI.pm
Due: build-api-dist

better to use dark theme on search bar for consintency and easier customization
  src/phaidra-ui/components/ext/Home.vue
  src/phaidra-vue-components/src/components/search/PSearchAutocomplete.vue
Due: build-ui

added h1 and pushed out of the viewport
  src/phaidra-ui/layouts/default.vue
  src/phaidra-ui/pages/admin.vue
  src/phaidra-ui/pages/credits.vue
  src/phaidra-ui/pages/groups.vue
  src/phaidra-ui/pages/help.vue
  src/phaidra-ui/pages/index.vue
  src/phaidra-ui/pages/login.vue
  src/phaidra-ui/pages/repostats.vue
  src/phaidra-ui/pages/search.vue
  src/phaidra-ui/pages/templates.vue
  src/phaidra-ui/pages/termsofuse.vue
  src/phaidra-vue-components/src/components/lists/PLists.vue
Due: build-ui

color change for gery
  src/phaidra-ui/layouts/default.vue
Due: build-ui

fix typo in English label
  src/phaidra-vue-components/src/components/display/PDProject.vue
Due: build-ui

loadbutton CSS class name
  src/phaidra-api/templates/utils/loadbutton.html.ep
Due: build-api-dist

bibliography metadata field card styles fix
  src/phaidra-vue-components/src/components/display/PDJsonldLayout.vue
Due: build-ui

default theme color
  src/phaidra-ui/nuxt.config.js
  src/phaidra-ui/vuetify.options.js
Due: build-ui

stats page styles fix
  src/phaidra-ui/pages/stats/_pid.vue
Due: build-ui

move Usage Statistics link to icon on detail page
  src/phaidra-ui/pages/detail/_pid.vue
Due: build-ui

responsiveness fix
  src/phaidra-vue-components/src/components/search/PSearchResults.vue
Due: build-ui

changed container name and removed unwanted code from detail page
  docker-compose.yaml
  src/phaidra-ui/pages/detail/_pid.vue
Due: build-ui

mimetype for object
  src/phaidra-ui/pages/detail/_pid.vue
  src/phaidra-vue-components/src/components/input/PIForm.vue
  src/phaidra-vue-components/src/store/modules/vocabulary.js
Due: build-ui

removed unwanted var
  src/phaidra-vue-components/src/components/input/PIForm.vue
Due: build-ui

profiles for converter
  docker-compose.yaml
Due: none

add empty class to search box for easier CSS customization
  src/phaidra-ui/components/ext/Home.vue
  src/phaidra-vue-components/src/components/search/PSearchAutocomplete.vue
Due: build-ui

uwmetadata editor changed input style outlined->filled for consistency, and minor style fixes
  src/phaidra-vue-components/src/components/legacy/PIFormUwm.vue
  src/phaidra-vue-components/src/components/legacy/PIUwmRec.vue
Due: build-ui

aria-labels for action buttons
  src/phaidra-vue-components/src/components/search/PSearchToolbar.vue
Due: build-ui

Path conditions:
  build-api-base: any of: dockerfiles/api-base.dockerfile
  build-api-dist: any of: dockerfiles/api-base.dockerfile, dockerfiles/api-dist.dockerfile, src/phaidra-api/**/*
  build-ui: any of: dockerfiles/ui.dockerfile, src/phaidra-ui/**/*, src/phaidra-vue-components/**/*
  build-chronos-base: any of: dockerfiles/chronos-base.dockerfile
  build-chronos-dist: any of: dockerfiles/chronos-base.dockerfile, dockerfiles/chronos-dist.dockerfile, container-init/chronos/**/*
  build-httpd-shib-base: any of: dockerfiles/httpd-shib-base.dockerfile
  build-httpd-demo-dist: any of: dockerfiles/httpd-demo-dist.dockerfile, container_init/httpd/phaidra-demo/conf/phaidra-demo.conf
  build-imageserver: any of: dockerfiles/imageserver.dockerfile
  build-pixelgecko-base: any of: dockerfiles/pixelgecko-base.dockerfile
  build-pixelgecko-dist: any of: dockerfiles/pixelgecko-base.dockerfile, dockerfiles/pixelgecko-dist.dockerfile, src/pixelgecko/**/*
  build-mariadb-phaidra-dist: any of: dockerfiles/mariadb-phaidra-dist.dockerfile, container_init/mariadb/phaidradb/**/*
  build-mariadb-fedora-dist: any of: dockerfiles/mariadb-fedora-dist.dockerfile, container_init/mariadb/fedoradb/**/*
  build-mongodb-dist: any of: dockerfiles/mongodb-dist.dockerfile, container_init/mongodb/**/*
  build-solr-dist: any of: dockerfiles/solr-dist.dockerfile, container_init/solr/**/*
  build-openldap-dist: any of: dockerfiles/openldap-dist.dockerfile, container_init/openldap/**/*
  build-vige-base: any of: dockerfiles/vige-base.dockerfile
  build-vige-dist: any of: dockerfiles/vige-base.dockerfile, dockerfiles/vige-dist.dockerfile, src/vige/**/*
  build-promtail-dist: any of: dockerfiles/promtail-dist.dockerfile, container_init/promtail/promtail-local.config.yaml
  build-loki-dist: any of: dockerfiles/loki-dist.dockerfile, container_init/loki/loki-docker-config.yaml
  build-grafana-dist: any of: dockerfiles/grafana-dist.dockerfile, container_init/grafana/**/*
  build-prometheus-dist: any of: dockerfiles/prometheus-dist.dockerfile, container_init/prometheus/prometheus.yaml
  compose-dev: any of: compose_dev/docker-compose.yaml, components/phaidra-ui/**/*, container_components/solr/**/*
  compose-demo: any of: compose_demo/docker-compose.yaml, container_components/solr/**/*
  compose-ssl: any of: compose_ssl/docker-compose.yaml, container_components/solr/**/*
  compose-shib: any of: compose_shib/docker-compose.yaml, container_components/solr/**/*
  compose-keycloak: any of: compose_shib/docker-compose.yaml, container_components/solr/**/*
  build-website-push-staging: any of: website/**/*, mkdocs.yml
  build-website-push-final: any of: website/**/*, mkdocs.yml
