Repository phaidra/phaidra: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-api, build-api-dist, build-ui, build-chronos, build-httpd, build-httpd-shib, build-imageserver, build-pixelgecko, build-vige, compose-demo, compose-ssl, compose-shib, build-website-push-staging, build-website-push-final

Path conditions:
  build-api: any of: dockerfiles/api-base.dockerfile
  build-api-dist: any of: dockerfiles/api-dist.dockerfile, src/phaidra-api/**/*
  build-ui: any of: dockerfiles/ui.dockerfile, src/phaidra-ui/**/*, src/phaidra-vue-components/**/*
  build-chronos: any of: dockerfiles/chronos.dockerfile
  build-httpd: any of: dockerfiles/httpd.dockerfile
  build-httpd-shib: any of: dockerfiles/httpd-shib.dockerfile
  build-imageserver: any of: dockerfiles/imageserver.dockerfile
  build-pixelgecko: any of: dockerfiles/pixelgecko.dockerfile
  build-vige: any of: dockerfiles/vige.dockerfile
  compose-demo: any of: compose_demo/docker-compose.yaml, components/phaidra-ui/**/*, container_components/solr/**/*
  compose-ssl: any of: compose_ssl/docker-compose.yaml, components/phaidra-ui/**/*, container_components/solr/**/*
  compose-shib: any of: compose_shib/docker-compose.yaml, components/phaidra-ui/**/*, container_components/solr/**/*
  build-website-push-staging: any of: website/**/*, mkdocs.yml
  build-website-push-final: any of: website/**/*, mkdocs.yml

change environment syntax for grafana, set default values.
  compose_s3/docker-compose.yaml
Due: none

fix environment syntax for httpd, update solr image and env syntax.
  compose_s3/docker-compose.yaml
Due: none

fix docker-compose environment var syntax with defaults for ui.
  compose_s3/docker-compose.yaml
Due: none

fix api,pixelgecko,dbs env var syntax, split credentials for dbs.
  compose_s3/docker-compose.yaml
Due: none

enhance tweakability of dbgate.
  compose_s3/docker-compose.yaml
Due: none

use less cryptic var name for access to protected sites.
  compose_s3/docker-compose.yaml
  container_init/httpd/phaidra-demo/conf/phaidra-demo.conf
Due: none

remove deprecated 'version' declaration in docker-compose.
  compose_s3/docker-compose.yaml
Due: none

hand chronos separate mariadb credentials, make fixity verbose.
  compose_s3/docker-compose.yaml
  container_init/chronos/chronos-entrypoint.bash
  container_init/chronos/fixity-checker.bash
  container_init/chronos/mariadb-fedora.bash
  container_init/chronos/mariadb-phaidra.bash
Due: none

backprop chronos docker-compose changes to all flavors.
  compose_demo/docker-compose.yaml
  compose_dev/docker-compose.yaml
  compose_keycloak/docker-compose.yaml
  compose_shib/docker-compose.yaml
  compose_ssl/docker-compose.yaml
Due: compose-demo, compose-ssl, compose-shib

prepare .gitignore for toplevel docker-compose actions.
  .gitignore
Due: none

add initial profile-based docker-compose.yaml on toplevel.
  docker-compose.yaml
Due: none

make basic httpd conf env-var aware.
  container_init/httpd/phaidra-demo/conf/phaidra-demo.conf
Due: none

eliminate log warning on initially empty cache. print cache usage.
  src/phaidra-api/PhaidraAPI/S3/Cache.pm
Due: build-api-dist

make indexObjects.pl env var aware for fedora and api service names.
  src/phaidra-api/utils/indexObjects.pl
Due: build-api-dist

make pixelgecko aware of varying fedora service names.
  src/pixelgecko/pixelgecko.pl
Due: none

roles vocab
  src/phaidra-api/PhaidraAPI/Model/Vocabulary.pm
  src/phaidra-api/public/vocabulary/roles.json
Due: build-api-dist

make sure all containers come up after system reboot.
  docker-compose.yaml
Due: none

build httpd-demo-dist image for use in new compose-strategy.
  .gitlab-ci.yml
  dockerfiles/httpd-demo-dist.dockerfile
  dockerfiles/httpd-dist.dockerfile
Due: none

work on ci filter syntax.
  .gitlab-ci.yml
Due: none

try triggering build.
  container_init/httpd/phaidra-demo/conf/phaidra-demo.conf
Due: none

fix path to conf file.
  dockerfiles/httpd-demo-dist.dockerfile
Due: none

take out obsolete bindmounts and entrypoint for httpd.
  docker-compose.yaml
Due: none

httpd build on main changes only, api dist->noble,s3 packages.
  .gitlab-ci.yml
  dockerfiles/api-dist.dockerfile
Due: build-api-dist

take out s3fs, add missing libnet-ip-perl for noble api-dist image.
  docker-compose.yaml
  dockerfiles/api-dist.dockerfile
Due: build-api-dist

fix service naming.
  docker-compose.yaml
Due: none

fix missing pixelgecko credentials and fedora path.
  docker-compose.yaml
Due: none

roll back to jammy for mojolicious reasons (9.22<-9.35).
  dockerfiles/api-dist.dockerfile
Due: build-api-dist

use newer env syntax for dockerfile.
  dockerfiles/api-dist.dockerfile
Due: build-api-dist

update solr-dist image.
  .gitlab-ci.yml
  dockerfiles/solr-dist.dockerfile
Due: none

make use of new prebuilt solr image.
  docker-compose.yaml
Due: none

variablize pixelgecko out and imageserver rootpath, build api-dist.
  .gitlab-ci.yml
  docker-compose.yaml
  src/phaidra-api/PhaidraAPI.json
  src/pixelgecko/pixelgecko.pl
Due: build-api-dist

TO BE FIXED (this is bad! labelling), variablize imageserver path.
  docker-compose.yaml
Due: none

add website-only profile to only start mkdocs for web-development.
  docker-compose.yaml
Due: none

fix 5b5e1919, sort env variables for api and api-s3 services.
  docker-compose.yaml
  src/phaidra-api/PhaidraAPI.json
Due: build-api-dist

make sure api-dist image is based off api-base image.
  .gitlab-ci.yml
  dockerfiles/api-base.dockerfile
  dockerfiles/api-dist.dockerfile
Due: build-api, build-api-dist

remove obsolete image (s3 libraries are included in api-base now).
  dockerfiles/api-base-s3.dockerfile
Due: none

add s3-libraries/update pixelgecko-base image, create dist off it.
  .gitlab-ci.yml
  dockerfiles/pixelgecko-base-s3.dockerfile
  dockerfiles/pixelgecko-base.dockerfile
  dockerfiles/pixelgecko-dist.dockerfile
Due: none

force pixelgecko-dist rebuild based on pixelgecko-based.
  dockerfiles/pixelgecko-dist.dockerfile
Due: none

struggling with job triggering.
  .gitlab-ci.yml
  dockerfiles/pixelgecko-dist.dockerfile
Due: none

trigger build to inspect problems with pixelgecko ci.
  src/phaidra-api/PhaidraAPI.json
Due: build-api-dist
