Repository phaidra/phaidra: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-api-base, build-api-dist, build-ui, build-chronos-base, build-chronos-dist, build-httpd-shib-base, build-httpd-demo-dist, build-imageserver, build-pixelgecko-base, build-pixelgecko-dist, build-mariadb-phaidra-dist, build-mariadb-fedora-dist, build-mongodb-dist, build-solr-dist, build-openldap-dist, build-vige-base, build-vige-dist, build-promtail-dist, build-loki-dist, build-grafana-dist, build-prometheus-dist, compose-dev, compose-demo, compose-ssl, compose-shib, compose-keycloak, build-website-push-staging, build-website-push-final

build-api-base:
  stage: build-base
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-api-dist:
  stage: build-dist
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-ui:
  stage: build-common
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-chronos-base:
  stage: build-base
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-chronos-dist:
  stage: build-dist
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-httpd-shib-base:
  stage: build-base
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-httpd-demo-dist:
  stage: build-dist
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-imageserver:
  stage: build-common
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-pixelgecko-base:
  stage: build-base
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-pixelgecko-dist:
  stage: build-dist
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-mariadb-phaidra-dist:
  stage: build-dist
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-mariadb-fedora-dist:
  stage: build-dist
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-mongodb-dist:
  stage: build-dist
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-solr-dist:
  stage: build-dist
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-openldap-dist:
  stage: build-dist
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-vige-base:
  stage: build-base
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-vige-dist:
  stage: build-dist
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-promtail-dist:
  stage: build-dist
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-loki-dist:
  stage: build-dist
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-grafana-dist:
  stage: build-dist
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

orgnaization filter from org units
  src/phaidra-vue-components/src/components/search/PSearch.vue
Due: build-ui

added card title to login page
  src/phaidra-ui/pages/login.vue
Due: build-ui

ui version
  docker-compose.yaml
Due: none

changed move up and move down icons in role extended metadata field
  src/phaidra-vue-components/src/components/input/PIEntityExtended.vue
Due: build-ui

skipping first node and child for org facet filter
  src/phaidra-vue-components/src/components/search/PSearch.vue
Due: build-ui

bulk upload mapping issue on field for phaidra values
  src/phaidra-ui/store/bulk-upload.js
Due: build-ui

only check oc_mpid for videos
  src/phaidra-api/PhaidraAPI/Model/Object.pm
Due: build-api-dist

imported more Vuetify components for runtime templates customisation
  src/phaidra-ui/plugins/vuetify-runtime-components.js
Due: build-ui

remove late limit temporarily since problems have been reported
  src/phaidra-api/lib/phaidra_directory/Phaidra/Directory/Default.pm
Due: build-api-dist

api version
  docker-compose.yaml
Due: none

fix indexing datastreams
  src/phaidra-api/PhaidraAPI/Model/Index.pm
Due: build-api-dist

full text toggle changed to checkbox
  src/phaidra-vue-components/src/components/search/PSearch.vue
Due: build-ui

credits page styling
  src/phaidra-ui/components/Credits.vue
Due: build-ui

removed duplicate screen-reader-only header
  src/phaidra-ui/components/Credits.vue
Due: build-ui

removed common envs
  docker-compose.yaml
Due: none

full text label change
  src/phaidra-ui/locales/deu.json
  src/phaidra-vue-components/src/components/search/PSearch.vue
Due: build-ui

localhost url changes
  src/phaidra-ui/components/bulk-upload/UploadTable.vue
  src/phaidra-ui/pages/bulk-upload/upload.vue
Due: build-ui

add screen-reader-only heading to ext page templates
  src/phaidra-ui/pages/code-of-ethics.vue
  src/phaidra-ui/pages/contact.vue
  src/phaidra-ui/pages/editorial-policies.vue
  src/phaidra-ui/pages/impressum.vue
Due: build-ui

root level node included for org unit facet
  src/phaidra-vue-components/src/components/search/PSearch.vue
Due: build-ui

unsorted version of treeview
  src/phaidra-vue-components/src/components/search/PSearch.vue
  src/phaidra-vue-components/src/store/modules/vocabulary.js
Due: build-ui

first one of org facet open and selected
  src/phaidra-vue-components/src/components/search/PSearchFilters.vue
Due: build-ui

unchecking association facet handle
  src/phaidra-vue-components/src/components/search/PSearchFilters.vue
Due: build-ui

tika server proces and process ids
  src/phaidra-api/PhaidraAPI.pm
  src/phaidra-api/PhaidraAPI/Controller/tikaserver.pm
Due: build-api-dist

Edit shibboleth2.xml
  container_init/httpd/phaidra-shib/conf/shibboleth2.xml
Due: none

Edit docker-compose.yaml
  docker-compose.yaml
Due: none

httpd-shib-dist version
  docker-compose.yaml
Due: none

ita i18n fix
  src/phaidra-ui/locales/ita.json
Due: build-ui

uwm_association_id filter without namespace
  src/phaidra-vue-components/src/components/search/PSearch.vue
Due: build-ui

Edit vocabulary.js
  src/phaidra-vue-components/src/store/modules/vocabulary.js
Due: build-ui

italian translation wording
  src/phaidra-ui/locales/ita.json
Due: build-ui

recording failure attempts only when username is given
  src/phaidra-api/lib/phaidra_directory/Phaidra/Directory/Default.pm
Due: build-api-dist

add IR support
  container_init/mariadb/phaidradb/phaidradb.sql.gz
  src/phaidra-api/PhaidraAPI.json
  src/phaidra-api/PhaidraAPI/Controller/Authentication.pm
  src/phaidra-api/PhaidraAPI/Controller/Ir.pm
  src/phaidra-api/PhaidraAPI/Model/Alma.pm
  src/phaidra-api/PhaidraAPI/Model/Index.pm
  src/phaidra-api/PhaidraAPI/Model/Mappings/Export/Dublincore.pm
  src/phaidra-api/PhaidraAPI/Model/Mappings/Export/Dublincoretest.pm
  src/phaidra-api/PhaidraAPI/Model/Mappings/Export/Openaire.pm
  src/phaidra-api/PhaidraAPI/Model/Object.pm
  src/phaidra-api/migrations/v3.3.17.pl
  src/phaidra-ui/pages/admin.vue
Due: build-api-dist, build-ui, build-mariadb-phaidra-dist

mariadb/api/ui versions
  docker-compose.yaml
Due: none

removing rate limit again
  src/phaidra-api/lib/phaidra_directory/Phaidra/Directory/Default.pm
Due: build-api-dist

Path conditions:
  build-api-base: any of: dockerfiles/api-base.dockerfile
  build-api-dist: any of: dockerfiles/api-base.dockerfile, dockerfiles/api-dist.dockerfile, src/phaidra-api/**/*
  build-ui: any of: dockerfiles/ui.dockerfile, src/phaidra-ui/**/*, src/phaidra-vue-components/**/*
  build-chronos-base: any of: dockerfiles/chronos-base.dockerfile
  build-chronos-dist: any of: dockerfiles/chronos-base.dockerfile, dockerfiles/chronos-dist.dockerfile, container-init/chronos/**/*
  build-httpd-shib-base: any of: dockerfiles/httpd-shib-base.dockerfile
  build-httpd-demo-dist: any of: dockerfiles/httpd-demo-dist.dockerfile, container_init/httpd/phaidra-demo/conf/phaidra-demo.conf
  build-imageserver: any of: dockerfiles/imageserver.dockerfile
  build-pixelgecko-base: any of: dockerfiles/pixelgecko-base.dockerfile
  build-pixelgecko-dist: any of: dockerfiles/pixelgecko-base.dockerfile, dockerfiles/pixelgecko-dist.dockerfile, src/pixelgecko/**/*
  build-mariadb-phaidra-dist: any of: dockerfiles/mariadb-phaidra-dist.dockerfile, container_init/mariadb/phaidradb/**/*
  build-mariadb-fedora-dist: any of: dockerfiles/mariadb-fedora-dist.dockerfile, container_init/mariadb/fedoradb/**/*
  build-mongodb-dist: any of: dockerfiles/mongodb-dist.dockerfile, container_init/mongodb/**/*
  build-solr-dist: any of: dockerfiles/solr-dist.dockerfile, container_init/solr/**/*
  build-openldap-dist: any of: dockerfiles/openldap-dist.dockerfile, container_init/openldap/**/*
  build-vige-base: any of: dockerfiles/vige-base.dockerfile
  build-vige-dist: any of: dockerfiles/vige-base.dockerfile, dockerfiles/vige-dist.dockerfile, src/vige/**/*
  build-promtail-dist: any of: dockerfiles/promtail-dist.dockerfile, container_init/promtail/promtail-local.config.yaml
  build-loki-dist: any of: dockerfiles/loki-dist.dockerfile, container_init/loki/loki-docker-config.yaml
  build-grafana-dist: any of: dockerfiles/grafana-dist.dockerfile, container_init/grafana/**/*
  build-prometheus-dist: any of: dockerfiles/prometheus-dist.dockerfile, container_init/prometheus/prometheus.yaml
  compose-dev: any of: compose_dev/docker-compose.yaml, components/phaidra-ui/**/*, container_components/solr/**/*
  compose-demo: any of: compose_demo/docker-compose.yaml, container_components/solr/**/*
  compose-ssl: any of: compose_ssl/docker-compose.yaml, container_components/solr/**/*
  compose-shib: any of: compose_shib/docker-compose.yaml, container_components/solr/**/*
  compose-keycloak: any of: compose_shib/docker-compose.yaml, container_components/solr/**/*
  build-website-push-staging: any of: website/**/*, mkdocs.yml
  build-website-push-final: any of: website/**/*, mkdocs.yml
