Repository phaidra/phaidra: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-api-base, build-api-dist, build-ui, build-chronos-base, build-chronos-dist, build-httpd-shib-base, build-httpd-demo-dist, build-imageserver, build-pixelgecko-base, build-pixelgecko-dist, build-mariadb-phaidra-dist, build-mariadb-fedora-dist, build-mongodb-dist, build-solr-dist, build-openldap-dist, build-vige-base, build-vige-dist, build-promtail-dist, build-loki-dist, build-grafana-dist, build-prometheus-dist, compose-dev, compose-demo, compose-ssl, compose-shib, compose-keycloak, build-website-push-staging, build-website-push-final

build-api-base:
  stage: build-base
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-api-dist:
  stage: build-dist
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-ui:
  stage: build-common
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-chronos-base:
  stage: build-base
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-chronos-dist:
  stage: build-dist
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-httpd-shib-base:
  stage: build-base
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-httpd-demo-dist:
  stage: build-dist
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-imageserver:
  stage: build-common
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-pixelgecko-base:
  stage: build-base
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-pixelgecko-dist:
  stage: build-dist
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-mariadb-phaidra-dist:
  stage: build-dist
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-mariadb-fedora-dist:
  stage: build-dist
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-mongodb-dist:
  stage: build-dist
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-solr-dist:
  stage: build-dist
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-openldap-dist:
  stage: build-dist
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-vige-base:
  stage: build-base
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-vige-dist:
  stage: build-dist
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-promtail-dist:
  stage: build-dist
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-loki-dist:
  stage: build-dist
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-grafana-dist:
  stage: build-dist
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

MIT license vocab change
  src/phaidra-vue-components/src/components/input/PISelect.vue
  src/phaidra-vue-components/src/store/modules/vocabulary.js
Due: build-ui

Added user search popup
  src/phaidra-vue-components/src/components/management/PMRights.vue
  src/phaidra-vue-components/src/components/select/UserSearchDialog.vue
Due: build-ui

gnd subject issue
  src/phaidra-vue-components/src/components/input/PIForm.vue
  src/phaidra-vue-components/src/components/input/PISubjectGnd.vue
Due: build-ui

Added phaidra management links
  src/phaidra-ui/pages/admin.vue
Due: build-ui

add Cancel button to language selection dialog
  src/phaidra-vue-components/src/components/select/SelectLanguage.vue
Due: build-ui

MIT translation
  src/phaidra-vue-components/src/store/modules/vocabulary.js
Due: build-ui

add displayname for ldap, using description. This help for organization accounts that don't have given and last name
  src/phaidra-api/lib/phaidra_directory/Phaidra/Directory/Default.pm
Due: build-api-dist

default value for fq
  src/phaidra-ui/components/dashboard/Latestuploads.vue
Due: build-ui

get only prefLabel as org unit name in uwmetadata
  src/phaidra-api/lib/phaidra_directory/Phaidra/Directory/Default.pm
Due: build-api-dist

changed translation
  src/phaidra-vue-components/src/components/groups/PGroups.vue
  src/phaidra-vue-components/src/components/management/PMRights.vue
  src/phaidra-vue-components/src/components/search/PSearchFilters.vue
Due: build-ui

i18n to be
  src/phaidra-vue-components/src/components/groups/PGroups.vue
  src/phaidra-vue-components/src/components/search/PSearchFilters.vue
Due: build-ui

redirect for pdf download
  src/phaidra-ui/server-middleware/redirect.js
Due: build-ui

removed owner mailto link
  src/phaidra-ui/pages/detail/_pid.vue
Due: build-ui

Update admin.vue
  src/phaidra-ui/pages/admin.vue
Due: build-ui

owner mail condition check
  src/phaidra-ui/pages/detail/_pid.vue
Due: build-ui

added gnd val in input
  src/phaidra-vue-components/src/components/input/PISubjectGnd.vue
Due: build-ui

translate hint label in Uwmetadata
  src/phaidra-vue-components/src/components/legacy/PIUwmRec.vue
Due: build-ui

typo
  src/phaidra-ui/pages/delete/_pid.vue
Due: build-ui

fix citation styles list
  src/phaidra-ui/components/Credits.vue
  src/phaidra-ui/config/phaidra-ui.js
Due: build-ui

Update nuxt.config.js
  src/phaidra-ui/nuxt.config.js
Due: build-ui

ui & api versions
  docker-compose.yaml
Due: none

Show Italian labels of org units in Uwmetadata editor
  src/phaidra-api/PhaidraAPI.json
Due: build-api-dist

session cleanup cron service with perl
  container_init/mongodb/session_cleanup.pl
  docker-compose.yaml
  dockerfiles/session-cleaner.dockerfile
Due: build-mongodb-dist

i18n date format hint
  src/phaidra-vue-components/src/components/input/PIBfPublication.vue
  src/phaidra-vue-components/src/components/input/PIContainedIn.vue
  src/phaidra-vue-components/src/components/input/PIDateEdtf.vue
  src/phaidra-vue-components/src/components/input/PISeries.vue
Due: build-ui

added perl cron for delete expired session
  container_init/chronos/chronos-crontab.txt
  container_init/chronos/original-perl/session_cleanup.pl
  docker-compose.yaml
Due: none

removed session cleaner docker file
  dockerfiles/session-cleaner.dockerfile
Due: none

removed extra space
  docker-compose.yaml
Due: none

i18n object rights date picker
  src/phaidra-vue-components/src/components/management/PMRights.vue
Due: build-ui

typo
  src/phaidra-vue-components/src/components/management/PMRights.vue
Due: build-ui

minor wording fixes to Uwmetadata tree labels
  src/phaidra-api/PhaidraAPI/Model/Uwmetadata/Tree.pm
Due: build-api-dist

docs fix
  website/docs/metadata.md
Due: build-website-push-staging, build-website-push-final

Add Italian translation of Public Domain Mark and MIT licence
  src/phaidra-api/public/licenses/licenses.json
  src/phaidra-vue-components/src/store/modules/vocabulary.js
Due: build-api-dist, build-ui

Add "Back to detail page" button on Uwmetadata edit page
  src/phaidra-ui/pages/uwmetadata/_pid/edit.vue
Due: build-ui

disable menu on General Metadata edit form section
  src/phaidra-vue-components/src/utils/json-ld.js
Due: build-ui

implemented delete hook
  container_init/chronos/chronos-crontab.txt
  container_init/chronos/original-perl/imageserver_cleaner.pl
  docker-compose.yaml
  src/phaidra-api/PhaidraAPI/Model/Hooks.pm
  src/phaidra-api/PhaidraAPI/Model/Object.pm
Due: build-api-dist

Request doi dialog buttons alignment
  src/phaidra-ui/pages/detail/_pid.vue
Due: build-ui

Fix margin in Cite dialog
  src/phaidra-ui/pages/detail/_pid.vue
Due: build-ui

use generic search label on Geonames search field
  src/phaidra-vue-components/src/utils/fields.js
Due: build-ui

Italian translation update
  src/phaidra-ui/locales/ita.json
Due: build-ui

PVC Italian translation update
  src/phaidra-vue-components/src/i18n/ita.json
Due: build-ui

Path conditions:
  build-api-base: any of: dockerfiles/api-base.dockerfile
  build-api-dist: any of: dockerfiles/api-base.dockerfile, dockerfiles/api-dist.dockerfile, src/phaidra-api/**/*
  build-ui: any of: dockerfiles/ui.dockerfile, src/phaidra-ui/**/*, src/phaidra-vue-components/**/*
  build-chronos-base: any of: dockerfiles/chronos-base.dockerfile
  build-chronos-dist: any of: dockerfiles/chronos-base.dockerfile, dockerfiles/chronos-dist.dockerfile, container-init/chronos/**/*
  build-httpd-shib-base: any of: dockerfiles/httpd-shib-base.dockerfile
  build-httpd-demo-dist: any of: dockerfiles/httpd-demo-dist.dockerfile, container_init/httpd/phaidra-demo/conf/phaidra-demo.conf
  build-imageserver: any of: dockerfiles/imageserver.dockerfile
  build-pixelgecko-base: any of: dockerfiles/pixelgecko-base.dockerfile
  build-pixelgecko-dist: any of: dockerfiles/pixelgecko-base.dockerfile, dockerfiles/pixelgecko-dist.dockerfile, src/pixelgecko/**/*
  build-mariadb-phaidra-dist: any of: dockerfiles/mariadb-phaidra-dist.dockerfile, container_init/mariadb/phaidradb/**/*
  build-mariadb-fedora-dist: any of: dockerfiles/mariadb-fedora-dist.dockerfile, container_init/mariadb/fedoradb/**/*
  build-mongodb-dist: any of: dockerfiles/mongodb-dist.dockerfile, container_init/mongodb/**/*
  build-solr-dist: any of: dockerfiles/solr-dist.dockerfile, container_init/solr/**/*
  build-openldap-dist: any of: dockerfiles/openldap-dist.dockerfile, container_init/openldap/**/*
  build-vige-base: any of: dockerfiles/vige-base.dockerfile
  build-vige-dist: any of: dockerfiles/vige-base.dockerfile, dockerfiles/vige-dist.dockerfile, src/vige/**/*
  build-promtail-dist: any of: dockerfiles/promtail-dist.dockerfile, container_init/promtail/promtail-local.config.yaml
  build-loki-dist: any of: dockerfiles/loki-dist.dockerfile, container_init/loki/loki-docker-config.yaml
  build-grafana-dist: any of: dockerfiles/grafana-dist.dockerfile, container_init/grafana/**/*
  build-prometheus-dist: any of: dockerfiles/prometheus-dist.dockerfile, container_init/prometheus/prometheus.yaml
  compose-dev: any of: compose_dev/docker-compose.yaml, components/phaidra-ui/**/*, container_components/solr/**/*
  compose-demo: any of: compose_demo/docker-compose.yaml, container_components/solr/**/*
  compose-ssl: any of: compose_ssl/docker-compose.yaml, container_components/solr/**/*
  compose-shib: any of: compose_shib/docker-compose.yaml, container_components/solr/**/*
  compose-keycloak: any of: compose_shib/docker-compose.yaml, container_components/solr/**/*
  build-website-push-staging: any of: website/**/*, mkdocs.yml
  build-website-push-final: any of: website/**/*, mkdocs.yml
