Repository phaidra/phaidra: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-api-base, build-api-dist, build-ui, build-chronos-base, build-chronos-dist, build-httpd-shib-base, build-httpd-demo-dist, build-imageserver, build-pixelgecko-base, build-pixelgecko-dist, build-mariadb-phaidra-dist, build-mariadb-fedora-dist, build-mongodb-dist, build-solr-dist, build-openldap-dist, build-vige-base, build-vige-dist, build-promtail-dist, build-loki-dist, build-grafana-dist, build-prometheus-dist, compose-dev, compose-demo, compose-ssl, compose-shib, compose-keycloak, build-website-push-staging, build-website-push-final

build-api-base:
  stage: build-base
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-api-dist:
  stage: build-dist
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-ui:
  stage: build-common
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-chronos-base:
  stage: build-base
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-chronos-dist:
  stage: build-dist
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-httpd-shib-base:
  stage: build-base
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-httpd-demo-dist:
  stage: build-dist
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-imageserver:
  stage: build-common
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-pixelgecko-base:
  stage: build-base
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-pixelgecko-dist:
  stage: build-dist
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-mariadb-phaidra-dist:
  stage: build-dist
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-mariadb-fedora-dist:
  stage: build-dist
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-mongodb-dist:
  stage: build-dist
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-solr-dist:
  stage: build-dist
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-openldap-dist:
  stage: build-dist
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-vige-base:
  stage: build-base
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-vige-dist:
  stage: build-dist
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-promtail-dist:
  stage: build-dist
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-loki-dist:
  stage: build-dist
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-grafana-dist:
  stage: build-dist
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

v3.3.1
  CHANGELOG.md
  docker-compose.yaml
Due: none

v3.3.2
  src/phaidra-api/lib/phaidra_directory/Phaidra/Directory/Default.pm
Due: build-api-dist

small fix in directory
  src/phaidra-api/lib/phaidra_directory/Phaidra/Directory/Default.pm
Due: build-api-dist

v3.3.2
  CHANGELOG.md
  docker-compose.yaml
Due: none

v3.3.3
  CHANGELOG.md
Due: none

chage edupersonaffiliation to affiliation, components for homepage customization, enable configuration of search facets
  src/phaidra-api/PhaidraAPI/Controller/Object.pm
  src/phaidra-api/PhaidraAPI/Model/Authorization.pm
  src/phaidra-api/PhaidraAPI/Model/Rights.pm
  src/phaidra-api/public/xsd/rights/rights.xsd
  src/phaidra-ui/components/dashboard/Facetqueries.vue
  src/phaidra-ui/components/dashboard/Latestpreview.vue
  src/phaidra-ui/components/dashboard/Latestuploads.vue
  src/phaidra-ui/layouts/default.vue
  src/phaidra-ui/pages/admin.vue
  src/phaidra-ui/store/search.js
  src/phaidra-vue-components/src/components/search/PSearch.vue
  src/phaidra-vue-components/src/components/search/facets.js
  src/phaidra-vue-components/src/store/index.js
  src/phaidra-vue-components/src/store/modules/search.js
Due: build-api-dist, build-ui

v3.3.4
  CHANGELOG.md
  docker-compose.yaml
Due: none

add some missing schema fields
  container_init/solr/phaidra_core/conf/managed-schema
Due: build-solr-dist

user ldapgroups and ou/departmentnumber for autz
  src/phaidra-api/PhaidraAPI/Model/Authorization.pm
  src/phaidra-api/lib/phaidra_directory/Phaidra/Directory/Default.pm
Due: build-api-dist

fix for migrated external content links
  src/phaidra-api/PhaidraAPI/Model/Fedora.pm
Due: build-api-dist

fix affiliation resolve in uwmetadata
  src/phaidra-api/PhaidraAPI/Model/Uwmetadata/Extraction.pm
  src/phaidra-vue-components/src/store/modules/search.js
Due: build-api-dist, build-ui

v3.3.5
  CHANGELOG.md
  docker-compose.yaml
Due: none

Add privacy policy
  website/en/privacy-policy.md
Due: build-website-push-staging, build-website-push-final

Link to PP from footer
  website/overrides/partials/footer.html
Due: build-website-push-staging, build-website-push-final

small-phaidra-ui-fixes
  src/phaidra-ui/components/dashboard/Latestpreview.vue
  src/phaidra-ui/pages/detail/_pid.vue
  src/phaidra-ui/plugins/before-each.js
  src/phaidra-vue-components/src/store/modules/search.js
Due: build-ui

v3.3.6
  CHANGELOG.md
  docker-compose.yaml
Due: none

small-dashboard-components-improvements
  CHANGELOG.md
  src/phaidra-ui/components/dashboard/Latestpreview.vue
  src/phaidra-ui/components/dashboard/Latestuploads.vue
Due: build-ui

v3.3.7
  docker-compose.yaml
Due: none

default template and validation
  src/phaidra-api/PhaidraAPI/Model/Uwmetadata/Tree.pm
  src/phaidra-ui/pages/admin.vue
  src/phaidra-ui/pages/submit/upload.vue
  src/phaidra-ui/store/index.js
  src/phaidra-vue-components/src/components/input/PIObjectType.vue
  src/phaidra-vue-components/src/mixins/formvalidation.js
  src/phaidra-vue-components/src/store/modules/vocabulary.js
Due: build-api-dist, build-ui

v3.3.8
  CHANGELOG.md
  docker-compose.yaml
Due: none

fix-forgotten-dashboard-element-change
  src/phaidra-ui/components/dashboard/Latestpreview.vue
Due: build-ui

v3.3.9
  CHANGELOG.md
  docker-compose.yaml
Due: none

fixing uwmetadata roles
  container_init/mariadb/phaidradb/phaidradb.sql.gz
  src/phaidra-api/PhaidraAPI/Model/Uwmetadata/Tree.pm
Due: build-api-dist, build-mariadb-phaidra-dist

dashboard fix
  src/phaidra-ui/components/dashboard/Latestpreview.vue
Due: build-ui

small script to figure out ocfl folder for a given pid
  src/phaidra-api/utils/getOCFLPath.pl
Due: build-api-dist

api config typo fix
  src/phaidra-api/PhaidraAPI.json
Due: build-api-dist

v3.3.10
  CHANGELOG.md
  docker-compose.yaml
Due: none

compose: deduplicate ENV variables and service attributes where possible adds explicit hostname to services so there's no need to have a different service and *_HOST per profile
  docker-compose.yaml
Due: none

compose: fix chronos s3 dependencies
  docker-compose.yaml
Due: none

s3: use path-style variable and allow usage of endpoints other than AWS S3
  docker-compose.yaml
  src/phaidra-api/PhaidraAPI/Controller/Object.pm
  src/phaidra-api/PhaidraAPI/Model/Fedora.pm
  src/phaidra-api/PhaidraAPI/S3/Cache.pm
  src/pixelgecko/pixelgecko.pl
Due: build-api-dist, build-pixelgecko-dist

compose/api: S3 custom endpoint add info to readme strip protocol from endpoint ENV and set use_https correspondingly break catalina_opts into multiline string with consistent sorted order
  README.md
  docker-compose.yaml
  src/phaidra-api/PhaidraAPI/Model/Fedora.pm
  src/phaidra-api/PhaidraAPI/S3/Cache.pm
  src/pixelgecko/pixelgecko.pl
Due: build-api-dist, build-pixelgecko-dist

compose: deduplicate httpd-ssl-dev services
  docker-compose.yaml
Due: none

PhaidraAPI: code cleanup
  src/phaidra-api/PhaidraAPI/Controller/Object.pm
  src/phaidra-api/PhaidraAPI/Model/Imageserver.pm
Due: build-api-dist

compose: deduplicate httpd-shib-dev services
  docker-compose.yaml
Due: none

retention policy
  container_init/loki/loki-docker-config.yaml
Due: build-loki-dist

undefined fix
  src/phaidra-vue-components/src/components/input/PISelect.vue
Due: build-ui

fix getting public config
  src/phaidra-api/PhaidraAPI/Controller/Jsonld.pm
  src/phaidra-api/PhaidraAPI/Controller/Utils.pm
Due: build-api-dist

compose: allow phaidra port to be left unset
  docker-compose.yaml
Due: none

compose: remove duplicate env variables
  docker-compose.yaml
Due: none

Path conditions:
  build-api-base: any of: dockerfiles/api-base.dockerfile
  build-api-dist: any of: dockerfiles/api-base.dockerfile, dockerfiles/api-dist.dockerfile, src/phaidra-api/**/*
  build-ui: any of: dockerfiles/ui.dockerfile, src/phaidra-ui/**/*, src/phaidra-vue-components/**/*
  build-chronos-base: any of: dockerfiles/chronos-base.dockerfile
  build-chronos-dist: any of: dockerfiles/chronos-base.dockerfile, dockerfiles/chronos-dist.dockerfile, container-init/chronos/**/*
  build-httpd-shib-base: any of: dockerfiles/httpd-shib-base.dockerfile
  build-httpd-demo-dist: any of: dockerfiles/httpd-demo-dist.dockerfile, container_init/httpd/phaidra-demo/conf/phaidra-demo.conf
  build-imageserver: any of: dockerfiles/imageserver.dockerfile
  build-pixelgecko-base: any of: dockerfiles/pixelgecko-base.dockerfile
  build-pixelgecko-dist: any of: dockerfiles/pixelgecko-base.dockerfile, dockerfiles/pixelgecko-dist.dockerfile, src/pixelgecko/**/*
  build-mariadb-phaidra-dist: any of: dockerfiles/mariadb-phaidra-dist.dockerfile, container_init/mariadb/phaidradb/**/*
  build-mariadb-fedora-dist: any of: dockerfiles/mariadb-fedora-dist.dockerfile, container_init/mariadb/fedoradb/**/*
  build-mongodb-dist: any of: dockerfiles/mongodb-dist.dockerfile, container_init/mongodb/**/*
  build-solr-dist: any of: dockerfiles/solr-dist.dockerfile, container_init/solr/**/*
  build-openldap-dist: any of: dockerfiles/openldap-dist.dockerfile, container_init/openldap/**/*
  build-vige-base: any of: dockerfiles/vige-base.dockerfile
  build-vige-dist: any of: dockerfiles/vige-base.dockerfile, dockerfiles/vige-dist.dockerfile, src/vige/**/*
  build-promtail-dist: any of: dockerfiles/promtail-dist.dockerfile, container_init/promtail/promtail-local.config.yaml
  build-loki-dist: any of: dockerfiles/loki-dist.dockerfile, container_init/loki/loki-docker-config.yaml
  build-grafana-dist: any of: dockerfiles/grafana-dist.dockerfile, container_init/grafana/**/*
  build-prometheus-dist: any of: dockerfiles/prometheus-dist.dockerfile, container_init/prometheus/prometheus.yaml
  compose-dev: any of: compose_dev/docker-compose.yaml, components/phaidra-ui/**/*, container_components/solr/**/*
  compose-demo: any of: compose_demo/docker-compose.yaml, container_components/solr/**/*
  compose-ssl: any of: compose_ssl/docker-compose.yaml, container_components/solr/**/*
  compose-shib: any of: compose_shib/docker-compose.yaml, container_components/solr/**/*
  compose-keycloak: any of: compose_shib/docker-compose.yaml, container_components/solr/**/*
  build-website-push-staging: any of: website/**/*, mkdocs.yml
  build-website-push-final: any of: website/**/*, mkdocs.yml
