Repository phaidra/phaidra: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-api-base, build-api-dist, build-ui, build-chronos-base, build-chronos-dist, build-httpd-shib-base, build-httpd-demo-dist, build-imageserver, build-pixelgecko-base, build-pixelgecko-dist, build-mariadb-phaidra-dist, build-mariadb-fedora-dist, build-mongodb-dist, build-solr-dist, build-openldap-dist, build-vige-base, build-vige-dist, build-promtail-dist, build-loki-dist, build-grafana-dist, build-prometheus-dist, compose-dev, compose-demo, compose-ssl, compose-shib, compose-keycloak, build-website-push-staging, build-website-push-final

build-api-base:
  stage: build-base
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-api-dist:
  stage: build-dist
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-ui:
  stage: build-common
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-chronos-base:
  stage: build-base
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-chronos-dist:
  stage: build-dist
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-httpd-shib-base:
  stage: build-base
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-httpd-demo-dist:
  stage: build-dist
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-imageserver:
  stage: build-common
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-pixelgecko-base:
  stage: build-base
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-pixelgecko-dist:
  stage: build-dist
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-mariadb-phaidra-dist:
  stage: build-dist
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-mariadb-fedora-dist:
  stage: build-dist
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-mongodb-dist:
  stage: build-dist
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-solr-dist:
  stage: build-dist
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-openldap-dist:
  stage: build-dist
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-vige-base:
  stage: build-base
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-vige-dist:
  stage: build-dist
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-promtail-dist:
  stage: build-dist
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-loki-dist:
  stage: build-dist
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-grafana-dist:
  stage: build-dist
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

prop type fix
  src/phaidra-vue-components/src/components/search/PSearch.vue
  src/phaidra-vue-components/src/components/search/PSearchToolbar.vue
Due: build-ui

add mit licence to search facets
  src/phaidra-vue-components/src/store/modules/search.js
Due: build-ui

fix fields-in-an-oai-record-won-t-get-deleted-if-not-part-of-update
  container_init/chronos/original-perl/updateOai.pl
Due: none

chronos version
  docker-compose.yaml
Due: none

oai update fix
  container_init/chronos/original-perl/updateOai.pl
Due: none

stylus fix maybe
  src/phaidra-vue-components/package.json
Due: build-ui

stylus fix take 2
  src/phaidra-ui/package.json
  src/phaidra-vue-components/package-lock.json
Due: build-ui

api/ui version
  docker-compose.yaml
  src/phaidra-ui/package-lock.json
Due: build-ui

fix Add Metadata Field button margin, fix typo, and license note formatting
  src/phaidra-ui/locales/deu.json
  src/phaidra-ui/locales/eng.json
  src/phaidra-ui/locales/ita.json
  src/phaidra-vue-components/src/components/input/PIForm.vue
  src/phaidra-vue-components/src/i18n/deu.json
  src/phaidra-vue-components/src/i18n/eng.json
  src/phaidra-vue-components/src/i18n/ita.json
Due: build-ui

other identifier label in other links
  src/phaidra-ui/pages/detail/_pid.vue
Due: build-ui

set Vuetify toolbar component colors using sass variables
  src/phaidra-ui/assets/variables.scss
  src/phaidra-ui/layouts/default.vue
  src/phaidra-ui/nuxt.config.js
Due: build-ui

added Italian translation of license vocabulary term
  src/phaidra-vue-components/src/store/modules/vocabulary.js
Due: build-ui

mime type not showing on template load
  src/phaidra-ui/pages/submit/custom/_templateid.vue
Due: build-ui

minor fixes to bulk upload UI
  src/phaidra-ui/components/BulkUploadSteps.vue
  src/phaidra-ui/components/bulk-upload/UploadProgress.vue
  src/phaidra-ui/pages/bulk-upload/csv-config.vue
  src/phaidra-ui/pages/bulk-upload/meta-data-config.vue
  src/phaidra-ui/pages/bulk-upload/preview.vue
  src/phaidra-ui/pages/bulk-upload/upload.vue
Due: build-ui

emptying the field of mime type on load template
  src/phaidra-ui/pages/submit/custom/_templateid.vue
Due: build-ui

fix bulk upload card title styles
  src/phaidra-ui/pages/bulk-upload/csv-config.vue
  src/phaidra-ui/pages/bulk-upload/upload.vue
Due: build-ui

apply default styles for disabled field to enable dark theme support
  src/phaidra-ui/components/bulk-upload/CSVColumnSelector.vue
  src/phaidra-ui/components/bulk-upload/PhaidraFieldSelector.vue
Due: build-ui

collection order for fedora 6
  src/phaidra-api/PhaidraAPI/Model/Collection.pm
  src/phaidra-api/PhaidraAPI/Model/Search.pm
Due: build-api-dist

uwmetadata organisation association indexing
  src/phaidra-api/PhaidraAPI/Model/Index.pm
Due: build-api-dist

added uwm_association_id field to Solr managed schema
  container_init/solr/phaidra_core/conf/managed-schema
  container_init/solr/phaidra_pages_core/conf/managed-schema
Due: build-solr-dist

default first node open on association tree view
  src/phaidra-vue-components/src/components/select/OrgUnitsTreeDialog.vue
Due: build-ui

allowing only child org units to be selected in treeview and in autocomplete
  src/phaidra-vue-components/src/components/input/PIAssociation.vue
  src/phaidra-vue-components/src/components/select/OrgUnitsTreeDialog.vue
  src/phaidra-vue-components/src/utils/orgunits.js
Due: build-ui

admin control for disabling parent selection on orgunits
  src/phaidra-ui/locales/deu.json
  src/phaidra-ui/locales/ita.json
  src/phaidra-ui/pages/admin.vue
  src/phaidra-ui/pages/submit/upload.vue
  src/phaidra-ui/store/index.js
  src/phaidra-vue-components/src/components/input/PIAssociation.vue
  src/phaidra-vue-components/src/components/select/OrgUnitsTreeDialog.vue
Due: build-ui

corporate role link href issue fix
  src/phaidra-vue-components/src/components/display/PDEntity.vue
Due: build-ui

add-google-verification-code-to-admin
  src/phaidra-ui/layouts/default.vue
  src/phaidra-ui/pages/admin.vue
  src/phaidra-ui/store/index.js
Due: build-ui

collection template page
  src/phaidra-api/PhaidraAPI.pm
  src/phaidra-api/PhaidraAPI/Controller/Collection.pm
  src/phaidra-api/PhaidraAPI/Model/Collection.pm
  src/phaidra-ui/pages/collections/_collection.vue
Due: build-api-dist, build-ui

add-google-verification-code-to-admin
  src/phaidra-ui/layouts/default.vue
Due: build-ui

route path, controller and model change
  src/phaidra-api/PhaidraAPI.pm
  src/phaidra-api/PhaidraAPI/Controller/Cms.pm
  src/phaidra-api/PhaidraAPI/Controller/Collection.pm
  src/phaidra-api/PhaidraAPI/Model/Cms.pm
  src/phaidra-api/PhaidraAPI/Model/Collection.pm
  src/phaidra-ui/pages/collections/_collection.vue
Due: build-api-dist, build-ui

no collection message
  src/phaidra-ui/locales/deu.json
  src/phaidra-ui/locales/ita.json
  src/phaidra-ui/pages/collections/_collection.vue
Due: build-ui

metadata edit association parent selection logic handle, role extended association handle
  src/phaidra-ui/pages/metadata/_pid/edit.vue
  src/phaidra-ui/pages/submit/upload.vue
  src/phaidra-vue-components/src/components/input/PIEntityExtended.vue
  src/phaidra-vue-components/src/components/input/PIForm.vue
Due: build-ui

removed console log
  src/phaidra-ui/pages/metadata/_pid/edit.vue
Due: build-ui

creating collection for cmstemplates
  container_init/mongodb/mongodb-after-entry.sh
Due: build-mongodb-dist

api/ui version
  docker-compose.yaml
Due: none

api/solr version
  docker-compose.yaml
Due: none

ui/api/mongo version
  docker-compose.yaml
Due: none

ror endpoint change
  src/phaidra-ui/config/phaidra-ui.js
Due: build-ui

api/ui/chronos versions
  docker-compose.yaml
Due: none

use search base for groups as array
  src/phaidra-api/lib/phaidra_directory/Phaidra/Directory/Default.pm
Due: build-api-dist

added translation support to book viewer
  src/phaidra-api/PhaidraAPI/Controller/Object.pm
  src/phaidra-api/templates/utils/bookviewer.html.ep
Due: build-api-dist

Path conditions:
  build-api-base: any of: dockerfiles/api-base.dockerfile
  build-api-dist: any of: dockerfiles/api-base.dockerfile, dockerfiles/api-dist.dockerfile, src/phaidra-api/**/*
  build-ui: any of: dockerfiles/ui.dockerfile, src/phaidra-ui/**/*, src/phaidra-vue-components/**/*
  build-chronos-base: any of: dockerfiles/chronos-base.dockerfile
  build-chronos-dist: any of: dockerfiles/chronos-base.dockerfile, dockerfiles/chronos-dist.dockerfile, container-init/chronos/**/*
  build-httpd-shib-base: any of: dockerfiles/httpd-shib-base.dockerfile
  build-httpd-demo-dist: any of: dockerfiles/httpd-demo-dist.dockerfile, container_init/httpd/phaidra-demo/conf/phaidra-demo.conf
  build-imageserver: any of: dockerfiles/imageserver.dockerfile
  build-pixelgecko-base: any of: dockerfiles/pixelgecko-base.dockerfile
  build-pixelgecko-dist: any of: dockerfiles/pixelgecko-base.dockerfile, dockerfiles/pixelgecko-dist.dockerfile, src/pixelgecko/**/*
  build-mariadb-phaidra-dist: any of: dockerfiles/mariadb-phaidra-dist.dockerfile, container_init/mariadb/phaidradb/**/*
  build-mariadb-fedora-dist: any of: dockerfiles/mariadb-fedora-dist.dockerfile, container_init/mariadb/fedoradb/**/*
  build-mongodb-dist: any of: dockerfiles/mongodb-dist.dockerfile, container_init/mongodb/**/*
  build-solr-dist: any of: dockerfiles/solr-dist.dockerfile, container_init/solr/**/*
  build-openldap-dist: any of: dockerfiles/openldap-dist.dockerfile, container_init/openldap/**/*
  build-vige-base: any of: dockerfiles/vige-base.dockerfile
  build-vige-dist: any of: dockerfiles/vige-base.dockerfile, dockerfiles/vige-dist.dockerfile, src/vige/**/*
  build-promtail-dist: any of: dockerfiles/promtail-dist.dockerfile, container_init/promtail/promtail-local.config.yaml
  build-loki-dist: any of: dockerfiles/loki-dist.dockerfile, container_init/loki/loki-docker-config.yaml
  build-grafana-dist: any of: dockerfiles/grafana-dist.dockerfile, container_init/grafana/**/*
  build-prometheus-dist: any of: dockerfiles/prometheus-dist.dockerfile, container_init/prometheus/prometheus.yaml
  compose-dev: any of: compose_dev/docker-compose.yaml, components/phaidra-ui/**/*, container_components/solr/**/*
  compose-demo: any of: compose_demo/docker-compose.yaml, container_components/solr/**/*
  compose-ssl: any of: compose_ssl/docker-compose.yaml, container_components/solr/**/*
  compose-shib: any of: compose_shib/docker-compose.yaml, container_components/solr/**/*
  compose-keycloak: any of: compose_shib/docker-compose.yaml, container_components/solr/**/*
  build-website-push-staging: any of: website/**/*, mkdocs.yml
  build-website-push-final: any of: website/**/*, mkdocs.yml
