Repository phaidra/phaidra: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-api, build-chronos, build-httpd, build-imageserver, build-pixelgecko, compose-demo, compose-ssl, compose-shib

Path conditions:
  build-api: any of: dockerfiles/api.dockerfile
  build-chronos: any of: dockerfiles/chronos.dockerfile
  build-httpd: any of: dockerfiles/httpd.dockerfile
  build-imageserver: any of: dockerfiles/imageserver.dockerfile
  build-pixelgecko: any of: dockerfiles/pixelgecko.dockerfile
  compose-demo: any of: compose_demo/docker-compose.yaml, compose_demo/.env, components/phaidra-ui/**/*, image_components/solr/**/*
  compose-ssl: any of: compose_ssl/docker-compose.yaml, compose_ssl/.env, components/phaidra-ui/**/*, image_components/solr/**/*
  compose-shib: any of: compose_shib/docker-compose.yaml, compose_shib/.env, components/phaidra-ui/**/*, image_components/solr/**/*

mention grafana in the docs.
  README.md
Due: none

update removal documentation.
  README.md
Due: none

fix issue with solr starting from clean slate.
  container_init/solr/log4j2.xml
  container_init/solr/solr_entrypoint.bash
Due: none

app/ui settings
  src/phaidra-api/PhaidraAPI.pm
  src/phaidra-api/PhaidraAPI/Controller/Settings.pm
Due: none

integrate checkExpiredRights.pl with chronos.
  compose_demo/docker-compose.yaml
  compose_shib/docker-compose.yaml
  compose_ssl/docker-compose.yaml
  container_init/chronos/chronos-crontab.txt
  container_init/chronos/chronos-entrypoint.bash
  container_init/chronos/original-perl/checkExpiredRights.pl
Due: compose-demo, compose-ssl, compose-shib

reduce log warnings.
  src/phaidra-api/lib/phaidra_directory/Phaidra/Directory/GenericLDAP.pm
Due: none

freeze ubuntu jammy base image for api.
  dockerfiles/api.dockerfile
Due: build-api

freeze ubuntu base image for imageserver.
  dockerfiles/imageserver.dockerfile
Due: build-imageserver

freeze ubuntu base image for imageserver.
  dockerfiles/pixelgecko.dockerfile
Due: build-pixelgecko

switch to ubuntu (freeze) for vige amd64 and arm64 support (repos).
  dockerfiles/vige.dockerfile
Due: none

fix missing --push flag in vige build instruction.
  .gitlab-ci.yml
Due: none

set vige ci back to normal, run architecture-checker.
  .gitlab-ci.yml
  dockerfiles/architecture.dockerfile
Due: none

prevent pushing architecture-chekcer.
  .gitlab-ci.yml
Due: none

work on multi-arch chronos image.
  .gitlab-ci.yml
  dockerfiles/chronos.dockerfile
Due: build-chronos

work on conditional syntax.
  dockerfiles/chronos.dockerfile
Due: build-chronos

adapt script to sh.
  dockerfiles/chronos.dockerfile
Due: build-chronos

fix syntax.
  dockerfiles/chronos.dockerfile
Due: build-chronos

unsilence wget.
  dockerfiles/chronos.dockerfile
Due: build-chronos

add ca-certificates, wget fails missing certs from amazon.
  dockerfiles/chronos.dockerfile
Due: build-chronos

add missing dotslash for apt-get.
  dockerfiles/chronos.dockerfile
Due: build-chronos

fix download link.
  dockerfiles/chronos.dockerfile
Due: build-chronos

fix mongodump path in chronos after dockerfile installation changes.
  container_init/chronos/mongodb-phaidra.bash
Due: none

freeze dockerhub image versions.
  compose_demo/docker-compose.yaml
  compose_shib/docker-compose.yaml
  compose_ssl/docker-compose.yaml
  dockerfiles/architecture.dockerfile
Due: compose-demo, compose-ssl, compose-shib

give keys to _shibd (opensaml::FatalProfileException)
  container_init/httpd/phaidra-shib/httpd-shib-startup.bash
Due: none

replayweb preview
  src/phaidra-api/PhaidraAPI/Controller/Object.pm
  src/phaidra-api/public/replayweb/sw.js
  src/phaidra-api/public/replayweb/ui.js
  src/phaidra-api/templates/utils/replayweb.html.ep
  src/phaidra-vue-components/src/store/modules/vocabulary.js
Due: none

/search/select added
  src/phaidra-api/public/docs/openapi.json
Due: none

refer to solr doc
  src/phaidra-api/public/docs/openapi.json
Due: none

search tag
  src/phaidra-api/public/docs/openapi.json
Due: none

rearrange toc syntax.
  README.md
Due: none

Remove manual toc, as github has one clickable anyway.
  README.md
Due: none

"soft" documentation, initial commit
  docs/docs-about.md
  docs/index.html
Due: none

update docs reg wacz
  docs/docs-about.md
Due: none

wacz submit fix
  src/phaidra-api/PhaidraAPI.pm
  src/phaidra-ui/mixins/formvalidation.js
  src/phaidra-vue-components/src/components/input/PIForm.vue
Due: none

wacz preview
  src/phaidra-ui/pages/detail/_pid.vue
Due: none

new logo
  src/phaidra-ui/assets/ext/phaidralogo.png
  src/phaidra-ui/components/ext/Header.vue
Due: none

update screenshot with new logo.
  pictures/running_phaidra.png
Due: none

add grafana dashboard screenshot.
  README.md
  pictures/dashboard.png
Due: none

update Fedora-Version (patch release activemq CVE-2023-46604).
  compose_demo/docker-compose.yaml
  compose_shib/docker-compose.yaml
  compose_ssl/docker-compose.yaml
Due: compose-demo, compose-ssl, compose-shib

add TO_DELETE option to vige via mongodb status field.
  src/vige/vige_cleaner.bash
  src/vige/vige_controller.bash
Due: none
