Repository phaidra/phaidra: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-api-base, build-api-dist, build-ui, build-chronos-base, build-chronos-dist, build-httpd-shib-base, build-httpd-demo-dist, build-imageserver, build-pixelgecko-base, build-pixelgecko-dist, build-mariadb-phaidra-dist, build-mariadb-fedora-dist, build-mongodb-dist, build-solr-dist, build-openldap-dist, build-vige-base, build-vige-dist, build-promtail-dist, build-loki-dist, build-grafana-dist, build-prometheus-dist, compose-dev, compose-demo, compose-ssl, compose-shib, compose-keycloak, build-website-push-staging, build-website-push-final

build-api-base:
  stage: build-base
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-api-dist:
  stage: build-dist
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-ui:
  stage: build-common
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-chronos-base:
  stage: build-base
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-chronos-dist:
  stage: build-dist
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-httpd-shib-base:
  stage: build-base
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-httpd-demo-dist:
  stage: build-dist
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-imageserver:
  stage: build-common
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-pixelgecko-base:
  stage: build-base
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-pixelgecko-dist:
  stage: build-dist
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-mariadb-phaidra-dist:
  stage: build-dist
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-mariadb-fedora-dist:
  stage: build-dist
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-mongodb-dist:
  stage: build-dist
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-solr-dist:
  stage: build-dist
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-openldap-dist:
  stage: build-dist
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-vige-base:
  stage: build-base
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-vige-dist:
  stage: build-dist
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-promtail-dist:
  stage: build-dist
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-loki-dist:
  stage: build-dist
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-grafana-dist:
  stage: build-dist
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

Iterate front page texts
  website/overrides/home.html
Due: build-website-push-staging, build-website-push-final

Change text logo to newest version
  website/assets/img/phaidra_logo_text.svg
Due: build-website-push-staging, build-website-push-final

various-fixes-after-ui-prod-release
  container_init/chronos/original-perl/XSD/Classification.xsd
  container_init/chronos/original-perl/XSD/datatypes.xsd
  container_init/chronos/original-perl/updateOai.pl
  container_init/chronos/original-perl/updateOaiPids.pl
  docker-compose.yaml
  src/phaidra-api/PhaidraAPI.pm
  src/phaidra-api/PhaidraAPI/Controller/Authentication.pm
  src/phaidra-api/PhaidraAPI/Controller/Groups.pm
  src/phaidra-api/PhaidraAPI/Controller/Octets.pm
  src/phaidra-api/PhaidraAPI/Controller/Utils.pm
  src/phaidra-api/PhaidraAPI/Model/Authorization.pm
  src/phaidra-api/PhaidraAPI/Model/Config.pm
  src/phaidra-api/PhaidraAPI/Model/Dc.pm
  src/phaidra-api/PhaidraAPI/Model/Mappings/Dc.pm
  src/phaidra-api/PhaidraAPI/Model/Mappings/Edm.pm
  src/phaidra-api/PhaidraAPI/Model/Object.pm
  src/phaidra-api/lib/phaidra_directory/Phaidra/Directory.pm
  src/phaidra-api/lib/phaidra_directory/Phaidra/Directory/Default.pm
  src/phaidra-api/templates/utils/replayweb.html.ep
  src/phaidra-api/utils/logStorageSize.pl
  src/phaidra-api/utils/logStorageSize.sh
  src/phaidra-ui/config/phaidra-ui.js
  src/phaidra-ui/layouts/default.vue
  src/phaidra-ui/pages/admin.vue
  src/phaidra-ui/pages/detail/_pid.vue
  src/phaidra-ui/store/index.js
  src/phaidra-vue-components/package-lock.json
  src/phaidra-vue-components/src/components/display/PDProject.vue
  src/phaidra-vue-components/src/components/display/PDSkosPreflabel.vue
  src/phaidra-vue-components/src/components/management/PMRights.vue
  src/phaidra-vue-components/src/i18n/deu.js
  src/phaidra-vue-components/src/mixins/formvalidation.js
  src/phaidra-vue-components/src/store/modules/vocabulary.js
Due: build-api-dist, build-ui

v3.3.11
  CHANGELOG.md
  docker-compose.yaml
Due: none

httpd: set ServerAdmin mail via ENV instead of default invalid value
  container_init/httpd/phaidra-demo/conf/phaidra-demo.conf
  container_init/httpd/phaidra-keycloak/conf/phaidra-keycloak.conf
  container_init/httpd/phaidra-shib/conf/phaidra-shib.conf
  container_init/httpd/phaidra-ssl/conf/phaidra-ssl.conf
  docker-compose.yaml
Due: build-httpd-demo-dist

compose, container_init: enable apache2 managed domains (i.e. automatic ssl certificates)
  configs/httpd_tls.conf
  container_init/httpd/phaidra-shib/conf/phaidra-shib.conf
  container_init/httpd/phaidra-ssl/conf/phaidra-ssl.conf
  docker-compose.yaml
Due: none

adding approbation date, dashboard fix, nocache for config
  src/phaidra-api/PhaidraAPI/Controller/Config.pm
  src/phaidra-api/PhaidraAPI/Model/Config.pm
  src/phaidra-ui/components/dashboard/Facetqueries.vue
  src/phaidra-ui/locales/deu/index.js
  src/phaidra-ui/locales/eng/index.js
  src/phaidra-ui/pages/admin.vue
  src/phaidra-vue-components/src/components/display/PDJsonld.vue
  src/phaidra-vue-components/src/components/display/PDJsonldLayout.vue
  src/phaidra-vue-components/src/i18n/deu.js
  src/phaidra-vue-components/src/i18n/eng.js
  src/phaidra-vue-components/src/store/modules/vocabulary.js
  src/phaidra-vue-components/src/utils/fields.js
  src/phaidra-vue-components/src/utils/json-ld.js
Due: build-api-dist, build-ui

v3.3.12
  CHANGELOG.md
  docker-compose.yaml
Due: none

Further iterate homepage texts
  website/overrides/home.html
Due: build-website-push-staging, build-website-push-final

fix oai config, fix search facets
  src/phaidra-api/PhaidraAPI.json
  src/phaidra-vue-components/src/store/modules/search.js
Due: build-api-dist, build-ui

fix vocab, update compose
  docker-compose.yaml
  src/phaidra-vue-components/src/store/modules/vocabulary.js
Due: build-ui

aaiso -> aiiso
  src/phaidra-vue-components/src/components/display/PDJsonld.vue
  src/phaidra-vue-components/src/utils/fields.js
  src/phaidra-vue-components/src/utils/json-ld.js
Due: build-ui

ui build
  docker-compose.yaml
Due: none

Fix typo
  website/docs/metadata.md
Due: build-website-push-staging, build-website-push-final

fix aaiso to aiiso and consider datastreams modified date for f6
  src/phaidra-api/PhaidraAPI/Model/Index.pm
Due: build-api-dist

compose and changelog update
  CHANGELOG.md
  docker-compose.yaml
Due: none

allow field configuration in template
  src/phaidra-ui/pages/submit/custom/_templateid.vue
Due: build-ui

allow abstract to be validated as description
  src/phaidra-vue-components/src/mixins/formvalidation.js
Due: build-ui

ui image update
  CHANGELOG.md
  docker-compose.yaml
Due: none

fix spls
  src/phaidra-api/PhaidraAPI/Model/Terms.pm
  src/phaidra-api/PhaidraAPI/Model/Uwmetadata.pm
Due: build-api-dist

compose
  CHANGELOG.md
  docker-compose.yaml
Due: none

fix auth undef
  src/phaidra-api/PhaidraAPI/Controller/Authentication.pm
Due: build-api-dist

compose
  docker-compose.yaml
Due: none

Hide left nav for about and FAIR
  website/about/index.md
  website/fair-data/index.md
Due: build-website-push-staging, build-website-push-final

Import logo in all its current versions
  website/assets/media/PHAIDRA/logo/full/PHAIDRA-logo-black.png
  website/assets/media/PHAIDRA/logo/full/PHAIDRA-logo-black.svg
  website/assets/media/PHAIDRA/logo/full/PHAIDRA-logo-white.png
  website/assets/media/PHAIDRA/logo/full/PHAIDRA-logo-white.svg
  website/assets/media/PHAIDRA/logo/icon-only/PHAIDRA-icon-black.svg
  website/assets/media/PHAIDRA/logo/icon-only/PHAIDRA-icon-white.svg
  website/assets/media/PHAIDRA/logo/text-only/PHAIDRA-logo-text-black.svg
Due: build-website-push-staging, build-website-push-final

Remove unneeded logo assets
  mkdocs.yml
  website/assets/img/phaidra_logo.svg
  website/assets/img/phaidra_logo_text.svg
Due: build-website-push-staging, build-website-push-final

parse set-cookie header
  src/phaidra-ui/locales/deu/index.js
  src/phaidra-ui/store/index.js
  src/phaidra-vue-components/src/store/modules/search.js
Due: build-ui

parse set-cookie header
  src/phaidra-ui/package.json
Due: build-ui

parse set-cookie header
  docker-compose.yaml
  src/phaidra-ui/store/index.js
Due: build-ui

ui version
  docker-compose.yaml
Due: none

lib refuses to work on requests so lets parse the header
  src/phaidra-ui/package.json
  src/phaidra-ui/store/index.js
Due: build-ui

lib refuses to work on requests so lets parse the header
  src/phaidra-ui/store/index.js
Due: build-ui

html redirect to support strict cookies
  src/phaidra-api/PhaidraAPI/Controller/Authentication.pm
Due: build-api-dist

only set facetqueries from public config if not empty
  src/phaidra-ui/layouts/default.vue
Due: build-ui

default for facetqueries is array
  src/phaidra-ui/pages/admin.vue
Due: build-ui

removing setcookie read
  src/phaidra-ui/store/index.js
Due: build-ui

fix of project field layout
  src/phaidra-vue-components/src/components/display/PDProject.vue
Due: build-ui

Path conditions:
  build-api-base: any of: dockerfiles/api-base.dockerfile
  build-api-dist: any of: dockerfiles/api-base.dockerfile, dockerfiles/api-dist.dockerfile, src/phaidra-api/**/*
  build-ui: any of: dockerfiles/ui.dockerfile, src/phaidra-ui/**/*, src/phaidra-vue-components/**/*
  build-chronos-base: any of: dockerfiles/chronos-base.dockerfile
  build-chronos-dist: any of: dockerfiles/chronos-base.dockerfile, dockerfiles/chronos-dist.dockerfile, container-init/chronos/**/*
  build-httpd-shib-base: any of: dockerfiles/httpd-shib-base.dockerfile
  build-httpd-demo-dist: any of: dockerfiles/httpd-demo-dist.dockerfile, container_init/httpd/phaidra-demo/conf/phaidra-demo.conf
  build-imageserver: any of: dockerfiles/imageserver.dockerfile
  build-pixelgecko-base: any of: dockerfiles/pixelgecko-base.dockerfile
  build-pixelgecko-dist: any of: dockerfiles/pixelgecko-base.dockerfile, dockerfiles/pixelgecko-dist.dockerfile, src/pixelgecko/**/*
  build-mariadb-phaidra-dist: any of: dockerfiles/mariadb-phaidra-dist.dockerfile, container_init/mariadb/phaidradb/**/*
  build-mariadb-fedora-dist: any of: dockerfiles/mariadb-fedora-dist.dockerfile, container_init/mariadb/fedoradb/**/*
  build-mongodb-dist: any of: dockerfiles/mongodb-dist.dockerfile, container_init/mongodb/**/*
  build-solr-dist: any of: dockerfiles/solr-dist.dockerfile, container_init/solr/**/*
  build-openldap-dist: any of: dockerfiles/openldap-dist.dockerfile, container_init/openldap/**/*
  build-vige-base: any of: dockerfiles/vige-base.dockerfile
  build-vige-dist: any of: dockerfiles/vige-base.dockerfile, dockerfiles/vige-dist.dockerfile, src/vige/**/*
  build-promtail-dist: any of: dockerfiles/promtail-dist.dockerfile, container_init/promtail/promtail-local.config.yaml
  build-loki-dist: any of: dockerfiles/loki-dist.dockerfile, container_init/loki/loki-docker-config.yaml
  build-grafana-dist: any of: dockerfiles/grafana-dist.dockerfile, container_init/grafana/**/*
  build-prometheus-dist: any of: dockerfiles/prometheus-dist.dockerfile, container_init/prometheus/prometheus.yaml
  compose-dev: any of: compose_dev/docker-compose.yaml, components/phaidra-ui/**/*, container_components/solr/**/*
  compose-demo: any of: compose_demo/docker-compose.yaml, container_components/solr/**/*
  compose-ssl: any of: compose_ssl/docker-compose.yaml, container_components/solr/**/*
  compose-shib: any of: compose_shib/docker-compose.yaml, container_components/solr/**/*
  compose-keycloak: any of: compose_shib/docker-compose.yaml, container_components/solr/**/*
  build-website-push-staging: any of: website/**/*, mkdocs.yml
  build-website-push-final: any of: website/**/*, mkdocs.yml
