Repository phaidra/phaidra: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-api-base, build-api-dist, build-ui, build-chronos-base, build-chronos-dist, build-httpd-shib-base, build-httpd-demo-dist, build-imageserver, build-pixelgecko-base, build-pixelgecko-dist, build-mariadb-phaidra-dist, build-mariadb-fedora-dist, build-mongodb-dist, build-solr-dist, build-openldap-dist, build-vige-base, build-vige-dist, build-promtail-dist, build-loki-dist, build-grafana-dist, build-prometheus-dist, compose-dev, compose-demo, compose-ssl, compose-shib, compose-keycloak, build-website-push-staging, build-website-push-final

Path conditions:
  build-api-base: any of: dockerfiles/api-base.dockerfile
  build-api-dist: any of: dockerfiles/api-base.dockerfile, dockerfiles/api-dist.dockerfile, src/phaidra-api/**/*
  build-ui: any of: dockerfiles/ui.dockerfile, src/phaidra-ui/**/*, src/phaidra-vue-components/**/*
  build-chronos-base: any of: dockerfiles/chronos-base.dockerfile
  build-chronos-dist: any of: dockerfiles/chronos-base.dockerfile, dockerfiles/chronos-dist.dockerfile, container-init/chronos/**/*
  build-httpd-shib-base: any of: dockerfiles/httpd-shib-base.dockerfile
  build-httpd-demo-dist: any of: dockerfiles/httpd-demo-dist.dockerfile, container_init/httpd/phaidra-demo/conf/phaidra-demo.conf
  build-imageserver: any of: dockerfiles/imageserver.dockerfile
  build-pixelgecko-base: any of: dockerfiles/pixelgecko-base.dockerfile
  build-pixelgecko-dist: any of: dockerfiles/pixelgecko-base.dockerfile, dockerfiles/pixelgecko-dist.dockerfile, src/pixelgecko/**/*
  build-mariadb-phaidra-dist: any of: dockerfiles/mariadb-phaidra-dist.dockerfile, container_init/mariadb/phaidradb/**/*
  build-mariadb-fedora-dist: any of: dockerfiles/mariadb-fedora-dist.dockerfile, container_init/mariadb/fedoradb/**/*
  build-mongodb-dist: any of: dockerfiles/mongodb-dist.dockerfile, container_init/mongodb/**/*
  build-solr-dist: any of: dockerfiles/solr-dist.dockerfile, container_init/solr/**/*
  build-openldap-dist: any of: dockerfiles/openldap-dist.dockerfile, container_init/openldap/**/*
  build-vige-base: any of: dockerfiles/vige-base.dockerfile
  build-vige-dist: any of: dockerfiles/vige-base.dockerfile, dockerfiles/vige-dist.dockerfile, src/vige/**/*
  build-promtail-dist: any of: dockerfiles/promtail-dist.dockerfile, container_init/promtail/promtail-local.config.yaml
  build-loki-dist: any of: dockerfiles/loki-dist.dockerfile, container_init/loki/loki-docker-config.yaml
  build-grafana-dist: any of: dockerfiles/grafana-dist.dockerfile, container_init/grafana/**/*
  build-prometheus-dist: any of: dockerfiles/prometheus-dist.dockerfile, container_init/prometheus/prometheus.yaml
  compose-dev: any of: compose_dev/docker-compose.yaml, components/phaidra-ui/**/*, container_components/solr/**/*
  compose-demo: any of: compose_demo/docker-compose.yaml, container_components/solr/**/*
  compose-ssl: any of: compose_ssl/docker-compose.yaml, container_components/solr/**/*
  compose-shib: any of: compose_shib/docker-compose.yaml, container_components/solr/**/*
  compose-keycloak: any of: compose_shib/docker-compose.yaml, container_components/solr/**/*
  build-website-push-staging: any of: website/**/*, mkdocs.yml
  build-website-push-final: any of: website/**/*, mkdocs.yml

wording
  src/phaidra-vue-components/src/components/search/PSearchToolbar.vue
Due: build-ui

UTF-8 support missing fix
  src/phaidra-api/lib/phaidra_directory/Phaidra/Directory/Default.pm
Due: build-api-dist

Make resource type editable on related object upload
  src/phaidra-ui/pages/submitrelated/_relatedpid/_relation.vue
Due: build-ui

fix perl use
  src/phaidra-api/PhaidraAPI/Model/Uwmetadata.pm
Due: build-api-dist

ui dashboard components
  src/phaidra-ui/components/dashboard/Searchlink.vue
Due: build-ui

new version of ui and api image
  CHANGELOG.md
  docker-compose.yaml
Due: none

slider-support-for-home
  src/phaidra-ui/components/ext/Home.vue
  src/phaidra-ui/package-lock.json
  src/phaidra-ui/package.json
Due: build-ui

autoplay wont work because refs do not seem to work with runtime template
  src/phaidra-ui/components/ext/Home.vue
Due: build-ui

ui version
  docker-compose.yaml
Due: none

fix delete group dialog
  src/phaidra-vue-components/src/components/groups/PGroups.vue
Due: build-ui

add lock icon to restricted access label
  src/phaidra-vue-components/src/components/search/PSearchResults.vue
Due: build-ui

button styles and translatable label on expiration date picker
  src/phaidra-vue-components/src/components/management/PMRights.vue
Due: build-ui

enable the possibility to redirect /open to pid
  docker-compose.yaml
  src/phaidra-ui/server-middleware/redirect.js
Due: build-ui

new ui version
  docker-compose.yaml
Due: none

Update README.md
  README.md
Due: none

i18n manage groups table header
  src/phaidra-vue-components/src/components/management/PMRights.vue
Due: build-ui

Fix vertical spacing
  src/phaidra-vue-components/src/components/management/PMDelete.vue
Due: build-ui

i18n fixes to metadata input form, language selector, templates
  src/phaidra-vue-components/src/components/input/PIForm.vue
  src/phaidra-vue-components/src/components/select/SelectLanguage.vue
  src/phaidra-vue-components/src/components/templates/PTemplates.vue
Due: build-ui

Swap group creation labels
  src/phaidra-vue-components/src/components/groups/PGroups.vue
Due: build-ui

Fix object list create button label
  src/phaidra-ui/locales/deu/index.js
  src/phaidra-vue-components/src/components/lists/PLists.vue
Due: build-ui

set perl tmp dir too
  src/phaidra-api/PhaidraAPI.pm
Due: build-api-dist

ease publisher validation
  src/phaidra-api/public/json-schema/jsonld.json
Due: build-api-dist

allow defining different access for ui
  container_init/httpd/phaidra-demo/conf/phaidra-demo.conf
  container_init/httpd/phaidra-keycloak/conf/phaidra-keycloak.conf
  container_init/httpd/phaidra-shib/conf/phaidra-shib.conf
  container_init/httpd/phaidra-ssl/conf/phaidra-ssl.conf
  docker-compose.yaml
Due: build-httpd-demo-dist

missing httpd conf in shib
  .gitlab-ci.yml
Due: none

just trigger new image build
  container_init/httpd/phaidra-shib/conf/phaidra-shib.conf
Due: none

new image versions and changelog
  CHANGELOG.md
  docker-compose.yaml
Due: none

new image versions and changelog
  docker-compose.yaml
Due: none

dockerfiles: add ldapaccoutmanager for openshift
  dockerfiles/lam.dockerfile
Due: none

encode utf8 filename when uploading and downloading files
  src/phaidra-api/PhaidraAPI/Controller/Octets.pm
  src/phaidra-api/PhaidraAPI/Model/Fedora.pm
Due: build-api-dist

api version
  CHANGELOG.md
  docker-compose.yaml
Due: none

UI button styles consistency and fix a translation label
  src/phaidra-ui/components/Submit.vue
  src/phaidra-ui/locales/deu/index.js
  src/phaidra-ui/locales/ita/index.js
  src/phaidra-ui/pages/detail/_pid.vue
  src/phaidra-vue-components/src/components/input/PIForm.vue
  src/phaidra-vue-components/src/components/management/PMDelete.vue
  src/phaidra-vue-components/src/components/search/PSearchToolbar.vue
Due: build-ui

small validation fix
  src/phaidra-api/public/json-schema/jsonld.json
Due: build-api-dist

api version
  docker-compose.yaml
Due: none

add All Rights Reserved description
  src/phaidra-vue-components/src/store/modules/vocabulary.js
Due: build-ui

implemented thumbnail link
  src/phaidra-vue-components/src/components/search/PSearchResults.vue
Due: build-ui

added route for thumbnail image in colletion member list
  src/phaidra-ui/pages/detail/_pid.vue
Due: build-ui

Legacy metadata form: added ability to clear selected item
  src/phaidra-vue-components/src/components/legacy/PIUwmRec.vue
Due: build-ui

UI button styles consistency
  src/phaidra-ui/pages/admin.vue
  src/phaidra-vue-components/src/components/select/SelectLanguage.vue
Due: build-ui

Close button styles
  src/phaidra-ui/pages/detail/_pid.vue
Due: build-ui
