Repository phaidra/phaidra: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-api-base, build-api-dist, build-ui, build-chronos-base, build-chronos-dist, build-httpd-shib-base, build-httpd-demo-dist, build-imageserver, build-pixelgecko-base, build-pixelgecko-dist, build-mariadb-phaidra-dist, build-mariadb-fedora-dist, build-mongodb-dist, build-solr-dist, build-openldap-dist, build-vige-base, build-vige-dist, build-promtail-dist, build-loki-dist, build-grafana-dist, build-prometheus-dist, compose-dev, compose-demo, compose-ssl, compose-shib, compose-keycloak, build-website-push-staging, build-website-push-final

Path conditions:
  build-api-base: any of: dockerfiles/api-base.dockerfile
  build-api-dist: any of: dockerfiles/api-base.dockerfile, dockerfiles/api-dist.dockerfile, src/phaidra-api/**/*
  build-ui: any of: dockerfiles/ui.dockerfile, src/phaidra-ui/**/*, src/phaidra-vue-components/**/*
  build-chronos-base: any of: dockerfiles/chronos-base.dockerfile
  build-chronos-dist: any of: dockerfiles/chronos-base.dockerfile, dockerfiles/chronos-dist.dockerfile, container-init/chronos/**/*
  build-httpd-shib-base: any of: dockerfiles/httpd-shib-base.dockerfile
  build-httpd-demo-dist: any of: dockerfiles/httpd-demo-dist.dockerfile, container_init/httpd/phaidra-demo/conf/phaidra-demo.conf
  build-imageserver: any of: dockerfiles/imageserver.dockerfile
  build-pixelgecko-base: any of: dockerfiles/pixelgecko-base.dockerfile
  build-pixelgecko-dist: any of: dockerfiles/pixelgecko-base.dockerfile, dockerfiles/pixelgecko-dist.dockerfile, src/pixelgecko/**/*
  build-mariadb-phaidra-dist: any of: dockerfiles/mariadb-phaidra-dist.dockerfile, container_init/mariadb/phaidradb/**/*
  build-mariadb-fedora-dist: any of: dockerfiles/mariadb-fedora-dist.dockerfile, container_init/mariadb/fedoradb/**/*
  build-mongodb-dist: any of: dockerfiles/mongodb-dist.dockerfile, container_init/mongodb/**/*
  build-solr-dist: any of: dockerfiles/solr-dist.dockerfile, container_init/solr/**/*
  build-openldap-dist: any of: dockerfiles/openldap-dist.dockerfile, container_init/openldap/**/*
  build-vige-base: any of: dockerfiles/vige-base.dockerfile
  build-vige-dist: any of: dockerfiles/vige-base.dockerfile, dockerfiles/vige-dist.dockerfile, src/vige/**/*
  build-promtail-dist: any of: dockerfiles/promtail-dist.dockerfile, container_init/promtail/promtail-local.config.yaml
  build-loki-dist: any of: dockerfiles/loki-dist.dockerfile, container_init/loki/loki-docker-config.yaml
  build-grafana-dist: any of: dockerfiles/grafana-dist.dockerfile, container_init/grafana/**/*
  build-prometheus-dist: any of: dockerfiles/prometheus-dist.dockerfile, container_init/prometheus/prometheus.yaml
  compose-dev: any of: compose_dev/docker-compose.yaml, components/phaidra-ui/**/*, container_components/solr/**/*
  compose-demo: any of: compose_demo/docker-compose.yaml, container_components/solr/**/*
  compose-ssl: any of: compose_ssl/docker-compose.yaml, container_components/solr/**/*
  compose-shib: any of: compose_shib/docker-compose.yaml, container_components/solr/**/*
  compose-keycloak: any of: compose_shib/docker-compose.yaml, container_components/solr/**/*
  build-website-push-staging: any of: website/**/*, mkdocs.yml
  build-website-push-final: any of: website/**/*, mkdocs.yml

ui version
  docker-compose.yaml
Due: none

annotation admin conf
  src/phaidra-api/PhaidraAPI/Controller/Object.pm
  src/phaidra-api/templates/utils/imageviewer.html.ep
  src/phaidra-ui/pages/admin.vue
  src/phaidra-ui/pages/detail/_pid.vue
Due: build-api-dist, build-ui

widgets-title-background-fix
  src/phaidra-ui/components/dashboard/Latestpreview.vue
  src/phaidra-ui/components/dashboard/Latestuploads.vue
  src/phaidra-ui/components/dashboard/Searchlink.vue
  src/phaidra-ui/components/dashboard/Uploads.vue
Due: build-ui

add missing container and book icons on search results and collection members
  src/phaidra-ui/pages/detail/_pid.vue
  src/phaidra-vue-components/src/components/search/PSearchResults.vue
Due: build-ui

i18n
  src/phaidra-api/PhaidraAPI/Model/Uwmetadata/Tree.pm
  src/phaidra-ui/locales/ita.json
Due: build-api-dist, build-ui

footer margins and i18n
  src/phaidra-ui/components/ext/Footer.vue
Due: build-ui

phaidra subject field lang change
  src/phaidra-ui/locales/deu.json
  src/phaidra-ui/locales/ita.json
  src/phaidra-vue-components/src/utils/fields.js
Due: build-ui

store missed configurable
  src/phaidra-ui/store/index.js
Due: build-ui

iiif manifest fix
  src/phaidra-api/PhaidraAPI/Model/Iiifmanifest.pm
Due: build-api-dist

adding resource type book
  src/phaidra-vue-components/src/store/modules/vocabulary.js
Due: build-ui

pre wrap class removed on role for json ld, removed extra space on uwmetadata lastname
  src/phaidra-vue-components/src/components/display/PDEntity.vue
  src/phaidra-vue-components/src/components/legacy/PDUwmRec.vue
Due: build-ui

text break on serach result and detail page
  src/phaidra-ui/pages/detail/_pid.vue
  src/phaidra-vue-components/src/components/search/PSearchResults.vue
Due: build-ui

metadata sections layout
  src/phaidra-vue-components/src/components/display/PDJsonld.vue
  src/phaidra-vue-components/src/components/display/PDJsonldLayout.vue
  src/phaidra-vue-components/src/components/legacy/PDUwmRec.vue
Due: build-ui

clipboard copy for mpid
  src/phaidra-ui/pages/detail/_pid.vue
Due: build-ui

tooltip added
  src/phaidra-ui/pages/detail/_pid.vue
Due: build-ui

prod-changes-merge
  src/phaidra-api/PhaidraAPI.pm
  src/phaidra-api/PhaidraAPI/Controller/Oai.pm
  src/phaidra-api/PhaidraAPI/Controller/Oaitest.pm
  src/phaidra-api/PhaidraAPI/Model/Collection.pm
  src/phaidra-api/PhaidraAPI/Model/Iiifmanifest.pm
  src/phaidra-api/PhaidraAPI/Model/Mappings/Export/Dublincore.pm
  src/phaidra-api/PhaidraAPI/Model/Mappings/Export/Dublincoretest.pm
  src/phaidra-api/PhaidraAPI/Model/Mappings/Export/Edm.pm
  src/phaidra-api/PhaidraAPI/Model/Object.pm
  src/phaidra-api/utils/processUsageStats.pl
Due: build-api-dist

api version
  docker-compose.yaml
Due: none

add CC 2.0 AT licenses to api for uwmetadata display on object detail page
  src/phaidra-api/public/licenses/licenses.json
Due: build-api-dist

reduce vertical margins of uwmetadata fields on object detail page
  src/phaidra-vue-components/src/components/legacy/PDUwmRec.vue
Due: build-ui

display link to stats page only if there are details to show
  src/phaidra-ui/pages/detail/_pid.vue
Due: build-ui

show 2-letter language code on uwmetadata objects title
  src/phaidra-ui/locales/eng.json
  src/phaidra-vue-components/src/components/legacy/PDUwmRec.vue
Due: build-ui

ita i18n update
  src/phaidra-ui/locales/ita.json
Due: build-ui

oai fixs
  src/phaidra-api/PhaidraAPI/Model/Index.pm
  src/phaidra-api/PhaidraAPI/Model/Mappings/Export/Dublincoretest.pm
Due: build-api-dist

add page resource
  src/phaidra-vue-components/src/store/modules/vocabulary.js
Due: build-ui

Edit vocabulary.js
  src/phaidra-vue-components/src/store/modules/vocabulary.js
Due: build-ui

cm2rt changes
  src/phaidra-api/PhaidraAPI/Model/Jsonld.pm
Due: build-api-dist

add correct object type select
  src/phaidra-vue-components/src/utils/json-ld.js
Due: build-ui

fix copy
  src/phaidra-ui/pages/detail/_pid.vue
Due: build-ui

ui/api version
  docker-compose.yaml
Due: none

Closes #238
  src/phaidra-api/PhaidraAPI/Model/Datacite.pm
Due: build-api-dist

fix-cms-footer-width
  src/phaidra-ui/components/ext/Footer.vue
Due: build-ui

allow local smtp
  src/phaidra-api/PhaidraAPI/Controller/Feedback.pm
  src/phaidra-api/PhaidraAPI/Controller/Ir.pm
  src/phaidra-api/PhaidraAPI/Controller/Utils.pm
Due: build-api-dist

allow local smtp
  src/phaidra-api/PhaidraAPI/Controller/Feedback.pm
  src/phaidra-api/PhaidraAPI/Controller/Ir.pm
Due: build-api-dist

allow local smtp
  src/phaidra-api/PhaidraAPI/Controller/Utils.pm
Due: build-api-dist

Role name in single line
  src/phaidra-vue-components/src/components/display/PDEntity.vue
Due: build-ui

Groups page UI fixes
  src/phaidra-vue-components/src/components/groups/PGroups.vue
Due: build-ui

skip to search filter
  src/phaidra-vue-components/src/components/search/PSearch.vue
Due: build-ui
