Repository phaidra/phaidra: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-api-base, build-api-dist, build-ui, build-chronos-base, build-chronos-dist, build-httpd-shib-base, build-httpd-demo-dist, build-imageserver, build-pixelgecko-base, build-pixelgecko-dist, build-mariadb-phaidra-dist, build-mariadb-fedora-dist, build-mongodb-dist, build-solr-dist, build-openldap-dist, build-vige-base, build-vige-dist, build-promtail-dist, build-loki-dist, build-grafana-dist, build-prometheus-dist, compose-dev, compose-demo, compose-ssl, compose-shib, compose-keycloak, build-website-push-staging, build-website-push-final

Path conditions:
  build-api-base: any of: dockerfiles/api-base.dockerfile
  build-api-dist: any of: dockerfiles/api-base.dockerfile, dockerfiles/api-dist.dockerfile, src/phaidra-api/**/*
  build-ui: any of: dockerfiles/ui.dockerfile, src/phaidra-ui/**/*, src/phaidra-vue-components/**/*
  build-chronos-base: any of: dockerfiles/chronos-base.dockerfile
  build-chronos-dist: any of: dockerfiles/chronos-base.dockerfile, dockerfiles/chronos-dist.dockerfile, container-init/chronos/**/*
  build-httpd-shib-base: any of: dockerfiles/httpd-shib-base.dockerfile
  build-httpd-demo-dist: any of: dockerfiles/httpd-demo-dist.dockerfile, container_init/httpd/phaidra-demo/conf/phaidra-demo.conf
  build-imageserver: any of: dockerfiles/imageserver.dockerfile
  build-pixelgecko-base: any of: dockerfiles/pixelgecko-base.dockerfile
  build-pixelgecko-dist: any of: dockerfiles/pixelgecko-base.dockerfile, dockerfiles/pixelgecko-dist.dockerfile, src/pixelgecko/**/*
  build-mariadb-phaidra-dist: any of: dockerfiles/mariadb-phaidra-dist.dockerfile, container_init/mariadb/phaidradb/**/*
  build-mariadb-fedora-dist: any of: dockerfiles/mariadb-fedora-dist.dockerfile, container_init/mariadb/fedoradb/**/*
  build-mongodb-dist: any of: dockerfiles/mongodb-dist.dockerfile, container_init/mongodb/**/*
  build-solr-dist: any of: dockerfiles/solr-dist.dockerfile, container_init/solr/**/*
  build-openldap-dist: any of: dockerfiles/openldap-dist.dockerfile, container_init/openldap/**/*
  build-vige-base: any of: dockerfiles/vige-base.dockerfile
  build-vige-dist: any of: dockerfiles/vige-base.dockerfile, dockerfiles/vige-dist.dockerfile, src/vige/**/*
  build-promtail-dist: any of: dockerfiles/promtail-dist.dockerfile, container_init/promtail/promtail-local.config.yaml
  build-loki-dist: any of: dockerfiles/loki-dist.dockerfile, container_init/loki/loki-docker-config.yaml
  build-grafana-dist: any of: dockerfiles/grafana-dist.dockerfile, container_init/grafana/**/*
  build-prometheus-dist: any of: dockerfiles/prometheus-dist.dockerfile, container_init/prometheus/prometheus.yaml
  compose-dev: any of: compose_dev/docker-compose.yaml, components/phaidra-ui/**/*, container_components/solr/**/*
  compose-demo: any of: compose_demo/docker-compose.yaml, container_components/solr/**/*
  compose-ssl: any of: compose_ssl/docker-compose.yaml, container_components/solr/**/*
  compose-shib: any of: compose_shib/docker-compose.yaml, container_components/solr/**/*
  compose-keycloak: any of: compose_shib/docker-compose.yaml, container_components/solr/**/*
  build-website-push-staging: any of: website/**/*, mkdocs.yml
  build-website-push-final: any of: website/**/*, mkdocs.yml

api version
  docker-compose.yaml
Due: none

filename Sanitization and checking filename is under the expected directory
  src/phaidra-api/PhaidraAPI/Controller/Threed.pm
Due: build-api-dist

added loader for 3d viewer
  src/phaidra-api/templates/threed/viewer.html.ep
Due: build-api-dist

loader text for gltf model and resource
  src/phaidra-api/templates/threed/viewer.html.ep
Due: build-api-dist

fix undefined function call
  src/phaidra-vue-components/src/utils/PDateModifier.js
Due: build-ui

missing translatable label in bulk upload
  src/phaidra-ui/components/bulk-upload/UploadTable.vue
Due: build-ui

fixity check: use SMTP_ variables from .env
  docker-compose.yaml
Due: none

doi import config in admin panel
  src/phaidra-ui/locales/deu.json
  src/phaidra-ui/pages/admin.vue
  src/phaidra-ui/pages/submit/upload.vue
  src/phaidra-ui/store/index.js
Due: build-ui

remove square brackets from bf:date in marc mapping (has different syntax than edtf)
  src/phaidra-api/PhaidraAPI/Model/Mappings/Import/Marc.pm
Due: build-api-dist

apply addRelationships to subjects, not the current pid
  src/phaidra-api/PhaidraAPI/Model/Object.pm
Due: build-api-dist

imageserver: write BASE_URL in dockerfile rather than container_init
  container_init/imageserver/imageserver-entrypoint.bash
  dockerfiles/imageserver.dockerfile
Due: build-imageserver

mapping 3 letter lang directly
  src/phaidra-vue-components/src/components/utils/PDoiImport.vue
  src/phaidra-vue-components/src/utils/doiconstructor.js
Due: build-ui

data cite import fix
  src/phaidra-vue-components/src/components/utils/PDoiImport.vue
  src/phaidra-vue-components/src/utils/doiconstructor.js
Due: build-ui

description type as bf:Summary
  src/phaidra-vue-components/src/components/utils/PDoiImport.vue
Due: build-ui

doi import missing function fix, other fixes
  src/phaidra-vue-components/src/components/utils/PDoiImport.vue
Due: build-ui

Added translation support for doi import card title
  src/phaidra-vue-components/src/components/utils/PDoiImport.vue
Due: build-ui

description data import based on license
  src/phaidra-vue-components/src/components/utils/PDoiImport.vue
  src/phaidra-vue-components/src/utils/doiconstructor.js
Due: build-ui

add border to uwmetadata lifecycle contribute with date
  src/phaidra-vue-components/src/components/legacy/PDUwmRec.vue
Due: build-ui

ita update
  src/phaidra-ui/locales/ita.json
Due: build-ui

missing bulk upload italian translations
  src/phaidra-ui/locales/ita.json
Due: build-ui

ita i18n upd
  src/phaidra-ui/locales/ita.json
Due: build-ui

added doi import italian translations
  src/phaidra-ui/locales/ita.json
Due: build-ui

fix italian translations of some uwmetadata fields
  src/phaidra-api/PhaidraAPI/Model/Uwmetadata/Tree.pm
  src/phaidra-ui/locales/ita.json
Due: build-api-dist, build-ui

Update dbgate in docker-compose.yaml
  docker-compose.yaml
Due: none

incorrect path for certs in httpd_tls.conf
  configs/httpd_tls.conf
Due: none

empty SMTP_* variables if not in .env
  docker-compose.yaml
Due: none

fix editing error
  docker-compose.yaml
Due: none

To avoid email flood, don't require SMTP_ variables. Those should be set only when we want to receive emails when checking fixity. Also, when testing or demoing, this variables should not be set.
  scripts/fixity_handler.sh
Due: none

cmsTemplates variable which contains template list from db
  src/phaidra-api/PhaidraAPI.pm
  src/phaidra-api/PhaidraAPI/Controller/Cms.pm
  src/phaidra-api/PhaidraAPI/Model/Cms.pm
  src/phaidra-ui/components/ext/Home.vue
  src/phaidra-ui/mixins/cmsTemplates.js
  src/phaidra-ui/pages/collections/_collection.vue
Due: build-api-dist, build-ui

api/ui version
  docker-compose.yaml
Due: none

revert wrong path in httpd_tls.conf, entrypoint in container will copy files in the right position in the container
  configs/httpd_tls.conf
Due: none

add dcterms_created_edtf to add_solr_fields script
  src/phaidra-api/migrations/add_solr_fields.pl
Due: build-api-dist

imageserver version
  docker-compose.yaml
Due: none

manifest update for recto object by finding hasbackside in relationships
  src/phaidra-api/PhaidraAPI/Model/Hooks.pm
  src/phaidra-api/PhaidraAPI/Model/Iiifmanifest.pm
Due: build-api-dist

removed unwanted space
  src/phaidra-api/PhaidraAPI/Model/Hooks.pm
Due: build-api-dist

recto verso iiif manifest
  src/phaidra-api/PhaidraAPI/Model/Hooks.pm
  src/phaidra-api/PhaidraAPI/Model/Iiifmanifest.pm
Due: build-api-dist
