Repository phaidra/phaidra: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-api, build-chronos, build-httpd, build-imageserver, build-pixelgecko, compose-demo, compose-ssl, compose-shib

build-api:
  stage: build
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-chronos:
  stage: build
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-httpd:
  stage: build
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-imageserver:
  stage: build
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-pixelgecko:
  stage: build
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

compose-demo:
  stage: test
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  script:
  - cd compose_demo
  - docker compose up -d --quiet-pull --build
  - docker compose down

compose-ssl:
  stage: test
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  script:
  - cd compose_ssl
  - docker compose up -d --quiet-pull --build
  - docker compose down

compose-shib:
  stage: test
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  script:
  - cd compose_shib
  - docker compose up -d --quiet-pull --build
  - docker compose down

rename webserver_configs to container_init/httpd for consistency.
  README.md
  compose_demo/docker-compose.yaml
  compose_shib/docker-compose.yaml
  compose_ssl/docker-compose.yaml
  container_init/httpd/phaidra-demo/conf/phaidra-demo.conf
  container_init/httpd/phaidra-demo/httpd-demo-startup.bash
  container_init/httpd/phaidra-shib/conf/aconet-metadata-signing.crt
  container_init/httpd/phaidra-shib/conf/attribute-map.xml
  container_init/httpd/phaidra-shib/conf/attribute-policy.xml
  container_init/httpd/phaidra-shib/conf/phaidra-shib.conf
  container_init/httpd/phaidra-shib/conf/shibboleth2.xml
  container_init/httpd/phaidra-shib/httpd-shib-startup.bash
  container_init/httpd/phaidra-ssl/conf/phaidra-ssl.conf
  container_init/httpd/phaidra-ssl/httpd-ssl-startup.bash
  pictures/construction_demo.svg
  pictures/construction_shib.svg
  pictures/construction_ssl.svg
  technical-sketches.org
Due: compose-demo, compose-ssl, compose-shib

add forgotten pixelgecko bindmount to graphical overviews.
  pictures/construction_demo.svg
  pictures/construction_shib.svg
  pictures/construction_ssl.svg
  technical-sketches.org
Due: none

update docker info and version.
  README.md
Due: none

automated image build demo for eva
  dockerfiles/api.dockerfile
Due: build-api

vige
  src/phaidra-api/PhaidraAPI.json
  src/phaidra-api/PhaidraAPI/Model/Hooks.pm
  src/pixelgecko/perl_modules/PAF/JobQueue.pm
Due: none

add rules to prevent useless builds.
  .gitlab-ci.yml
Due: none

add forgotten workdir for vige.
  dockerfiles/vige.dockerfile
Due: none

update vige image to get newer version of file program.
  dockerfiles/vige.dockerfile
Due: none

use gdebi for mongosh installation to pick up deps.
  dockerfiles/vige.dockerfile
Due: none

add non-interactive flag to gdebi.
  dockerfiles/vige.dockerfile
Due: none

add missing curl program to image.
  dockerfiles/vige.dockerfile
Due: none

Update file vocabulary.js
  src/phaidra-vue-components/src/store/modules/vocabulary.js
Due: none

Update file eng.js
  src/phaidra-vue-components/src/i18n/eng.js
Due: none

add GNU parallel to vige image.
  dockerfiles/vige.dockerfile
Due: none

resource creation fix
  src/phaidra-api/PhaidraAPI/Model/Fedora.pm
Due: none

missing command
  README.md
Due: none

typo
  README.md
Due: none

add vige code.
  src/vige/vige_checker.bash
  src/vige/vige_controller.bash
  src/vige/vige_uploader.bash
Due: none

add compose sections for vige and promtail (commented).
  compose_demo/.env
  compose_demo/docker-compose.yaml
  compose_shib/.env
  compose_shib/docker-compose.yaml
  compose_ssl/.env
  compose_ssl/docker-compose.yaml
  container_init/promtail/promtail-local-config.yaml
  src/vige/vige_uploader.bash
Due: compose-demo, compose-ssl, compose-shib

fix grafana loki labelling issues.
  compose_demo/.env
  compose_demo/docker-compose.yaml
  compose_shib/.env
  compose_shib/docker-compose.yaml
  compose_ssl/.env
  compose_ssl/docker-compose.yaml
  container_init/promtail/promtail-local-config.yaml
Due: compose-demo, compose-ssl, compose-shib

fix order of rootlesskit setup commands.
  README.md
Due: none

add information about read access to shib and server keypairs.
  README.md
Due: none

make notes bold.
  README.md
Due: none

giulios github commit 1efd6af5c59b to reduce api stderr output THX!.
  src/phaidra-api/PhaidraAPI/Controller/Object.pm
  src/phaidra-api/PhaidraAPI/Model/Index.pm
Due: none

silence uninitialized api stderr warning regarding triplestore.
  src/phaidra-api/PhaidraAPI.pm
Due: none

silence api env var resolution stdout messages.
  src/phaidra-api/lib/phaidra_directory/change_refs.pm
Due: none

disable 100-Continue, does not work well with proxies right now
  container_init/httpd/phaidra-demo/conf/phaidra-demo.conf
Due: none

set Proxy100Continue to off in ssl an shib versions too.
  container_init/httpd/phaidra-shib/conf/phaidra-shib.conf
  container_init/httpd/phaidra-ssl/conf/phaidra-ssl.conf
Due: none

add grafana to demo version.
  compose_demo/.env
  compose_demo/docker-compose.yaml
  container_init/grafana/ds.yaml
  container_init/httpd/phaidra-demo/conf/phaidra-demo.conf
  container_init/loki/loki-docker-config.yaml
  container_init/promtail/promtail-push-config.yaml
  src/phaidra-ui/components/ext/Home.vue
Due: compose-demo

disable streaming parameter to be able to watch uploaded videos.
  src/phaidra-api/PhaidraAPI.json
Due: none

add shib metadatafilter restriction.
  container_init/httpd/phaidra-shib/conf/shibboleth2.xml
Due: none

add grafana, loki and promtail to shib and ssl versions.
  compose_shib/docker-compose.yaml
  compose_ssl/docker-compose.yaml
  container_init/httpd/phaidra-shib/conf/phaidra-shib.conf
  container_init/httpd/phaidra-ssl/conf/phaidra-ssl.conf
Due: compose-ssl, compose-shib

silence pixelgecko.
  src/pixelgecko/perl_modules/PAF/JobQueue.pm
  src/pixelgecko/pixelgecko.pl
Due: none

add promtail filters and phaidra default grafana dashboard.
  compose_demo/docker-compose.yaml
  container_init/api/api-entrypoint.bash
  container_init/grafana/dashboards/phaidra_default.json
  container_init/grafana/dd.yaml
  container_init/grafana/ds.yaml
  container_init/promtail/promtail-local-config.yaml
Due: compose-demo

properly label grafana stderr panel.
  container_init/grafana/dashboards/phaidra_default.json
Due: none

Add note for priviledged docker users and users with uid != 1000.
  README.md
Due: none

redirect api-logs to stdout, set promtails labels for ssl and shib.
  compose_shib/.env
  compose_shib/docker-compose.yaml
  compose_ssl/.env
  compose_ssl/docker-compose.yaml
Due: compose-ssl, compose-shib

update README for ssl and shib versions.
  README.md
Due: none

Path conditions:
  build-api: any of: dockerfiles/api.dockerfile
  build-chronos: any of: dockerfiles/chronos.dockerfile
  build-httpd: any of: dockerfiles/httpd.dockerfile
  build-imageserver: any of: dockerfiles/imageserver.dockerfile
  build-pixelgecko: any of: dockerfiles/pixelgecko.dockerfile
  compose-demo: any of: compose_demo/docker-compose.yaml, compose_demo/.env, components/phaidra-ui/**/*, image_components/solr/**/*
  compose-ssl: any of: compose_ssl/docker-compose.yaml, compose_ssl/.env, components/phaidra-ui/**/*, image_components/solr/**/*
  compose-shib: any of: compose_shib/docker-compose.yaml, compose_shib/.env, components/phaidra-ui/**/*, image_components/solr/**/*
