Repository phaidra/phaidra: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-api-base, build-api-dist, build-ui, build-chronos-base, build-chronos-dist, build-httpd-shib-base, build-httpd-demo-dist, build-imageserver, build-pixelgecko-base, build-pixelgecko-dist, build-mariadb-phaidra-dist, build-mariadb-fedora-dist, build-mongodb-dist, build-solr-dist, build-openldap-dist, build-vige-base, build-vige-dist, build-promtail-dist, build-loki-dist, build-grafana-dist, build-prometheus-dist, compose-dev, compose-demo, compose-ssl, compose-shib, compose-keycloak, build-website-push-staging, build-website-push-final

Path conditions:
  build-api-base: any of: dockerfiles/api-base.dockerfile
  build-api-dist: any of: dockerfiles/api-base.dockerfile, dockerfiles/api-dist.dockerfile, src/phaidra-api/**/*
  build-ui: any of: dockerfiles/ui.dockerfile, src/phaidra-ui/**/*, src/phaidra-vue-components/**/*
  build-chronos-base: any of: dockerfiles/chronos-base.dockerfile
  build-chronos-dist: any of: dockerfiles/chronos-base.dockerfile, dockerfiles/chronos-dist.dockerfile, container-init/chronos/**/*
  build-httpd-shib-base: any of: dockerfiles/httpd-shib-base.dockerfile
  build-httpd-demo-dist: any of: dockerfiles/httpd-demo-dist.dockerfile, container_init/httpd/phaidra-demo/conf/phaidra-demo.conf
  build-imageserver: any of: dockerfiles/imageserver.dockerfile
  build-pixelgecko-base: any of: dockerfiles/pixelgecko-base.dockerfile
  build-pixelgecko-dist: any of: dockerfiles/pixelgecko-base.dockerfile, dockerfiles/pixelgecko-dist.dockerfile, src/pixelgecko/**/*
  build-mariadb-phaidra-dist: any of: dockerfiles/mariadb-phaidra-dist.dockerfile, container_init/mariadb/phaidradb/**/*
  build-mariadb-fedora-dist: any of: dockerfiles/mariadb-fedora-dist.dockerfile, container_init/mariadb/fedoradb/**/*
  build-mongodb-dist: any of: dockerfiles/mongodb-dist.dockerfile, container_init/mongodb/**/*
  build-solr-dist: any of: dockerfiles/solr-dist.dockerfile, container_init/solr/**/*
  build-openldap-dist: any of: dockerfiles/openldap-dist.dockerfile, container_init/openldap/**/*
  build-vige-base: any of: dockerfiles/vige-base.dockerfile
  build-vige-dist: any of: dockerfiles/vige-base.dockerfile, dockerfiles/vige-dist.dockerfile, src/vige/**/*
  build-promtail-dist: any of: dockerfiles/promtail-dist.dockerfile, container_init/promtail/promtail-local.config.yaml
  build-loki-dist: any of: dockerfiles/loki-dist.dockerfile, container_init/loki/loki-docker-config.yaml
  build-grafana-dist: any of: dockerfiles/grafana-dist.dockerfile, container_init/grafana/**/*
  build-prometheus-dist: any of: dockerfiles/prometheus-dist.dockerfile, container_init/prometheus/prometheus.yaml
  compose-dev: any of: compose_dev/docker-compose.yaml, components/phaidra-ui/**/*, container_components/solr/**/*
  compose-demo: any of: compose_demo/docker-compose.yaml, container_components/solr/**/*
  compose-ssl: any of: compose_ssl/docker-compose.yaml, container_components/solr/**/*
  compose-shib: any of: compose_shib/docker-compose.yaml, container_components/solr/**/*
  compose-keycloak: any of: compose_shib/docker-compose.yaml, container_components/solr/**/*
  build-website-push-staging: any of: website/**/*, mkdocs.yml
  build-website-push-final: any of: website/**/*, mkdocs.yml

add Italian translation of custom header info message
  src/phaidra-ui/locales/ita.json
Due: build-ui

update Italian role code label
  src/phaidra-api/PhaidraAPI/Model/Uwmetadata/Tree.pm
Due: build-api-dist

remove Italian i18n of custom templates as it is managed in admin i18n overrides
  src/phaidra-ui/locales/ita.json
Due: build-ui

uwmetadata multipe child values for Details about the source
  src/phaidra-vue-components/src/components/legacy/PDUwmRec.vue
Due: build-ui

uwmetadata multipe child values for chronological and location
  src/phaidra-vue-components/src/components/legacy/PDUwmRec.vue
Due: build-ui

update Italian translation for role code 1552095 in phaidradb
  container_init/mariadb/phaidradb/phaidradb.sql.gz
Due: build-mariadb-phaidra-dist

ui version
  docker-compose.yaml
Due: none

remove unneccessary vocab value
  src/phaidra-vue-components/src/store/modules/vocabulary.js
Due: build-ui

api version
  docker-compose.yaml
Due: none

small-api-ui-fixes
  src/phaidra-api/PhaidraAPI/Controller/Object.pm
  src/phaidra-api/PhaidraAPI/Model/Jsonld/Extraction.pm
  src/phaidra-ui/locales/deu.json
  src/phaidra-vue-components/src/components/display/PDSeries.vue
Due: build-api-dist, build-ui

kph oer licenses
  src/phaidra-ui/pages/submit/oerkphvie.vue
Due: build-ui

remove readme, we dont need it here
  src/phaidra-api/README.md
Due: build-api-dist

api/ui version
  docker-compose.yaml
Due: none

vuetify plugin for commonly used components
  src/phaidra-ui/nuxt.config.js
  src/phaidra-ui/plugins/vuetify-runtime-components.js
Due: build-ui

add v-list and v-list-item to Vuetify runtime components import
  src/phaidra-ui/plugins/vuetify-runtime-components.js
Due: build-ui

license as link for uwmetadata object
  src/phaidra-ui/pages/detail/_pid.vue
  src/phaidra-vue-components/src/components/legacy/PDUwmRec.vue
Due: build-ui

Notes for license
  src/phaidra-ui/locales/deu.json
  src/phaidra-ui/locales/eng.json
  src/phaidra-ui/locales/ita.json
  src/phaidra-vue-components/src/components/input/PIForm.vue
  src/phaidra-vue-components/src/i18n/deu.json
  src/phaidra-vue-components/src/i18n/eng.json
  src/phaidra-vue-components/src/i18n/ita.json
Due: build-ui

filesize filter
  src/phaidra-ui/pages/detail/_pid.vue
Due: build-ui

removed extra space
  src/phaidra-ui/pages/detail/_pid.vue
Due: build-ui

other identifier label
  src/phaidra-ui/locales/deu.json
  src/phaidra-ui/locales/ita.json
  src/phaidra-vue-components/src/components/legacy/PDUwmRec.vue
Due: build-ui

object title localization mixin
  src/phaidra-ui/components/dashboard/Latestuploads.vue
  src/phaidra-ui/pages/detail/_pid.vue
  src/phaidra-ui/pages/sort/_pid.vue
  src/phaidra-vue-components/src/components/browse/PCollectionGallery.vue
  src/phaidra-vue-components/src/components/search/PSearchResults.vue
  src/phaidra-vue-components/src/components/select/CollectionDialog.vue
  src/phaidra-vue-components/src/components/utils/PSortableSolrDoc.vue
  src/phaidra-vue-components/src/mixins/object.js
Due: build-ui

using existing bytes pipe
  src/phaidra-ui/pages/detail/_pid.vue
Due: build-ui

added rdam and rdax in json ld namespaces
  src/phaidra-api/PhaidraAPI/Model/Jsonld.pm
Due: build-api-dist

search results button hide for unauthenticated users
  src/phaidra-ui/pages/search.vue
  src/phaidra-vue-components/src/components/search/PSearch.vue
  src/phaidra-vue-components/src/components/search/PSearchToolbar.vue
Due: build-ui

getting favicon from public config for book viewer
  src/phaidra-api/PhaidraAPI/Controller/Object.pm
  src/phaidra-api/templates/utils/bookviewer.html.ep
Due: build-api-dist

hide / show institution name
  src/phaidra-ui/pages/admin.vue
  src/phaidra-ui/store/index.js
Due: build-ui

api redirection link fix
  src/phaidra-ui/server-middleware/redirect.js
Due: build-ui

phaidra api cron job
  container_init/api/api-crontab-entrypoint.bash
  container_init/api/api-crontab.txt
  docker-compose.yaml
  dockerfiles/api-base.dockerfile
Due: build-api-base, build-api-dist

label for status search input change
  src/phaidra-ui/locales/ita.json
  src/phaidra-ui/pages/stats/_pid.vue
Due: build-ui

fetch object info for client side load
  src/phaidra-ui/pages/detail/_pid.vue
Due: build-ui

error handling buttons on bulk upload preview
  src/phaidra-ui/pages/bulk-upload/preview.vue
Due: build-ui

dcterms_created string check
  src/phaidra-api/PhaidraAPI/Model/Jsonld.pm
Due: build-api-dist

add search button to homepage search text field
  src/phaidra-ui/components/ext/Home.vue
Due: build-ui

checking string on date value before indexing
  src/phaidra-api/PhaidraAPI/Model/Index.pm
  src/phaidra-api/PhaidraAPI/Model/Jsonld.pm
Due: build-api-dist

ui/api versions
  docker-compose.yaml
Due: none

add relationships api, save metadata add relationships method call
  src/phaidra-api/PhaidraAPI.pm
  src/phaidra-api/PhaidraAPI/Controller/Object.pm
  src/phaidra-api/PhaidraAPI/Model/Object.pm
Due: build-api-dist

replayweb use phaidra:systemTag as url attribute (then rdfs:seeAlso)
  src/phaidra-api/PhaidraAPI/Controller/Object.pm
Due: build-api-dist

check facet queries level
  src/phaidra-vue-components/src/components/search/utils.js
Due: build-ui
