Repository phaidra/phaidra: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-api-base, build-api-dist, build-ui, build-chronos-base, build-chronos-dist, build-httpd-shib-base, build-httpd-demo-dist, build-imageserver, build-pixelgecko-base, build-pixelgecko-dist, build-mariadb-phaidra-dist, build-mariadb-fedora-dist, build-mongodb-dist, build-solr-dist, build-openldap-dist, build-vige-base, build-vige-dist, build-promtail-dist, build-loki-dist, build-grafana-dist, build-prometheus-dist, compose-dev, compose-demo, compose-ssl, compose-shib, compose-keycloak, build-website-push-staging, build-website-push-final

build-api-base:
  stage: build-base
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-api-dist:
  stage: build-dist
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-ui:
  stage: build-common
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-chronos-base:
  stage: build-base
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-chronos-dist:
  stage: build-dist
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-httpd-shib-base:
  stage: build-base
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-httpd-demo-dist:
  stage: build-dist
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-imageserver:
  stage: build-common
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-pixelgecko-base:
  stage: build-base
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-pixelgecko-dist:
  stage: build-dist
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-mariadb-phaidra-dist:
  stage: build-dist
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-mariadb-fedora-dist:
  stage: build-dist
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-mongodb-dist:
  stage: build-dist
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-solr-dist:
  stage: build-dist
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-openldap-dist:
  stage: build-dist
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-vige-base:
  stage: build-base
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-vige-dist:
  stage: build-dist
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-promtail-dist:
  stage: build-dist
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-loki-dist:
  stage: build-dist
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-grafana-dist:
  stage: build-dist
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

aira label translation
  src/phaidra-vue-components/src/components/search/PSearchToolbar.vue
Due: build-ui

focus added for toolbar icon
  src/phaidra-vue-components/src/components/search/PSearchAutocomplete.vue
  src/phaidra-vue-components/src/components/search/PSearchToolbar.vue
Due: build-ui

Detail page cards in unordered list
  src/phaidra-ui/pages/detail/_pid.vue
Due: build-ui

link changes
  src/phaidra-ui/layouts/default.vue
  src/phaidra-vue-components/src/components/search/PSearchResults.vue
Due: build-ui

text-decoration-thickness important
  src/phaidra-ui/layouts/default.vue
Due: build-ui

unordered list for all side cards
  src/phaidra-ui/pages/detail/_pid.vue
Due: build-ui

added missing nuxt-link after merge from main
  src/phaidra-vue-components/src/components/search/PSearch.vue
Due: build-ui

v-main tag fix
  src/phaidra-ui/layouts/default.vue
Due: build-ui

removed duplicate vocabular
  src/phaidra-api/PhaidraAPI/Model/Uwmetadata/Tree.pm
Due: build-api-dist

lighter font for persistent identifier link on search result page
  src/phaidra-vue-components/src/components/search/PSearchResults.vue
Due: build-ui

use the same styles on citable links
  src/phaidra-ui/pages/detail/_pid.vue
Due: build-ui

add underline on hover and focus for Read More link on search results
  src/phaidra-vue-components/src/components/utils/PExpandText.vue
Due: build-ui

skip validation on upload form
  src/phaidra-vue-components/src/components/input/PIForm.vue
Due: build-ui

mime type remove logic fix
  src/phaidra-ui/pages/metadata/_pid/edit.vue
  src/phaidra-vue-components/src/utils/fields.js
Due: build-ui

new ui/api version
  docker-compose.yaml
Due: none

legacy metadata keyword v-chip
  src/phaidra-vue-components/src/components/legacy/PDUwmRec.vue
Due: build-ui

3d source path added for ci
  .gitlab-ci.yml
Due: none

3d build test
  src/3d/index.js
Due: none

3d-converter dockerhub image
  docker-compose.yaml
Due: none

bic subject lang undefined check
  src/phaidra-vue-components/src/components/input/PISubjectBic.vue
Due: build-ui

uwmetadata field sorting
  src/phaidra-ui/pages/uwmetadata/_pid/edit.vue
Due: build-ui

collection and collection member thumbnail handling
  src/phaidra-api/PhaidraAPI/Controller/Object.pm
  src/phaidra-api/PhaidraAPI/Model/Collection.pm
Due: build-api-dist

fix screen-reader-only h1 label
  src/phaidra-ui/pages/templates.vue
  src/phaidra-vue-components/src/components/lists/PLists.vue
Due: build-ui

add alt tag to link on thumbnails
  src/phaidra-ui/components/dashboard/Latestuploads.vue
  src/phaidra-vue-components/src/components/search/PSearchResults.vue
  src/phaidra-vue-components/src/components/utils/PSortableSolrDoc.vue
Due: build-ui

add aria-label to social media links on home page
  src/phaidra-ui/components/ext/Home.vue
Due: build-ui

add aria-label to RSS Feed button on Collection detail page
  src/phaidra-ui/pages/detail/_pid.vue
Due: build-ui

fix display of uwmetadata provenience fields on detail page
  src/phaidra-vue-components/src/components/legacy/PDUwmRec.vue
Due: build-ui

underline breadcrumbs on hover
  src/phaidra-ui/layouts/default.vue
Due: build-ui

fix Save button position on Admin page
  src/phaidra-ui/pages/admin.vue
Due: build-ui

added condition for checking json ld link
  src/phaidra-ui/pages/detail/_pid.vue
Due: build-ui

Revert "Merge branch '219-accessibility-information-not-structurally-categorised-46' into 'main'"
  src/phaidra-ui/pages/detail/_pid.vue
Due: build-ui

Removed commented code
  src/phaidra-ui/pages/detail/_pid.vue
Due: build-ui

vocabulary_entry missing labels added
  src/phaidra-api/migrations/v3.3.17.pl
Due: build-api-dist

Collection members resource type icon
  src/phaidra-ui/pages/detail/_pid.vue
Due: build-ui

Enable adding phaidra:Subject
  src/phaidra-vue-components/src/utils/fields.js
Due: build-ui

smtp config
  dockerfiles/api-base.dockerfile
  src/phaidra-api/PhaidraAPI.json
  src/phaidra-api/PhaidraAPI/Controller/Feedback.pm
  src/phaidra-api/PhaidraAPI/Controller/Ir.pm
  src/phaidra-api/PhaidraAPI/Controller/Utils.pm
  src/phaidra-ui/pages/admin.vue
Due: build-api-base, build-api-dist, build-ui

api/ui versions
  docker-compose.yaml
Due: none

fix project display
  src/phaidra-vue-components/src/components/display/PDProject.vue
Due: build-ui

Represented Object section
  src/phaidra-vue-components/src/components/input/PIForm.vue
  src/phaidra-vue-components/src/utils/fields.js
Due: build-ui

add association text variant
  src/phaidra-ui/locales/deu.json
  src/phaidra-ui/locales/ita.json
  src/phaidra-vue-components/src/components/index.js
  src/phaidra-vue-components/src/components/input/PIAssociationText.vue
  src/phaidra-vue-components/src/components/input/PIForm.vue
  src/phaidra-vue-components/src/i18n/deu.json
  src/phaidra-vue-components/src/i18n/ita.json
  src/phaidra-vue-components/src/store/modules/vocabulary.js
  src/phaidra-vue-components/src/utils/fields.js
  src/phaidra-vue-components/src/utils/json-ld.js
Due: build-ui

Path conditions:
  build-api-base: any of: dockerfiles/api-base.dockerfile
  build-api-dist: any of: dockerfiles/api-base.dockerfile, dockerfiles/api-dist.dockerfile, src/phaidra-api/**/*
  build-ui: any of: dockerfiles/ui.dockerfile, src/phaidra-ui/**/*, src/phaidra-vue-components/**/*
  build-chronos-base: any of: dockerfiles/chronos-base.dockerfile
  build-chronos-dist: any of: dockerfiles/chronos-base.dockerfile, dockerfiles/chronos-dist.dockerfile, container-init/chronos/**/*
  build-httpd-shib-base: any of: dockerfiles/httpd-shib-base.dockerfile
  build-httpd-demo-dist: any of: dockerfiles/httpd-demo-dist.dockerfile, container_init/httpd/phaidra-demo/conf/phaidra-demo.conf
  build-imageserver: any of: dockerfiles/imageserver.dockerfile
  build-pixelgecko-base: any of: dockerfiles/pixelgecko-base.dockerfile
  build-pixelgecko-dist: any of: dockerfiles/pixelgecko-base.dockerfile, dockerfiles/pixelgecko-dist.dockerfile, src/pixelgecko/**/*
  build-mariadb-phaidra-dist: any of: dockerfiles/mariadb-phaidra-dist.dockerfile, container_init/mariadb/phaidradb/**/*
  build-mariadb-fedora-dist: any of: dockerfiles/mariadb-fedora-dist.dockerfile, container_init/mariadb/fedoradb/**/*
  build-mongodb-dist: any of: dockerfiles/mongodb-dist.dockerfile, container_init/mongodb/**/*
  build-solr-dist: any of: dockerfiles/solr-dist.dockerfile, container_init/solr/**/*
  build-openldap-dist: any of: dockerfiles/openldap-dist.dockerfile, container_init/openldap/**/*
  build-vige-base: any of: dockerfiles/vige-base.dockerfile
  build-vige-dist: any of: dockerfiles/vige-base.dockerfile, dockerfiles/vige-dist.dockerfile, src/vige/**/*
  build-promtail-dist: any of: dockerfiles/promtail-dist.dockerfile, container_init/promtail/promtail-local.config.yaml
  build-loki-dist: any of: dockerfiles/loki-dist.dockerfile, container_init/loki/loki-docker-config.yaml
  build-grafana-dist: any of: dockerfiles/grafana-dist.dockerfile, container_init/grafana/**/*
  build-prometheus-dist: any of: dockerfiles/prometheus-dist.dockerfile, container_init/prometheus/prometheus.yaml
  compose-dev: any of: compose_dev/docker-compose.yaml, components/phaidra-ui/**/*, container_components/solr/**/*
  compose-demo: any of: compose_demo/docker-compose.yaml, container_components/solr/**/*
  compose-ssl: any of: compose_ssl/docker-compose.yaml, container_components/solr/**/*
  compose-shib: any of: compose_shib/docker-compose.yaml, container_components/solr/**/*
  compose-keycloak: any of: compose_shib/docker-compose.yaml, container_components/solr/**/*
  build-website-push-staging: any of: website/**/*, mkdocs.yml
  build-website-push-final: any of: website/**/*, mkdocs.yml
