Repository phaidra/phaidra: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-api-base, build-api-dist, build-ui, build-chronos-base, build-chronos-dist, build-httpd-shib-base, build-httpd-demo-dist, build-imageserver, build-pixelgecko-base, build-pixelgecko-dist, build-mariadb-phaidra-dist, build-mariadb-fedora-dist, build-mongodb-dist, build-solr-dist, build-openldap-dist, build-vige-base, build-vige-dist, build-promtail-dist, build-loki-dist, build-grafana-dist, build-prometheus-dist, compose-dev, compose-demo, compose-ssl, compose-shib, compose-keycloak, build-website-push-staging, build-website-push-final

build-api-base:
  stage: build-base
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-api-dist:
  stage: build-dist
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-ui:
  stage: build-common
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-chronos-base:
  stage: build-base
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-chronos-dist:
  stage: build-dist
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-httpd-shib-base:
  stage: build-base
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-httpd-demo-dist:
  stage: build-dist
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-imageserver:
  stage: build-common
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-pixelgecko-base:
  stage: build-base
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-pixelgecko-dist:
  stage: build-dist
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-mariadb-phaidra-dist:
  stage: build-dist
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-mariadb-fedora-dist:
  stage: build-dist
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-mongodb-dist:
  stage: build-dist
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-solr-dist:
  stage: build-dist
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-openldap-dist:
  stage: build-dist
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-vige-base:
  stage: build-base
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-vige-dist:
  stage: build-dist
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-promtail-dist:
  stage: build-dist
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-loki-dist:
  stage: build-dist
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-grafana-dist:
  stage: build-dist
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

removing markdown
  src/phaidra-vue-components/src/components/display/PDSkosPreflabel.vue
Due: build-ui

consider rights config in form too
  src/phaidra-vue-components/src/components/input/PIForm.vue
Due: build-ui

changelog
  CHANGELOG.md
  src/phaidra-ui/components/dashboard/Latestuploads.vue
Due: build-ui

v3.3.13
  CHANGELOG.md
  docker-compose.yaml
Due: none

v3.3.14
  CHANGELOG.md
  docker-compose.yaml
Due: none

Link to community from top nav
  mkdocs.yml
Due: build-website-push-staging, build-website-push-final

properly support scoped affiliation
  src/phaidra-api/PhaidraAPI/Controller/Authentication.pm
  src/phaidra-api/PhaidraAPI/Controller/Directory.pm
  src/phaidra-api/lib/phaidra_directory/Phaidra/Directory/Default.pm
  src/phaidra-ui/pages/admin.vue
  src/phaidra-ui/store/index.js
  src/phaidra-vue-components/src/components/management/PMRights.vue
Due: build-api-dist, build-ui

compose update
  docker-compose.yaml
Due: none

Readme: document ACME variables
  README.md
Due: none

Readme: move minio section to existing "extra profiles" section
  README.md
Due: none

update changelog
  CHANGELOG.md
  src/phaidra-ui/store/index.js
Due: build-ui

remove scope if configured
  src/phaidra-api/PhaidraAPI/Controller/Authentication.pm
Due: build-api-dist

generate manifest for pictures
  src/phaidra-api/PhaidraAPI/Controller/Iiifmanifest.pm
  src/phaidra-api/PhaidraAPI/Model/Iiifmanifest.pm
Due: build-api-dist

fix edm object types
  src/phaidra-api/PhaidraAPI/Model/Mappings/Edm.pm
Due: build-api-dist

fix book redirect
  src/phaidra-ui/server-middleware/redirect.js
Due: build-ui

scope config
  src/phaidra-ui/pages/admin.vue
Due: build-ui

allow public templates
  src/phaidra-api/PhaidraAPI/Controller/Jsonld.pm
Due: build-api-dist

fix restricting rights to "owner" on upload
  src/phaidra-vue-components/src/components/management/PMRights.vue
Due: build-ui

fix retention policy
  container_init/loki/loki-docker-config.yaml
Due: build-loki-dist

redirect api log to stdout
  container_init/api/api-entrypoint.bash
  docker-compose.yaml
  dockerfiles/api-base.dockerfile
  src/phaidra-api/log4perl.conf
Due: build-api-base, build-api-dist

redirect api log to stdout
  dockerfiles/api-dist.dockerfile
Due: build-api-dist

changelog + compose
  CHANGELOG.md
  docker-compose.yaml
Due: none

fix edge case when the referenced object is a page
  src/phaidra-api/PhaidraAPI/Model/Index.pm
Due: build-api-dist

fix shib consent redirect
  src/phaidra-api/PhaidraAPI/Model/Termsofuse.pm
Due: build-api-dist

remove suggesters
  container_init/solr/phaidra_core/conf/solrconfig.xml
Due: build-solr-dist

update to fedora 6.5.0
  docker-compose.yaml
Due: none

add group filtering by member, fix get_user_data in shib scenarios
  src/phaidra-api/lib/phaidra_directory/Phaidra/Directory/Default.pm
Due: build-api-dist

fixing reindex script
  src/phaidra-api/utils/indexObjects.pl
Due: build-api-dist

changelog + compose update
  CHANGELOG.md
  docker-compose.yaml
Due: none

directory fix
  src/phaidra-api/lib/phaidra_directory/Phaidra/Directory.pm
Due: build-api-dist

compose udpate
  docker-compose.yaml
Due: none

typi
  src/phaidra-api/utils/indexObjects.pl
Due: build-api-dist

compose
  docker-compose.yaml
Due: none

add renovate bot to gitlab CI
  .gitlab-ci.yml
Due: none

Add renovate.json
  renovate.json
Due: none

Update bitnami/openldap Docker tag to v2.6.9-debian-12-r0
  docker-compose.yaml
  dockerfiles/openldap-dist.dockerfile
Due: build-openldap-dist

compose: fix hostname of mariadb-phaidra and mongodb-phaidra
  docker-compose.yaml
Due: none

Path conditions:
  build-api-base: any of: dockerfiles/api-base.dockerfile
  build-api-dist: any of: dockerfiles/api-base.dockerfile, dockerfiles/api-dist.dockerfile, src/phaidra-api/**/*
  build-ui: any of: dockerfiles/ui.dockerfile, src/phaidra-ui/**/*, src/phaidra-vue-components/**/*
  build-chronos-base: any of: dockerfiles/chronos-base.dockerfile
  build-chronos-dist: any of: dockerfiles/chronos-base.dockerfile, dockerfiles/chronos-dist.dockerfile, container-init/chronos/**/*
  build-httpd-shib-base: any of: dockerfiles/httpd-shib-base.dockerfile
  build-httpd-demo-dist: any of: dockerfiles/httpd-demo-dist.dockerfile, container_init/httpd/phaidra-demo/conf/phaidra-demo.conf
  build-imageserver: any of: dockerfiles/imageserver.dockerfile
  build-pixelgecko-base: any of: dockerfiles/pixelgecko-base.dockerfile
  build-pixelgecko-dist: any of: dockerfiles/pixelgecko-base.dockerfile, dockerfiles/pixelgecko-dist.dockerfile, src/pixelgecko/**/*
  build-mariadb-phaidra-dist: any of: dockerfiles/mariadb-phaidra-dist.dockerfile, container_init/mariadb/phaidradb/**/*
  build-mariadb-fedora-dist: any of: dockerfiles/mariadb-fedora-dist.dockerfile, container_init/mariadb/fedoradb/**/*
  build-mongodb-dist: any of: dockerfiles/mongodb-dist.dockerfile, container_init/mongodb/**/*
  build-solr-dist: any of: dockerfiles/solr-dist.dockerfile, container_init/solr/**/*
  build-openldap-dist: any of: dockerfiles/openldap-dist.dockerfile, container_init/openldap/**/*
  build-vige-base: any of: dockerfiles/vige-base.dockerfile
  build-vige-dist: any of: dockerfiles/vige-base.dockerfile, dockerfiles/vige-dist.dockerfile, src/vige/**/*
  build-promtail-dist: any of: dockerfiles/promtail-dist.dockerfile, container_init/promtail/promtail-local.config.yaml
  build-loki-dist: any of: dockerfiles/loki-dist.dockerfile, container_init/loki/loki-docker-config.yaml
  build-grafana-dist: any of: dockerfiles/grafana-dist.dockerfile, container_init/grafana/**/*
  build-prometheus-dist: any of: dockerfiles/prometheus-dist.dockerfile, container_init/prometheus/prometheus.yaml
  compose-dev: any of: compose_dev/docker-compose.yaml, components/phaidra-ui/**/*, container_components/solr/**/*
  compose-demo: any of: compose_demo/docker-compose.yaml, container_components/solr/**/*
  compose-ssl: any of: compose_ssl/docker-compose.yaml, container_components/solr/**/*
  compose-shib: any of: compose_shib/docker-compose.yaml, container_components/solr/**/*
  compose-keycloak: any of: compose_shib/docker-compose.yaml, container_components/solr/**/*
  build-website-push-staging: any of: website/**/*, mkdocs.yml
  build-website-push-final: any of: website/**/*, mkdocs.yml
