Repository phaidra/phaidra: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-api-base, build-api-dist, build-ui, build-chronos-base, build-chronos-dist, build-httpd-shib-base, build-httpd-demo-dist, build-imageserver, build-pixelgecko-base, build-pixelgecko-dist, build-mariadb-phaidra-dist, build-mariadb-fedora-dist, build-mongodb-dist, build-solr-dist, build-openldap-dist, build-vige-base, build-vige-dist, build-promtail-dist, build-loki-dist, build-grafana-dist, build-prometheus-dist, compose-dev, compose-demo, compose-ssl, compose-shib, compose-keycloak, build-website-push-staging, build-website-push-final

Path conditions:
  build-api-base: any of: dockerfiles/api-base.dockerfile
  build-api-dist: any of: dockerfiles/api-base.dockerfile, dockerfiles/api-dist.dockerfile, src/phaidra-api/**/*
  build-ui: any of: dockerfiles/ui.dockerfile, src/phaidra-ui/**/*, src/phaidra-vue-components/**/*
  build-chronos-base: any of: dockerfiles/chronos-base.dockerfile
  build-chronos-dist: any of: dockerfiles/chronos-base.dockerfile, dockerfiles/chronos-dist.dockerfile, container-init/chronos/**/*
  build-httpd-shib-base: any of: dockerfiles/httpd-shib-base.dockerfile
  build-httpd-demo-dist: any of: dockerfiles/httpd-demo-dist.dockerfile, container_init/httpd/phaidra-demo/conf/phaidra-demo.conf
  build-imageserver: any of: dockerfiles/imageserver.dockerfile
  build-pixelgecko-base: any of: dockerfiles/pixelgecko-base.dockerfile
  build-pixelgecko-dist: any of: dockerfiles/pixelgecko-base.dockerfile, dockerfiles/pixelgecko-dist.dockerfile, src/pixelgecko/**/*
  build-mariadb-phaidra-dist: any of: dockerfiles/mariadb-phaidra-dist.dockerfile, container_init/mariadb/phaidradb/**/*
  build-mariadb-fedora-dist: any of: dockerfiles/mariadb-fedora-dist.dockerfile, container_init/mariadb/fedoradb/**/*
  build-mongodb-dist: any of: dockerfiles/mongodb-dist.dockerfile, container_init/mongodb/**/*
  build-solr-dist: any of: dockerfiles/solr-dist.dockerfile, container_init/solr/**/*
  build-openldap-dist: any of: dockerfiles/openldap-dist.dockerfile, container_init/openldap/**/*
  build-vige-base: any of: dockerfiles/vige-base.dockerfile
  build-vige-dist: any of: dockerfiles/vige-base.dockerfile, dockerfiles/vige-dist.dockerfile, src/vige/**/*
  build-promtail-dist: any of: dockerfiles/promtail-dist.dockerfile, container_init/promtail/promtail-local.config.yaml
  build-loki-dist: any of: dockerfiles/loki-dist.dockerfile, container_init/loki/loki-docker-config.yaml
  build-grafana-dist: any of: dockerfiles/grafana-dist.dockerfile, container_init/grafana/**/*
  build-prometheus-dist: any of: dockerfiles/prometheus-dist.dockerfile, container_init/prometheus/prometheus.yaml
  compose-dev: any of: compose_dev/docker-compose.yaml, components/phaidra-ui/**/*, container_components/solr/**/*
  compose-demo: any of: compose_demo/docker-compose.yaml, container_components/solr/**/*
  compose-ssl: any of: compose_ssl/docker-compose.yaml, container_components/solr/**/*
  compose-shib: any of: compose_shib/docker-compose.yaml, container_components/solr/**/*
  compose-keycloak: any of: compose_shib/docker-compose.yaml, container_components/solr/**/*
  build-website-push-staging: any of: website/**/*, mkdocs.yml
  build-website-push-final: any of: website/**/*, mkdocs.yml

add dev-s3 profile.
  docker-compose.yaml
Due: none

httpd ssl config via env vars, unify admin ips into one variable.
  container_init/httpd/phaidra-ssl/conf/phaidra-ssl.conf
Due: none

unify api host var, dev-local-ssl, allow empty string var override.
  docker-compose.yaml
Due: none

prepare ci for httpd-ssl-dist build.
  .gitlab-ci.yml
Due: none

add dockerfile and entrypoint script for httpd-ssl-dist.
  container_init/httpd/phaidra-ssl/httpd-ssl-entrypoint.bash
  dockerfiles/httpd-ssl-dist.dockerfile
Due: none

prepare for new httpd certificate location.
  .gitignore
  certs/httpd/README.md
Due: none

add ssl-local profile, naming $PROFILE-dev for each $PROFILE.
  docker-compose.yaml
Due: none

add ssl-s3-dev profile.
  docker-compose.yaml
Due: none

add ssl-s3 profile.
  docker-compose.yaml
Due: none

prepare for new shibboleth certificate location.
  .gitignore
  certs/shibboleth/README.md
Due: none

force httpd-shib-base rebuild (properly label image).
  .gitlab-ci.yml
  dockerfiles/httpd-shib-base.dockerfile
Due: build-httpd-shib-base

set ci back to normal, this was redundant.
  .gitlab-ci.yml
Due: none

add shib-local-dev profile, env vars for httpd-shib.
  container_init/httpd/phaidra-shib/conf/phaidra-shib.conf
  container_init/httpd/phaidra-shib/httpd-shib-entrypoint.bash
  docker-compose.yaml
Due: none

build httpd-shib-dist.
  .gitlab-ci.yml
  dockerfiles/httpd-shib-dist.dockerfile
Due: none

fix folder location to match entrypoint.
  dockerfiles/httpd-shib-dist.dockerfile
Due: none

actually put conf into image, make changes on base trigger rebuild.
  .gitlab-ci.yml
  dockerfiles/httpd-shib-dist.dockerfile
Due: none

add shib-local profile.
  docker-compose.yaml
Due: none

fix filecounts in fedoradb query (not include */fcr:metadata).
  .gitlab-ci.yml
  container_init/grafana/dashboards/phaidra_default.json
Due: build-grafana-dist

shib-s3-dev profile, use grafana-dist image with fixed filecount.
  docker-compose.yaml
Due: none

add shib-s3 profile.
  docker-compose.yaml
Due: none

make sure all services (except mkdocs) come up after system reboot.
  docker-compose.yaml
Due: none

sync httpd service names with profiles, empty ocfl_root when on S3.
  docker-compose.yaml
Due: none

split apart openldap/lam dev versions for dev environments.
  docker-compose.yaml
Due: none

resource link redirect, geonames proxy, pidGen notice
  src/phaidra-api/PhaidraAPI.json
  src/phaidra-api/PhaidraAPI.pm
  src/phaidra-api/PhaidraAPI/Controller/Object.pm
  src/phaidra-api/PhaidraAPI/Controller/Utils.pm
  src/phaidra-api/PhaidraAPI/Model/Fedora.pm
  src/phaidra-api/PhaidraAPI/Model/Object.pm
  src/phaidra-api/utils/indexObjects.pl
Due: build-api-dist

fix directory location in vige-dist.dockerfile.
  .gitlab-ci.yml
  dockerfiles/vige-dist.dockerfile
Due: build-vige-dist

move code into proper place (to be continued...).
  dockerfiles/vige-dist.dockerfile
Due: build-vige-dist

fix entrypoint in vige-base.dockerfile.
  .gitlab-ci.yml
  dockerfiles/vige-base.dockerfile
Due: build-vige-base, build-vige-dist

variablize mongodb host address for vige.
  src/vige/vige_checker.bash
  src/vige/vige_cleaner.bash
  src/vige/vige_uploader.bash
Due: build-vige-dist

make vige and vige-dev reachable via profiles.
  docker-compose.yaml
Due: none

add minimal description of v3.1.0 to CHANGELOG.
  CHANGELOG.md
Due: none

use fixed vige-dist image, set ci back to normal.
  .gitlab-ci.yml
  docker-compose.yaml
Due: none

take out pseudo-testing, leave stage for new code.
  .gitlab-ci.yml
Due: none

add initial information about docker profiles.
  README.md
Due: none

set s3 cache default to 100MB.
  docker-compose.yaml
Due: none

add ssl-local profile description to README.
  README.md
Due: none

update ssl and shib docs.
  README.md
Due: none

enhance credentials section in README.md.
  README.md
Due: none

phaidra-api changes
  src/phaidra-api/PhaidraAPI.json
  src/phaidra-api/PhaidraAPI.pm
  src/phaidra-api/PhaidraAPI/Controller/Imageserver.pm
  src/phaidra-api/PhaidraAPI/Controller/Index.pm
  src/phaidra-api/PhaidraAPI/Controller/Mappings.pm
  src/phaidra-api/PhaidraAPI/Controller/Oai.pm
  src/phaidra-api/PhaidraAPI/Controller/Oaitest.pm
  src/phaidra-api/PhaidraAPI/Controller/Object.pm
  src/phaidra-api/PhaidraAPI/Controller/Octets.pm
  src/phaidra-api/PhaidraAPI/Controller/Streaming.pm
  src/phaidra-api/PhaidraAPI/Controller/Utils.pm
  src/phaidra-api/PhaidraAPI/Model/Hooks.pm
  src/phaidra-api/PhaidraAPI/Model/Index.pm
  src/phaidra-api/PhaidraAPI/Model/Mappings/Dc.pm
  src/phaidra-api/PhaidraAPI/Model/Mappings/Edm.pm
  src/phaidra-api/PhaidraAPI/Model/Mappings/Lom.pm
  src/phaidra-api/PhaidraAPI/Model/Mappings/Openaire.pm
  src/phaidra-api/PhaidraAPI/Model/Session/Store/Mongo.pm
  src/phaidra-api/PhaidraAPI/Model/Streaming.pm
  src/phaidra-api/templates/email/doirequest.html.tt
  src/phaidra-api/templates/email/doirequest.txt.tt
  src/phaidra-api/templates/oai/get_record.xml.ep
  src/phaidra-api/templates/oai/list_records.xml.ep
  src/phaidra-api/templates/oai/metadata.xml.ep
  src/phaidra-api/templates/oai/metadata_node.xml.ep
  src/phaidra-api/templates/oai/oai_openaire.xml.ep
  src/phaidra-ui/pages/submit/oerkphvie.vue
Due: build-api-dist, build-ui

phaidra-ui changes
  src/phaidra-ui/components/Submit.vue
  src/phaidra-ui/components/ext/Header.vue
  src/phaidra-ui/components/ext/Home.vue
  src/phaidra-ui/layouts/default.vue
  src/phaidra-ui/locales/deu/index.js
  src/phaidra-ui/locales/eng/index.js
  src/phaidra-ui/nuxt.config.js
  src/phaidra-ui/package-lock.json
  src/phaidra-ui/package.json
  src/phaidra-ui/pages/admin.vue
  src/phaidra-ui/pages/detail/_pid.vue
  src/phaidra-ui/pages/submit/oer.vue
  src/phaidra-ui/pages/submit/upload.vue
  src/phaidra-ui/server-middleware/redirect.js
  src/phaidra-ui/store/index.js
Due: build-ui
