Repository phaidra/phaidra: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-api-base, build-api-dist, build-ui, build-chronos-base, build-chronos-dist, build-httpd-shib-base, build-httpd-demo-dist, build-imageserver, build-pixelgecko-base, build-pixelgecko-dist, build-mariadb-phaidra-dist, build-mariadb-fedora-dist, build-mongodb-dist, build-solr-dist, build-openldap-dist, build-vige-base, build-vige-dist, build-promtail-dist, build-loki-dist, build-grafana-dist, build-prometheus-dist, compose-dev, compose-demo, compose-ssl, compose-shib, compose-keycloak, build-website-push-staging, build-website-push-final

build-api-base:
  stage: build-base
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-api-dist:
  stage: build-dist
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-ui:
  stage: build-common
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-chronos-base:
  stage: build-base
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-chronos-dist:
  stage: build-dist
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-httpd-shib-base:
  stage: build-base
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-httpd-demo-dist:
  stage: build-dist
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-imageserver:
  stage: build-common
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-pixelgecko-base:
  stage: build-base
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-pixelgecko-dist:
  stage: build-dist
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-mariadb-phaidra-dist:
  stage: build-dist
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-mariadb-fedora-dist:
  stage: build-dist
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-mongodb-dist:
  stage: build-dist
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-solr-dist:
  stage: build-dist
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-openldap-dist:
  stage: build-dist
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-vige-base:
  stage: build-base
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-vige-dist:
  stage: build-dist
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-promtail-dist:
  stage: build-dist
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-loki-dist:
  stage: build-dist
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-grafana-dist:
  stage: build-dist
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

i18n
  src/phaidra-ui/pages/detail/_pid.vue
Due: build-ui

role order for editor and author changed
  src/phaidra-vue-components/src/utils/order.js
Due: build-ui

make faculty field not duplicatable in legacy metadata form
  src/phaidra-vue-components/src/components/legacy/PIUwmRec.vue
Due: build-ui

UI Italian translation
  src/phaidra-ui/locales/ita/index.js
Due: build-ui

workers 4->6
  src/phaidra-api/PhaidraAPI.json
Due: build-api-dist

new ui and api version
  docker-compose.yaml
Due: none

Separate order for book object type
  src/phaidra-vue-components/src/components/display/PDJsonld.vue
  src/phaidra-vue-components/src/utils/order.js
Due: build-ui

fix link to object list item
  src/phaidra-vue-components/src/components/lists/PDList.vue
  src/phaidra-vue-components/src/components/lists/PLists.vue
Due: build-ui

Add Italian label to language isocodes
  src/phaidra-vue-components/src/utils/lang.js
Due: build-ui

typo
  src/phaidra-vue-components/src/utils/lang.js
Due: build-ui

new ui version
  docker-compose.yaml
Due: none

license in progress
  src/phaidra-ui/assets/mit-license-icon.png
  src/phaidra-vue-components/src/assets/mit-license-icon.png
  src/phaidra-vue-components/src/store/modules/vocabulary.js
Due: build-ui

minor UI consistency fixes
  src/phaidra-ui/components/Submit.vue
  src/phaidra-vue-components/src/components/lists/PLists.vue
  src/phaidra-vue-components/src/components/search/PSearchFilters.vue
  src/phaidra-vue-components/src/components/search/PSearchToolbar.vue
Due: build-ui

user search popup
  src/phaidra-api/PhaidraAPI/Controller/Utils.pm
  src/phaidra-vue-components/src/components/search/PSearchFilters.vue
  src/phaidra-vue-components/src/components/select/UserSearchDialog.vue
Due: build-api-dist, build-ui

fix Members Of button styles
  src/phaidra-vue-components/src/components/search/PSearch.vue
Due: build-ui

search user button design change
  src/phaidra-vue-components/src/components/search/PSearchFilters.vue
Due: build-ui

check book type with id
  src/phaidra-vue-components/src/components/display/PDJsonld.vue
Due: build-ui

check color profile before conversion
  dockerfiles/pixelgecko-base.dockerfile
  src/pixelgecko/pixelgecko.pl
Due: build-pixelgecko-base, build-pixelgecko-dist

new version of pixelgecko
  docker-compose.yaml
Due: none

remove empty link from header
  src/phaidra-ui/components/ext/Header.vue
Due: build-ui

restricted member error resolved
  src/phaidra-ui/pages/detail/_pid.vue
Due: build-ui

api route
  src/phaidra-api/PhaidraAPI.pm
Due: build-api-dist

datacite issue
  src/phaidra-api/PhaidraAPI/Model/Datacite.pm
Due: build-api-dist

skip job status check
  src/phaidra-api/PhaidraAPI/Controller/Imageserver.pm
Due: build-api-dist

skip job status check
  src/phaidra-api/PhaidraAPI/Controller/Object.pm
Due: build-api-dist

fix manifest structure
  src/phaidra-api/PhaidraAPI/Model/Iiifmanifest.pm
Due: build-api-dist

edm cho id
  src/phaidra-api/PhaidraAPI/Model/Mappings/Edm.pm
Due: build-api-dist

new version of api, cache size for imageserver
  docker-compose.yaml
Due: none

Re-add SSO empty link without strange directive
  src/phaidra-ui/components/ext/Header.vue
Due: build-ui

legacy metadata encoding fixes of Italian vocabulary labels
  src/phaidra-api/PhaidraAPI/Model/Uwmetadata/Tree.pm
Due: build-api-dist

full id check for book type
  src/phaidra-vue-components/src/components/display/PDJsonld.vue
Due: build-ui

facet count update only once
  src/phaidra-vue-components/src/components/search/PSearch.vue
Due: build-ui

Linguistic adjustments
  src/phaidra-ui/components/ext/Home.vue
  src/phaidra-ui/locales/deu/index.js
  src/phaidra-ui/locales/eng/index.js
  src/phaidra-vue-components/src/components/management/PMRights.vue
  src/phaidra-vue-components/src/components/templates/PTemplates.vue
Due: build-ui

lang fix
  src/phaidra-ui/locales/deu/index.js
Due: build-ui

Fix some minor typos in README file
  README.md
Due: none

emt -> mte role code
  src/phaidra-api/public/json-schema/jsonld.json
  src/phaidra-api/public/vocabulary/roles.json
  src/phaidra-vue-components/src/store/modules/vocabulary.js
Due: build-api-dist, build-ui

metal-engraver mte role indexing
  src/phaidra-api/PhaidraAPI/Model/Index.pm
Due: build-api-dist

extra translation items
  src/phaidra-ui/locales/deu/index.js
  src/phaidra-ui/locales/eng/index.js
Due: build-ui

compose: add varnish cache
  configs/varnish.vcl
  container_init/httpd/phaidra-demo/conf/phaidra-demo.conf
  container_init/httpd/phaidra-keycloak/conf/phaidra-keycloak.conf
  container_init/httpd/phaidra-shib/conf/phaidra-shib.conf
  container_init/httpd/phaidra-ssl/conf/phaidra-ssl.conf
  docker-compose.yaml
Due: build-httpd-demo-dist

Italian translation of phaidra api roles vocabulary
  src/phaidra-api/public/vocabulary/roles.json
Due: build-api-dist

Path conditions:
  build-api-base: any of: dockerfiles/api-base.dockerfile
  build-api-dist: any of: dockerfiles/api-base.dockerfile, dockerfiles/api-dist.dockerfile, src/phaidra-api/**/*
  build-ui: any of: dockerfiles/ui.dockerfile, src/phaidra-ui/**/*, src/phaidra-vue-components/**/*
  build-chronos-base: any of: dockerfiles/chronos-base.dockerfile
  build-chronos-dist: any of: dockerfiles/chronos-base.dockerfile, dockerfiles/chronos-dist.dockerfile, container-init/chronos/**/*
  build-httpd-shib-base: any of: dockerfiles/httpd-shib-base.dockerfile
  build-httpd-demo-dist: any of: dockerfiles/httpd-demo-dist.dockerfile, container_init/httpd/phaidra-demo/conf/phaidra-demo.conf
  build-imageserver: any of: dockerfiles/imageserver.dockerfile
  build-pixelgecko-base: any of: dockerfiles/pixelgecko-base.dockerfile
  build-pixelgecko-dist: any of: dockerfiles/pixelgecko-base.dockerfile, dockerfiles/pixelgecko-dist.dockerfile, src/pixelgecko/**/*
  build-mariadb-phaidra-dist: any of: dockerfiles/mariadb-phaidra-dist.dockerfile, container_init/mariadb/phaidradb/**/*
  build-mariadb-fedora-dist: any of: dockerfiles/mariadb-fedora-dist.dockerfile, container_init/mariadb/fedoradb/**/*
  build-mongodb-dist: any of: dockerfiles/mongodb-dist.dockerfile, container_init/mongodb/**/*
  build-solr-dist: any of: dockerfiles/solr-dist.dockerfile, container_init/solr/**/*
  build-openldap-dist: any of: dockerfiles/openldap-dist.dockerfile, container_init/openldap/**/*
  build-vige-base: any of: dockerfiles/vige-base.dockerfile
  build-vige-dist: any of: dockerfiles/vige-base.dockerfile, dockerfiles/vige-dist.dockerfile, src/vige/**/*
  build-promtail-dist: any of: dockerfiles/promtail-dist.dockerfile, container_init/promtail/promtail-local.config.yaml
  build-loki-dist: any of: dockerfiles/loki-dist.dockerfile, container_init/loki/loki-docker-config.yaml
  build-grafana-dist: any of: dockerfiles/grafana-dist.dockerfile, container_init/grafana/**/*
  build-prometheus-dist: any of: dockerfiles/prometheus-dist.dockerfile, container_init/prometheus/prometheus.yaml
  compose-dev: any of: compose_dev/docker-compose.yaml, components/phaidra-ui/**/*, container_components/solr/**/*
  compose-demo: any of: compose_demo/docker-compose.yaml, container_components/solr/**/*
  compose-ssl: any of: compose_ssl/docker-compose.yaml, container_components/solr/**/*
  compose-shib: any of: compose_shib/docker-compose.yaml, container_components/solr/**/*
  compose-keycloak: any of: compose_shib/docker-compose.yaml, container_components/solr/**/*
  build-website-push-staging: any of: website/**/*, mkdocs.yml
  build-website-push-final: any of: website/**/*, mkdocs.yml
