Repository phaidra/phaidra: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-api-base, build-api-dist, build-ui, build-chronos-base, build-chronos-dist, build-httpd-shib-base, build-httpd-demo-dist, build-imageserver, build-pixelgecko-base, build-pixelgecko-dist, build-mariadb-phaidra-dist, build-mariadb-fedora-dist, build-mongodb-dist, build-solr-dist, build-openldap-dist, build-vige-base, build-vige-dist, build-promtail-dist, build-loki-dist, build-grafana-dist, build-prometheus-dist, compose-dev, compose-demo, compose-ssl, compose-shib, compose-keycloak, build-website-push-staging, build-website-push-final

Path conditions:
  build-api-base: any of: dockerfiles/api-base.dockerfile
  build-api-dist: any of: dockerfiles/api-base.dockerfile, dockerfiles/api-dist.dockerfile, src/phaidra-api/**/*
  build-ui: any of: dockerfiles/ui.dockerfile, src/phaidra-ui/**/*, src/phaidra-vue-components/**/*
  build-chronos-base: any of: dockerfiles/chronos-base.dockerfile
  build-chronos-dist: any of: dockerfiles/chronos-base.dockerfile, dockerfiles/chronos-dist.dockerfile, container-init/chronos/**/*
  build-httpd-shib-base: any of: dockerfiles/httpd-shib-base.dockerfile
  build-httpd-demo-dist: any of: dockerfiles/httpd-demo-dist.dockerfile, container_init/httpd/phaidra-demo/conf/phaidra-demo.conf
  build-imageserver: any of: dockerfiles/imageserver.dockerfile
  build-pixelgecko-base: any of: dockerfiles/pixelgecko-base.dockerfile
  build-pixelgecko-dist: any of: dockerfiles/pixelgecko-base.dockerfile, dockerfiles/pixelgecko-dist.dockerfile, src/pixelgecko/**/*
  build-mariadb-phaidra-dist: any of: dockerfiles/mariadb-phaidra-dist.dockerfile, container_init/mariadb/phaidradb/**/*
  build-mariadb-fedora-dist: any of: dockerfiles/mariadb-fedora-dist.dockerfile, container_init/mariadb/fedoradb/**/*
  build-mongodb-dist: any of: dockerfiles/mongodb-dist.dockerfile, container_init/mongodb/**/*
  build-solr-dist: any of: dockerfiles/solr-dist.dockerfile, container_init/solr/**/*
  build-openldap-dist: any of: dockerfiles/openldap-dist.dockerfile, container_init/openldap/**/*
  build-vige-base: any of: dockerfiles/vige-base.dockerfile
  build-vige-dist: any of: dockerfiles/vige-base.dockerfile, dockerfiles/vige-dist.dockerfile, src/vige/**/*
  build-promtail-dist: any of: dockerfiles/promtail-dist.dockerfile, container_init/promtail/promtail-local.config.yaml
  build-loki-dist: any of: dockerfiles/loki-dist.dockerfile, container_init/loki/loki-docker-config.yaml
  build-grafana-dist: any of: dockerfiles/grafana-dist.dockerfile, container_init/grafana/**/*
  build-prometheus-dist: any of: dockerfiles/prometheus-dist.dockerfile, container_init/prometheus/prometheus.yaml
  compose-dev: any of: compose_dev/docker-compose.yaml, components/phaidra-ui/**/*, container_components/solr/**/*
  compose-demo: any of: compose_demo/docker-compose.yaml, container_components/solr/**/*
  compose-ssl: any of: compose_ssl/docker-compose.yaml, container_components/solr/**/*
  compose-shib: any of: compose_shib/docker-compose.yaml, container_components/solr/**/*
  compose-keycloak: any of: compose_shib/docker-compose.yaml, container_components/solr/**/*
  build-website-push-staging: any of: website/**/*, mkdocs.yml
  build-website-push-final: any of: website/**/*, mkdocs.yml

revert: update httpd image
  docker-compose.yaml
Due: none

removing part of shib config to harmonize intances
  container_init/httpd/phaidra-shib/conf/shibboleth2.xml
Due: none

new httpd shib image
  docker-compose.yaml
Due: none

fix template save
  src/phaidra-api/PhaidraAPI/Controller/Jsonld.pm
  src/phaidra-ui/pages/submit/custom/_templateid.vue
Due: build-api-dist, build-ui

api: fix image server: call render method on controller
  src/phaidra-api/PhaidraAPI/Model/Imageserver.pm
Due: build-api-dist

chore(deps): replace dependency babel-eslint with @babel/eslint-parser ^7.11.0
  src/phaidra-vue-components/package.json
Due: build-ui

api and ui images update
  docker-compose.yaml
Due: none

Access rights label in English
  src/phaidra-ui/locales/eng/index.js
Due: build-ui

Update README.md
  README.md
Due: none

add-edm-type-to-dc
  CHANGELOG.md
  src/phaidra-api/PhaidraAPI/Model/Dc.pm
Due: build-api-dist

trying to comment out renovate to see if the pipeline would work
  .gitlab-ci.yml
Due: none

api image update
  docker-compose.yaml
Due: none

fix typos in admin interface
  src/phaidra-ui/pages/admin.vue
Due: build-ui

ui dev hotreload
  docker-compose.yaml
Due: none

ui dev hotreload
  dockerfiles/ui-dev.dockerfile
Due: none

compose command instead of entrypoint
  docker-compose.yaml
  dockerfiles/ui-dev.dockerfile
  dockerfiles/ui.dockerfile
Due: build-ui

forgot phaidra-vue-components, updated readme and changelog
  CHANGELOG.md
  README.md
  docker-compose.yaml
Due: none

add new ui image to docker compose file
  docker-compose.yaml
Due: none

some more typos fixed in admin panel
  src/phaidra-ui/pages/admin.vue
Due: build-ui

added italian to nuxt config
  src/phaidra-ui/nuxt.config.js
Due: build-ui

changelog
  CHANGELOG.md
Due: none

added italian
  src/phaidra-ui/locales/ita/index.js
Due: build-ui

added italian
  docker-compose.yaml
Due: none

thesis validation
  src/phaidra-vue-components/src/mixins/formvalidation.js
Due: build-ui

ita in default header
  src/phaidra-ui/components/ext/Header.vue
Due: build-ui

approbation datum in schema
  src/phaidra-api/public/json-schema/jsonld.json
Due: build-api-dist

new version of api and ui
  docker-compose.yaml
Due: none

validation fix
  CHANGELOG.md
  src/phaidra-vue-components/src/mixins/formvalidation.js
  src/phaidra-vue-components/src/utils/json-ld.js
Due: build-ui

Add some homepage and header italian translations
  src/phaidra-ui/locales/ita/index.js
Due: build-ui

ui version
  docker-compose.yaml
Due: none

fix validation
  src/phaidra-vue-components/src/mixins/formvalidation.js
Due: build-ui

role metadata related issue
  src/phaidra-vue-components/src/components/input/PIEntity.vue
  src/phaidra-vue-components/src/components/input/PIEntityExtended.vue
  src/phaidra-vue-components/src/components/input/PIForm.vue
Due: build-ui

add upgrade instructions
  CHANGELOG.md
Due: none

fix translatable labels
  src/phaidra-vue-components/src/components/search/PSearch.vue
  src/phaidra-vue-components/src/components/search/PSearchToolbar.vue
Due: build-ui

v3.3.16
  docker-compose.yaml
Due: none
