Repository phaidra/phaidra: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-api, build-api-dist, build-ui, build-chronos, build-httpd, build-httpd-shib, build-imageserver, build-pixelgecko, build-vige, compose-demo, compose-ssl, compose-shib, build-website-push-staging, build-website-push-final

Path conditions:
  build-api: any of: dockerfiles/api-base.dockerfile
  build-api-dist: any of: dockerfiles/api-dist.dockerfile, src/phaidra-api/**/*
  build-ui: any of: dockerfiles/ui.dockerfile, src/phaidra-ui/**/*, src/phaidra-vue-components/**/*
  build-chronos: any of: dockerfiles/chronos.dockerfile
  build-httpd: any of: dockerfiles/httpd.dockerfile
  build-httpd-shib: any of: dockerfiles/httpd-shib.dockerfile
  build-imageserver: any of: dockerfiles/imageserver.dockerfile
  build-pixelgecko: any of: dockerfiles/pixelgecko.dockerfile
  build-vige: any of: dockerfiles/vige.dockerfile
  compose-demo: any of: compose_demo/docker-compose.yaml, components/phaidra-ui/**/*, container_components/solr/**/*
  compose-ssl: any of: compose_ssl/docker-compose.yaml, components/phaidra-ui/**/*, container_components/solr/**/*
  compose-shib: any of: compose_shib/docker-compose.yaml, components/phaidra-ui/**/*, container_components/solr/**/*
  build-website-push-staging: any of: website/**/*, mkdocs.yml
  build-website-push-final: any of: website/**/*, mkdocs.yml

apply naming convention to solr deployment and pvc.
  k8s/helm/templates/solr-deployment.yaml
  k8s/helm/templates/solr-persistentvolumeclaim.yaml
Due: none

fix old db naming in fedora deployment.
  k8s/helm/templates/fedora-deployment.yaml
Due: none

fix old loki naming in promtail configuration.
  k8s/helm/templates/promtail-configmap.yaml
Due: none

put pixelgecko config into configmap to reflect naming changes.
  k8s/helm/templates/pixelgecko-configmap.yaml
  k8s/helm/templates/pixelgecko-deployment.yaml
Due: none

make sure pixelgecko pod restarts on config changes.
  k8s/helm/templates/pixelgecko-deployment.yaml
Due: none

fix pixelgecko entrypoint config-filenaming.
  k8s/helm/templates/pixelgecko-deployment.yaml
Due: none

variablize db-hostnaming within chronos.
  container_init/chronos/chronos-entrypoint.bash
  container_init/chronos/fixity-checker.bash
  container_init/chronos/mariadb-fedora.bash
  container_init/chronos/mariadb-phaidra.bash
  container_init/chronos/mongodb-phaidra.bash
  k8s/helm/templates/chronos-deployment.yaml
Due: none

fix hardcoded remainder in chronos-original-perl script.
  container_init/chronos/original-perl/updateOai.pl
  k8s/helm/templates/chronos-deployment.yaml
Due: none

fix yet another hardcoded piece in chronos' fixity-checker.bash.
  container_init/chronos/fixity-checker.bash
  k8s/helm/templates/chronos-deployment.yaml
Due: none

remove inverted commas from env var in perl script to resolve it.
  container_init/chronos/original-perl/updateOai.pl
  k8s/helm/templates/chronos-deployment.yaml
Due: none

fix naming in grafana datsources for fedora and phaidra mariadbs.
  k8s/helm/templates/grafana-configmap.yaml
Due: none

use the updated ui image.
  k8s/helm/templates/ui-deployment.yaml
Due: none

add possibilithy to add global css; fix var name
  src/phaidra-ui/layouts/default.vue
  src/phaidra-ui/pages/admin.vue
  src/phaidra-ui/store/index.js
Due: build-ui

add a method for sso logout which then can be used in custom header
  src/phaidra-ui/components/ext/Header.vue
  src/phaidra-ui/pages/admin.vue
Due: build-ui

refs do not work in runtime template so lets try a redirect with location
  src/phaidra-ui/components/ext/Header.vue
  src/phaidra-ui/pages/admin.vue
Due: build-ui

enabling default locale runtime rewrite (unfortunatelly not supported from i18n module atm)
  .env.template
  compose_demo/docker-compose.yaml
  compose_dev/docker-compose.yaml
  compose_keycloak/docker-compose.yaml
  compose_shib/docker-compose.yaml
  compose_ssl/docker-compose.yaml
  src/phaidra-ui/components/ext/Header.vue
  src/phaidra-ui/nuxt.config.js
  src/phaidra-vue-components/src/store/modules/vocabulary.js
Due: build-ui, compose-demo, compose-ssl, compose-shib

fix template saving
  src/phaidra-vue-components/src/components/input/PIForm.vue
Due: build-ui

fix label
  src/phaidra-ui/pages/submit/oer.vue
Due: build-ui

oer submit + PID redirect fix
  src/phaidra-ui/locales/deu/index.js
  src/phaidra-ui/locales/eng/index.js
  src/phaidra-ui/pages/submit/oer.vue
  src/phaidra-ui/server-middleware/redirect.js
  src/phaidra-vue-components/src/components/index.js
  src/phaidra-vue-components/src/components/input/PIForm.vue
  src/phaidra-vue-components/src/components/input/PINoteCheckboxWithLink.vue
  src/phaidra-vue-components/src/i18n/deu.js
  src/phaidra-vue-components/src/i18n/eng.js
  src/phaidra-vue-components/src/utils/fields.js
Due: build-ui

use updated ui on k8s.
  k8s/helm/templates/ui-deployment.yaml
Due: none

variablize internal api hostname for ui, test bypassed ui image.
  k8s/helm/templates/ui-configmap.yaml
  k8s/helm/templates/ui-deployment.yaml
  k8s/helm/values.yaml
  src/phaidra-ui/nuxt.config.js
  src/phaidra-ui/server-middleware/redirect.js
Due: build-ui

remove obsolete configmap hash check on ui deployment.
  k8s/helm/templates/ui-deployment.yaml
Due: none

readd deleted naming in containerspec for ui deployment.
  k8s/helm/templates/ui-deployment.yaml
Due: none

make api aware of password changes for mariadb and mongodb.
  k8s/helm/templates/api-configmap.yaml
  k8s/helm/templates/api-deployment.yaml
Due: none

update httpd base image for k8s.
  k8s/helm/templates/httpd-deployment.yaml
Due: none

update ldap account manager image on k8s.
  k8s/helm/templates/lam-deployment.yaml
Due: none

fix openldap service naming.
  k8s/helm/values.yaml
Due: none

update dbgate image for k8s.
  k8s/helm/templates/dbgate-deployment.yaml
Due: none

restrict ingress to specific hostname.
  k8s/helm/templates/httpd-ingress.yaml
Due: none

update promtail and loki images for k8s.
  k8s/helm/templates/loki-deployment.yaml
  k8s/helm/templates/promtail-daemonset.yaml
Due: none

rename ui image name on dockerhub to stay in naming convention.
  .gitlab-ci.yml
  compose_demo/docker-compose.yaml
  compose_shib/docker-compose.yaml
  compose_ssl/docker-compose.yaml
Due: compose-demo, compose-ssl, compose-shib

remove k8s loki config (it's in configmap now).
  container_init/loki/loki-k8s-config.yaml
Due: none

put new env vars into .env template.
  .env.template
Due: none

add new variables to chronos service in docker compose files.
  compose_demo/docker-compose.yaml
  compose_dev/docker-compose.yaml
  compose_keycloak/docker-compose.yaml
  compose_shib/docker-compose.yaml
  compose_ssl/docker-compose.yaml
Due: compose-demo, compose-ssl, compose-shib

update gitlab ci to actually build dist images (no bypass).
  .gitlab-ci.yml
Due: none

add api internal hostname to env template.
  .env.template
Due: none

add missing api host name var to docker compose files.
  compose_demo/docker-compose.yaml
  compose_dev/docker-compose.yaml
  compose_keycloak/docker-compose.yaml
  compose_shib/docker-compose.yaml
  compose_ssl/docker-compose.yaml
Due: compose-demo, compose-ssl, compose-shib

put chronos-dist build into proper stage and force test re-run.
  .gitlab-ci.yml
Due: none

add solr env to api
  compose_demo/docker-compose.yaml
  compose_dev/docker-compose.yaml
  compose_keycloak/docker-compose.yaml
  compose_shib/docker-compose.yaml
  compose_ssl/docker-compose.yaml
Due: compose-demo, compose-ssl, compose-shib

restrict ci compose up tests again.
  .gitlab-ci.yml
Due: none
