Repository phaidra/phaidra: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-api, build-api-dist, build-ui, build-chronos, build-httpd, build-httpd-shib, build-imageserver, build-pixelgecko, build-vige, compose-demo, compose-ssl, compose-shib, build-website-push-staging, build-website-push-final

Path conditions:
  build-api: any of: dockerfiles/api-base.dockerfile
  build-api-dist: any of: dockerfiles/api-dist.dockerfile, src/phaidra-api/**/*
  build-ui: any of: dockerfiles/ui.dockerfile, src/phaidra-ui/**/*, src/phaidra-vue-components/**/*
  build-chronos: any of: dockerfiles/chronos.dockerfile
  build-httpd: any of: dockerfiles/httpd.dockerfile
  build-httpd-shib: any of: dockerfiles/httpd-shib.dockerfile
  build-imageserver: any of: dockerfiles/imageserver.dockerfile
  build-pixelgecko: any of: dockerfiles/pixelgecko.dockerfile
  build-vige: any of: dockerfiles/vige.dockerfile
  compose-demo: any of: compose_demo/docker-compose.yaml, components/phaidra-ui/**/*, container_components/solr/**/*
  compose-ssl: any of: compose_ssl/docker-compose.yaml, components/phaidra-ui/**/*, container_components/solr/**/*
  compose-shib: any of: compose_shib/docker-compose.yaml, components/phaidra-ui/**/*, container_components/solr/**/*
  build-website-push-staging: any of: website/**/*, mkdocs.yml
  build-website-push-final: any of: website/**/*, mkdocs.yml

do not run compose up test on ui src code changes.
  .gitlab-ci.yml
Due: none

use new upstream httpd image where we de facto use it unmodified.
  compose_demo/docker-compose.yaml
  compose_dev/docker-compose.yaml
  compose_keycloak/docker-compose.yaml
  compose_ssl/docker-compose.yaml
Due: compose-demo, compose-ssl

drop custom image build and remove (erronoeus anyway) ci job.
  .gitlab-ci.yml
  dockerfiles/httpd-base.dockerfile
Due: none

upgrade loki and corresponding schema on k8s.
  k8s/helm/templates/loki-configmap.yaml
  k8s/helm/templates/loki-deployment.yaml
  k8s/helm/templates/promtail-daemonset.yaml
Due: none

add missing object_store type in updated loki config.
  k8s/helm/templates/loki-configmap.yaml
Due: none

BREAKING CHANGE. update loki/promtail images (loki schema v13 now).
  compose_demo/docker-compose.yaml
  compose_dev/docker-compose.yaml
  compose_keycloak/docker-compose.yaml
  compose_shib/docker-compose.yaml
  compose_ssl/docker-compose.yaml
  container_init/loki/loki-docker-config.yaml
Due: compose-demo, compose-ssl, compose-shib

update grafana image.
  compose_demo/docker-compose.yaml
  compose_dev/docker-compose.yaml
  compose_keycloak/docker-compose.yaml
  compose_shib/docker-compose.yaml
  compose_ssl/docker-compose.yaml
Due: compose-demo, compose-ssl, compose-shib

update promtail, prometheus and cadvisor images.
  compose_demo/docker-compose.yaml
  compose_dev/docker-compose.yaml
  compose_keycloak/docker-compose.yaml
  compose_shib/docker-compose.yaml
  compose_ssl/docker-compose.yaml
Due: compose-demo, compose-ssl, compose-shib

move naming of api-svc-dependencies from config to deployment vars.
  k8s/helm/templates/api-configmap.yaml
  k8s/helm/templates/api-deployment.yaml
  k8s/helm/values.yaml
Due: none

remove mongo agent db var name, leave in config.
  k8s/helm/templates/api-configmap.yaml
  k8s/helm/templates/api-deployment.yaml
  k8s/helm/values.yaml
Due: none

ease .env.template, 'static' vars to compose, adaptive api config.
  .env.template
  compose_demo/docker-compose.yaml
  compose_dev/docker-compose.yaml
  compose_keycloak/docker-compose.yaml
  compose_shib/docker-compose.yaml
  compose_ssl/docker-compose.yaml
  src/phaidra-api/PhaidraAPI.json
Due: build-api-dist, compose-demo, compose-ssl, compose-shib

set api image on k8s to fixed commit, remove obsolete configmap.
  k8s/helm/templates/api-configmap.yaml
  k8s/helm/templates/api-deployment.yaml
Due: none

set k8s chronos to runner01-built image, set solr-env to string.
  k8s/helm/templates/chronos-deployment.yaml
Due: none

drop mariadb-fedora image build, put grafana ro user into configmap.
  dockerfiles/mariadb-fedora-dist.dockerfile
  k8s/helm/templates/mariadb-fedora-configmap.yaml
  k8s/helm/templates/mariadb-fedora-deployment.yaml
Due: none

remove grafana ro user creation from mariadb-phaidra dockerfile.
  dockerfiles/mariadb-phaidra-dist.dockerfile
Due: none

force mariadb-phaidra-dist image build.
  .gitlab-ci.yml
Due: none

restrict mariadb-phaidra-dist image build to src changes on main.
  .gitlab-ci.yml
Due: none

fix mariadb-phaidra-dist image tag for k8s.
  k8s/helm/templates/mariadb-phaidra-deployment.yaml
Due: none

check if mariadb-fedora boots up with modified entrypoint.
  k8s/helm/templates/mariadb-fedora-configmap.yaml
  k8s/helm/templates/mariadb-fedora-deployment.yaml
Due: none

fix key in mariadb-fedora deployment.
  k8s/helm/templates/mariadb-fedora-deployment.yaml
Due: none

grafana user creation in mariadb fedora/phaidra images, force build.
  .gitlab-ci.yml
  dockerfiles/mariadb-fedora-dist.dockerfile
  dockerfiles/mariadb-phaidra-dist.dockerfile
Due: none

fix copy-paste messup in dockerfiles.
  dockerfiles/mariadb-fedora-dist.dockerfile
  dockerfiles/mariadb-phaidra-dist.dockerfile
Due: none

set new images for k8s, remove configmap for fedoradb, relax ci.
  .gitlab-ci.yml
  k8s/helm/templates/mariadb-fedora-configmap.yaml
  k8s/helm/templates/mariadb-fedora-deployment.yaml
  k8s/helm/templates/mariadb-phaidra-deployment.yaml
Due: none

force solr, pixelgecko, openldap and mongodb builds.
  .gitlab-ci.yml
Due: none

relax ci again.
  .gitlab-ci.yml
Due: none

use gitlab-ci commit-tagged images everywhere on k8s.
  k8s/helm/templates/mongodb-phaidra-deployment.yaml
  k8s/helm/templates/openldap-deployment.yaml
  k8s/helm/templates/pixelgecko-deployment.yaml
  k8s/helm/templates/solr-deployment.yaml
  k8s/helm/templates/ui-deployment.yaml
Due: none

redirect to consent if shib user did not consented yet
  src/phaidra-api/PhaidraAPI.json
  src/phaidra-api/PhaidraAPI/Controller/Authentication.pm
  src/phaidra-api/PhaidraAPI/Controller/Termsofuse.pm
  src/phaidra-api/PhaidraAPI/Model/Imageserver.pm
  src/phaidra-api/PhaidraAPI/Model/Termsofuse.pm
  src/phaidra-ui/pages/login.vue
  src/phaidra-ui/pages/ssoconsent.vue
Due: build-api-dist, build-ui

try to use target param to handle consent
  src/phaidra-api/PhaidraAPI/Controller/Authentication.pm
  src/phaidra-ui/pages/ssoconsent.vue
Due: build-api-dist, build-ui

maybe its easier than I thought
  src/phaidra-api/PhaidraAPI/Controller/Authentication.pm
  src/phaidra-ui/pages/ssoconsent.vue
Due: build-api-dist, build-ui

save shib attributes to session so that we can greet the user
  src/phaidra-api/PhaidraAPI.pm
  src/phaidra-api/PhaidraAPI/Controller/Authentication.pm
  src/phaidra-api/PhaidraAPI/Controller/Directory.pm
Due: build-api-dist

typo
  src/phaidra-api/PhaidraAPI/Controller/Directory.pm
Due: build-api-dist

typo and log
  src/phaidra-api/PhaidraAPI/Controller/Directory.pm
  src/phaidra-api/PhaidraAPI/Model/Termsofuse.pm
Due: build-api-dist

debug log
  src/phaidra-api/PhaidraAPI/Controller/Directory.pm
Due: build-api-dist

remove debug log
  src/phaidra-api/PhaidraAPI/Controller/Directory.pm
Due: build-api-dist

debug log
  src/phaidra-api/PhaidraAPI.pm
  src/phaidra-api/PhaidraAPI/Controller/Authentication.pm
  src/phaidra-api/PhaidraAPI/Model/Session/Transport/Header.pm
  src/phaidra-ui/pages/submit/oer.vue
Due: build-api-dist, build-ui

debug log
  src/phaidra-api/PhaidraAPI/Model/Session/Transport/Header.pm
Due: build-api-dist

debug log
  src/phaidra-api/PhaidraAPI.pm
Due: build-api-dist

debug log
  src/phaidra-api/PhaidraAPI/Controller/Authentication.pm
Due: build-api-dist

debug log
  src/phaidra-api/PhaidraAPI.pm
  src/phaidra-api/PhaidraAPI/Controller/Authentication.pm
  src/phaidra-api/PhaidraAPI/Model/Session/Store/Mongo.pm
Due: build-api-dist
