Repository phaidra/phaidra: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-api-base, build-api-dist, build-ui, build-chronos-base, build-chronos-dist, build-httpd-shib-base, build-httpd-demo-dist, build-imageserver, build-pixelgecko-base, build-pixelgecko-dist, build-mariadb-phaidra-dist, build-mariadb-fedora-dist, build-mongodb-dist, build-solr-dist, build-openldap-dist, build-vige-base, build-vige-dist, build-promtail-dist, build-loki-dist, build-grafana-dist, build-prometheus-dist, compose-dev, compose-demo, compose-ssl, compose-shib, compose-keycloak, build-website-push-staging, build-website-push-final

Path conditions:
  build-api-base: any of: dockerfiles/api-base.dockerfile
  build-api-dist: any of: dockerfiles/api-base.dockerfile, dockerfiles/api-dist.dockerfile, src/phaidra-api/**/*
  build-ui: any of: dockerfiles/ui.dockerfile, src/phaidra-ui/**/*, src/phaidra-vue-components/**/*
  build-chronos-base: any of: dockerfiles/chronos-base.dockerfile
  build-chronos-dist: any of: dockerfiles/chronos-base.dockerfile, dockerfiles/chronos-dist.dockerfile, container-init/chronos/**/*
  build-httpd-shib-base: any of: dockerfiles/httpd-shib-base.dockerfile
  build-httpd-demo-dist: any of: dockerfiles/httpd-demo-dist.dockerfile, container_init/httpd/phaidra-demo/conf/phaidra-demo.conf
  build-imageserver: any of: dockerfiles/imageserver.dockerfile
  build-pixelgecko-base: any of: dockerfiles/pixelgecko-base.dockerfile
  build-pixelgecko-dist: any of: dockerfiles/pixelgecko-base.dockerfile, dockerfiles/pixelgecko-dist.dockerfile, src/pixelgecko/**/*
  build-mariadb-phaidra-dist: any of: dockerfiles/mariadb-phaidra-dist.dockerfile, container_init/mariadb/phaidradb/**/*
  build-mariadb-fedora-dist: any of: dockerfiles/mariadb-fedora-dist.dockerfile, container_init/mariadb/fedoradb/**/*
  build-mongodb-dist: any of: dockerfiles/mongodb-dist.dockerfile, container_init/mongodb/**/*
  build-solr-dist: any of: dockerfiles/solr-dist.dockerfile, container_init/solr/**/*
  build-openldap-dist: any of: dockerfiles/openldap-dist.dockerfile, container_init/openldap/**/*
  build-vige-base: any of: dockerfiles/vige-base.dockerfile
  build-vige-dist: any of: dockerfiles/vige-base.dockerfile, dockerfiles/vige-dist.dockerfile, src/vige/**/*
  build-promtail-dist: any of: dockerfiles/promtail-dist.dockerfile, container_init/promtail/promtail-local.config.yaml
  build-loki-dist: any of: dockerfiles/loki-dist.dockerfile, container_init/loki/loki-docker-config.yaml
  build-grafana-dist: any of: dockerfiles/grafana-dist.dockerfile, container_init/grafana/**/*
  build-prometheus-dist: any of: dockerfiles/prometheus-dist.dockerfile, container_init/prometheus/prometheus.yaml
  compose-dev: any of: compose_dev/docker-compose.yaml, components/phaidra-ui/**/*, container_components/solr/**/*
  compose-demo: any of: compose_demo/docker-compose.yaml, container_components/solr/**/*
  compose-ssl: any of: compose_ssl/docker-compose.yaml, container_components/solr/**/*
  compose-shib: any of: compose_shib/docker-compose.yaml, container_components/solr/**/*
  compose-keycloak: any of: compose_shib/docker-compose.yaml, container_components/solr/**/*
  build-website-push-staging: any of: website/**/*, mkdocs.yml
  build-website-push-final: any of: website/**/*, mkdocs.yml

removing log from api directory class
  src/phaidra-api/lib/phaidra_directory/Phaidra/Directory/Default.pm
Due: build-api-dist

api version
  docker-compose.yaml
Due: none

fix ui version
  docker-compose.yaml
Due: none

multiplicable false for keyword and type field
  src/phaidra-ui/config/bulk-upload/field-settings.js
Due: build-ui

favicon for other preview templates
  src/phaidra-api/PhaidraAPI/Controller/Object.pm
  src/phaidra-api/templates/utils/audioplayer.html.ep
  src/phaidra-api/templates/utils/imageviewer.html.ep
  src/phaidra-api/templates/utils/pdfviewer.html.ep
  src/phaidra-api/templates/utils/videoplayer.html.ep
Due: build-api-dist

html attr language for ssr
  src/phaidra-ui/layouts/default.vue
Due: build-ui

collection index page, collection template title, collection title breadcrumb
  src/phaidra-ui/pages/collections/_collection.vue
  src/phaidra-ui/store/index.js
Due: build-ui

collection members relationship is haspart
  src/phaidra-api/PhaidraAPI/Model/Collection.pm
Due: build-api-dist

when-fetching-org-attribute-via-scim-pass-it-to-both-org-unit-levels
  src/phaidra-api/lib/phaidra_directory/Phaidra/Directory/Default.pm
Due: build-api-dist

cache-user-attributes-on-api-side
  src/phaidra-api/lib/phaidra_directory/Phaidra/Directory/Default.pm
Due: build-api-dist

stepper translation fix
  src/phaidra-ui/components/BulkUploadSteps.vue
Due: build-ui

added margin to license note
  src/phaidra-vue-components/src/components/input/PIForm.vue
Due: build-ui

api/ui version
  docker-compose.yaml
Due: none

bulk upload oefos metadata field optional
  src/phaidra-ui/config/bulk-upload/field-settings.js
Due: build-ui

fix undefined entry error for users not found in internal LDAP
  src/phaidra-api/lib/phaidra_directory/Phaidra/Directory/Default.pm
Due: build-api-dist

missing Italian label translation
  src/phaidra-ui/locales/ita.json
Due: build-ui

Empty csv row filter and checking keyword array condition
  src/phaidra-ui/config/bulk-upload/field-settings.js
  src/phaidra-ui/pages/bulk-upload/preview.vue
Due: build-ui

thema and oefos tree undefined fix
  src/phaidra-vue-components/src/components/select/OefosTreeDialog.vue
  src/phaidra-vue-components/src/components/select/ThemaTreeDialog.vue
Due: build-ui

radio value reset on parent checkbox unchecked on search filter
  src/phaidra-vue-components/src/components/search/facets.js
Due: build-ui

object detail created UTC filter
  src/phaidra-ui/layouts/default.vue
  src/phaidra-ui/pages/detail/_pid.vue
Due: build-ui

iiif maifest link
  src/phaidra-ui/pages/detail/_pid.vue
Due: build-ui

removed keyword suggester logic from frontend
  src/phaidra-ui/config/bulk-upload/field-settings.js
  src/phaidra-ui/pages/submit/oer.vue
  src/phaidra-ui/pages/submit/oerkphvie.vue
  src/phaidra-ui/pages/submit/upload.vue
  src/phaidra-ui/pages/submitrelated/_relatedpid/_relation.vue
  src/phaidra-vue-components/src/components/input/PIKeyword.vue
  src/phaidra-vue-components/src/utils/fields.js
Due: build-ui

org roles and affiliations indexing changed to affiliation and affiliation_id
  src/phaidra-api/PhaidraAPI/Model/Index.pm
Due: build-api-dist

Added Contact, Code of Ethics, Editorial Policies pages to Admin CMS panel
  src/phaidra-ui/components/ext/CodeOfEthics.vue
  src/phaidra-ui/components/ext/EditorialPolicies.vue
  src/phaidra-ui/components/ext/contact.vue
  src/phaidra-ui/locales/deu.json
  src/phaidra-ui/pages/admin.vue
  src/phaidra-ui/pages/code-of-ethics.vue
  src/phaidra-ui/pages/contact.vue
  src/phaidra-ui/pages/editorial-policies.vue
  src/phaidra-ui/store/index.js
Due: build-ui

added breadcrumb for cms pages
  src/phaidra-ui/store/index.js
Due: build-ui

affiliation field change
  container_init/solr/phaidra_core/conf/managed-schema
  container_init/solr/phaidra_pages_core/conf/managed-schema
  src/phaidra-api/PhaidraAPI/Model/Index.pm
Due: build-api-dist, build-solr-dist

affiliation_id update for roles
  src/phaidra-api/PhaidraAPI/Model/Index.pm
Due: build-api-dist

sending token from cookie
  src/phaidra-ui/pages/detail/_pid.vue
  src/phaidra-ui/store/index.js
Due: build-ui

removed log
  src/phaidra-ui/store/index.js
Due: build-ui

removed unwanted logics
  src/phaidra-ui/config/phaidra-ui.js
  src/phaidra-ui/store/index.js
Due: build-ui

reverted config
  src/phaidra-ui/config/phaidra-ui.js
Due: build-ui

fetch call prevent only for detail page
  src/phaidra-ui/pages/detail/_pid.vue
Due: build-ui

point to preview instead of disseminator
  src/phaidra-ui/server-middleware/redirect.js
Due: build-ui

api/solr/ui version
  docker-compose.yaml
Due: none

remove keep-alive
  src/phaidra-ui/layouts/default.vue
Due: build-ui

checking null for uid comparison
  src/phaidra-vue-components/src/components/search/PSearchFilters.vue
Due: build-ui

ui version
  docker-compose.yaml
Due: none

breadcrumb client only to prevent mismatched dom tree between ssr and client
  src/phaidra-ui/layouts/default.vue
Due: build-ui

oefos sort handle for missing translation
  src/phaidra-vue-components/src/store/modules/vocabulary.js
  src/phaidra-vue-components/src/utils/oefos.js
Due: build-ui
