Repository phaidra/phaidra: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-api-base, build-api-dist, build-ui, build-chronos-base, build-chronos-dist, build-httpd-shib-base, build-httpd-demo-dist, build-imageserver, build-pixelgecko-base, build-pixelgecko-dist, build-mariadb-phaidra-dist, build-mariadb-fedora-dist, build-mongodb-dist, build-solr-dist, build-openldap-dist, build-vige-base, build-vige-dist, build-promtail-dist, build-loki-dist, build-grafana-dist, build-prometheus-dist, compose-dev, compose-demo, compose-ssl, compose-shib, compose-keycloak, build-website-push-staging, build-website-push-final

Path conditions:
  build-api-base: any of: dockerfiles/api-base.dockerfile
  build-api-dist: any of: dockerfiles/api-base.dockerfile, dockerfiles/api-dist.dockerfile, src/phaidra-api/**/*
  build-ui: any of: dockerfiles/ui.dockerfile, src/phaidra-ui/**/*, src/phaidra-vue-components/**/*
  build-chronos-base: any of: dockerfiles/chronos-base.dockerfile
  build-chronos-dist: any of: dockerfiles/chronos-base.dockerfile, dockerfiles/chronos-dist.dockerfile, container-init/chronos/**/*
  build-httpd-shib-base: any of: dockerfiles/httpd-shib-base.dockerfile
  build-httpd-demo-dist: any of: dockerfiles/httpd-demo-dist.dockerfile, container_init/httpd/phaidra-demo/conf/phaidra-demo.conf
  build-imageserver: any of: dockerfiles/imageserver.dockerfile
  build-pixelgecko-base: any of: dockerfiles/pixelgecko-base.dockerfile
  build-pixelgecko-dist: any of: dockerfiles/pixelgecko-base.dockerfile, dockerfiles/pixelgecko-dist.dockerfile, src/pixelgecko/**/*
  build-mariadb-phaidra-dist: any of: dockerfiles/mariadb-phaidra-dist.dockerfile, container_init/mariadb/phaidradb/**/*
  build-mariadb-fedora-dist: any of: dockerfiles/mariadb-fedora-dist.dockerfile, container_init/mariadb/fedoradb/**/*
  build-mongodb-dist: any of: dockerfiles/mongodb-dist.dockerfile, container_init/mongodb/**/*
  build-solr-dist: any of: dockerfiles/solr-dist.dockerfile, container_init/solr/**/*
  build-openldap-dist: any of: dockerfiles/openldap-dist.dockerfile, container_init/openldap/**/*
  build-vige-base: any of: dockerfiles/vige-base.dockerfile
  build-vige-dist: any of: dockerfiles/vige-base.dockerfile, dockerfiles/vige-dist.dockerfile, src/vige/**/*
  build-promtail-dist: any of: dockerfiles/promtail-dist.dockerfile, container_init/promtail/promtail-local.config.yaml
  build-loki-dist: any of: dockerfiles/loki-dist.dockerfile, container_init/loki/loki-docker-config.yaml
  build-grafana-dist: any of: dockerfiles/grafana-dist.dockerfile, container_init/grafana/**/*
  build-prometheus-dist: any of: dockerfiles/prometheus-dist.dockerfile, container_init/prometheus/prometheus.yaml
  compose-dev: any of: compose_dev/docker-compose.yaml, components/phaidra-ui/**/*, container_components/solr/**/*
  compose-demo: any of: compose_demo/docker-compose.yaml, container_components/solr/**/*
  compose-ssl: any of: compose_ssl/docker-compose.yaml, container_components/solr/**/*
  compose-shib: any of: compose_shib/docker-compose.yaml, container_components/solr/**/*
  compose-keycloak: any of: compose_shib/docker-compose.yaml, container_components/solr/**/*
  build-website-push-staging: any of: website/**/*, mkdocs.yml
  build-website-push-final: any of: website/**/*, mkdocs.yml

Separated overallAccessibility from json ld object
  src/phaidra-vue-components/src/components/display/PDAccessibility.vue
  src/phaidra-vue-components/src/components/display/PDJsonld.vue
Due: build-ui

lang reset button in quick btns
  src/phaidra-vue-components/src/components/input/PITextField.vue
  src/phaidra-vue-components/src/components/select/SelectLanguage.vue
Due: build-ui

iso time on templates table
  src/phaidra-ui/components/Submit.vue
  src/phaidra-vue-components/src/components/templates/PTemplates.vue
Due: build-ui

object search header
  src/phaidra-vue-components/src/components/select/ObjectFromSearch.vue
Due: build-ui

identifier field multiplicable
  src/phaidra-vue-components/src/utils/fields.js
Due: build-ui

resource type removable false on edit metadata
  src/phaidra-ui/pages/metadata/_pid/edit.vue
Due: build-ui

template enhancement
  src/phaidra-ui/pages/templates.vue
  src/phaidra-ui/store/index.js
  src/phaidra-vue-components/src/components/templates/PTemplates.vue
Due: build-ui

breadcrumbs for help and groups
  src/phaidra-ui/store/index.js
Due: build-ui

Removed link for bic subject
  src/phaidra-vue-components/src/components/display/PDSkosPreflabel.vue
Due: build-ui

small api/pvc changes
  src/phaidra-api/PhaidraAPI/Controller/Utils.pm
  src/phaidra-vue-components/src/mixins/vocabulary.js
  src/phaidra-vue-components/src/store/modules/vocabulary.js
Due: build-api-dist, build-ui

adding roles from uniak, phase 1
  src/phaidra-api/migrations/v3.3.17.pl
  src/phaidra-api/public/xsd/uwmetadata/ns0.xsd
  src/phaidra-api/public/xsd/uwmetadata/ns1.xsd
  src/phaidra-api/public/xsd/uwmetadata/ns10.xsd
  src/phaidra-api/public/xsd/uwmetadata/ns11.xsd
  src/phaidra-api/public/xsd/uwmetadata/ns12.xsd
  src/phaidra-api/public/xsd/uwmetadata/ns13.xsd
  src/phaidra-api/public/xsd/uwmetadata/ns2.xsd
  src/phaidra-api/public/xsd/uwmetadata/ns3.xsd
  src/phaidra-api/public/xsd/uwmetadata/ns4.xsd
  src/phaidra-api/public/xsd/uwmetadata/ns5.xsd
  src/phaidra-api/public/xsd/uwmetadata/ns6.xsd
  src/phaidra-api/public/xsd/uwmetadata/ns7.xsd
  src/phaidra-api/public/xsd/uwmetadata/ns8.xsd
  src/phaidra-api/public/xsd/uwmetadata/ns9.xsd
Due: build-api-dist

new api/ui versions
  docker-compose.yaml
Due: none

Contained in remove option
  src/phaidra-vue-components/src/components/input/PIContainedIn.vue
  src/phaidra-vue-components/src/components/input/PIForm.vue
Due: build-ui

date picker internalization
  src/phaidra-vue-components/src/components/input/PIBfPublication.vue
  src/phaidra-vue-components/src/components/input/PIContainedIn.vue
  src/phaidra-vue-components/src/components/input/PIDateEdtf.vue
  src/phaidra-vue-components/src/components/input/PIEvent.vue
  src/phaidra-vue-components/src/components/input/PIProject.vue
  src/phaidra-vue-components/src/components/input/PISeries.vue
Due: build-ui

sending i18n instance for sortFields
  src/phaidra-ui/components/ext/Header.vue
  src/phaidra-vue-components/src/components/input/PIForm.vue
  src/phaidra-vue-components/src/store/modules/vocabulary.js
Due: build-ui

license restriction on edit metadata
  src/phaidra-ui/pages/metadata/_pid/edit.vue
  src/phaidra-vue-components/src/components/input/PIForm.vue
Due: build-ui

style scoped issue
  src/phaidra-vue-components/src/components/display/PDAccessibility.vue
Due: build-ui

mixin and first day of week
  src/phaidra-vue-components/src/components/input/PIBfPublication.vue
  src/phaidra-vue-components/src/components/input/PIContainedIn.vue
  src/phaidra-vue-components/src/components/input/PIDateEdtf.vue
  src/phaidra-vue-components/src/components/input/PIEvent.vue
  src/phaidra-vue-components/src/components/input/PIProject.vue
  src/phaidra-vue-components/src/components/input/PISeries.vue
  src/phaidra-vue-components/src/components/management/PMRights.vue
  src/phaidra-vue-components/src/mixins/datepickerproperties.js
Due: build-ui

add some missing condition which prevents picking up wrong jobs
  src/vige/vige_checker.bash
  src/vige/vige_cleaner.bash
  src/vige/vige_uploader.bash
Due: build-vige-dist

dynamic alert changes
  src/phaidra-ui/locales/deu.json
  src/phaidra-ui/locales/eng.json
  src/phaidra-ui/pages/delete/_pid.vue
  src/phaidra-ui/pages/metadata/_pid/edit.vue
  src/phaidra-ui/pages/sort/_pid.vue
  src/phaidra-ui/pages/sorttextinput/_pid.vue
  src/phaidra-ui/pages/uwmetadata/_pid/edit.vue
  src/phaidra-vue-components/src/App.vue
  src/phaidra-vue-components/src/components/management/PMRights.vue
Due: build-ui

shib secadv_20250313
  container_init/httpd/phaidra-shib/conf/security-policy.xml
  container_init/httpd/phaidra-shib/httpd-shib-entrypoint.bash
  container_init/httpd/phaidra-shib/httpd-shib-startup.bash
Due: none

new httpd shib image
  docker-compose.yaml
Due: none

forgotten copy in dockerfile
  dockerfiles/httpd-shib-dist.dockerfile
Due: none

new shib image version
  docker-compose.yaml
Due: none

Temporal coverage fix
  src/phaidra-vue-components/src/components/display/PDJsonld.vue
  src/phaidra-vue-components/src/utils/fields.js
Due: build-ui

minor UI tweaks for dark theme support
  src/phaidra-vue-components/src/components/groups/PGroups.vue
  src/phaidra-vue-components/src/components/lists/PLists.vue
  src/phaidra-vue-components/src/components/templates/PTemplates.vue
Due: build-ui

search toolbar dark theme support
  src/phaidra-vue-components/src/components/search/PSearchToolbar.vue
Due: build-ui

close button outlined, light theme on add metadata fields help button
  src/phaidra-ui/pages/detail/_pid.vue
  src/phaidra-vue-components/src/components/input/PIForm.vue
Due: build-ui

change Cancel button styles to outlined
  src/phaidra-ui/components/Submit.vue
  src/phaidra-ui/pages/admin.vue
  src/phaidra-ui/pages/detail/_pid.vue
  src/phaidra-vue-components/src/components/groups/PGroups.vue
  src/phaidra-vue-components/src/components/input/PIForm.vue
  src/phaidra-vue-components/src/components/lists/PLists.vue
  src/phaidra-vue-components/src/components/management/PMDelete.vue
  src/phaidra-vue-components/src/components/management/PMRights.vue
  src/phaidra-vue-components/src/components/select/BicTreeDialog.vue
  src/phaidra-vue-components/src/components/select/BkTreeDialog.vue
  src/phaidra-vue-components/src/components/select/CollectionDialog.vue
  src/phaidra-vue-components/src/components/select/ListDialog.vue
  src/phaidra-vue-components/src/components/select/OefosTreeDialog.vue
  src/phaidra-vue-components/src/components/select/OrgUnitsTreeDialog.vue
  src/phaidra-vue-components/src/components/select/SelectLanguage.vue
  src/phaidra-vue-components/src/components/select/ThemaTreeDialog.vue
  src/phaidra-vue-components/src/components/select/UserSearchDialog.vue
Due: build-ui

Field Settings dialog translatable and title styles
  src/phaidra-vue-components/src/components/input/PIForm.vue
Due: build-ui

changed Close label to Cancel
  src/phaidra-vue-components/src/components/input/PIForm.vue
Due: build-ui

use default Vuetify colours for Phaidra dark theme
  src/phaidra-ui/assets/variables.scss
Due: build-ui

homepage dashboard styles
  src/phaidra-ui/components/dashboard/Latestuploads.vue
  src/phaidra-ui/components/dashboard/Uploads.vue
Due: build-ui

remove grey text colour from dashboard latest uploads
  src/phaidra-ui/components/dashboard/Latestuploads.vue
Due: build-ui

small validation change
  src/phaidra-api/public/json-schema/jsonld.json
Due: build-api-dist

new versions of api/ui/vige
  docker-compose.yaml
Due: none

updated alert deu translation
  src/phaidra-ui/locales/deu.json
Due: build-ui

fix tabs styles for dark theme support
  src/phaidra-ui/pages/admin.vue
  src/phaidra-vue-components/src/components/legacy/PIFormUwm.vue
Due: build-ui

Typo
  src/phaidra-vue-components/src/components/legacy/PIFormUwm.vue
Due: build-ui

Italian translation update
  src/phaidra-ui/locales/ita.json
Due: build-ui
