Repository phaidra/phaidra: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-api-base, build-api-dist, build-ui, build-chronos-base, build-chronos-dist, build-httpd-shib-base, build-httpd-demo-dist, build-imageserver, build-pixelgecko-base, build-pixelgecko-dist, build-mariadb-phaidra-dist, build-mariadb-fedora-dist, build-mongodb-dist, build-solr-dist, build-openldap-dist, build-vige-base, build-vige-dist, build-promtail-dist, build-loki-dist, build-grafana-dist, build-prometheus-dist, compose-dev, compose-demo, compose-ssl, compose-shib, compose-keycloak, build-website-push-staging, build-website-push-final

build-api-base:
  stage: build-base
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-api-dist:
  stage: build-dist
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-ui:
  stage: build-common
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-chronos-base:
  stage: build-base
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-chronos-dist:
  stage: build-dist
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-httpd-shib-base:
  stage: build-base
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-httpd-demo-dist:
  stage: build-dist
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-imageserver:
  stage: build-common
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-pixelgecko-base:
  stage: build-base
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-pixelgecko-dist:
  stage: build-dist
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-mariadb-phaidra-dist:
  stage: build-dist
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-mariadb-fedora-dist:
  stage: build-dist
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-mongodb-dist:
  stage: build-dist
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-solr-dist:
  stage: build-dist
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-openldap-dist:
  stage: build-dist
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-vige-base:
  stage: build-base
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-vige-dist:
  stage: build-dist
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-promtail-dist:
  stage: build-dist
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-loki-dist:
  stage: build-dist
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-grafana-dist:
  stage: build-dist
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

const instead of let
  src/phaidra-vue-components/src/store/modules/vocabulary.js
Due: build-ui

collection thumbnail nesting
  src/phaidra-api/PhaidraAPI/Controller/Object.pm
Due: build-api-dist

ui version
  docker-compose.yaml
Due: none

cookie domain from env
  docker-compose.yaml
  src/phaidra-ui/layouts/default.vue
  src/phaidra-ui/nuxt.config.js
  src/phaidra-ui/store/index.js
Due: build-ui

apache image changed from bookworm to httpd:2.4.65-trixie, hardening apache config
  container_init/httpd/phaidra-demo/conf/phaidra-demo.conf
  container_init/httpd/phaidra-keycloak/conf/phaidra-keycloak.conf
  container_init/httpd/phaidra-shib/conf/phaidra-shib.conf
  container_init/httpd/phaidra-ssl/conf/phaidra-ssl.conf
  docker-compose.yaml
  dockerfiles/httpd-demo-dist.dockerfile
  dockerfiles/httpd-shib-base.dockerfile
  dockerfiles/httpd-ssl-dist.dockerfile
Due: build-httpd-shib-base, build-httpd-demo-dist

httpd version
  docker-compose.yaml
Due: none

fix wrong place for ServerTokens in httpd config
  container_init/httpd/phaidra-shib/conf/phaidra-shib.conf
  container_init/httpd/phaidra-ssl/conf/phaidra-ssl.conf
Due: none

add agent param to imageserver process method
  src/phaidra-api/PhaidraAPI/Controller/Imageserver.pm
  src/phaidra-api/PhaidraAPI/Model/Hooks.pm
  src/phaidra-api/PhaidraAPI/Model/Imageserver.pm
Due: build-api-dist

limit mongodb query
  src/phaidra-api/PhaidraAPI/Controller/Oaitest.pm
Due: build-api-dist

pass more information in DOI request
  src/phaidra-api/PhaidraAPI/Controller/Utils.pm
Due: build-api-dist

better name handling
  src/phaidra-api/PhaidraAPI/Model/Mappings/Export/Dublincoretest.pm
Due: build-api-dist

better subject handling in marc mapping
  src/phaidra-api/PhaidraAPI/Model/Mappings/Import/Marc.pm
Due: build-api-dist

switch to sherpa v2 api
  src/phaidra-ui/config/phaidra-ui.js
Due: build-ui

switch back to regular stylus npm package
  src/phaidra-ui/package.json
  src/phaidra-vue-components/package.json
Due: build-ui

handling of oefos save
  src/phaidra-ui/pages/submit/catalogfetchupload.vue
Due: build-ui

api/ui versions
  docker-compose.yaml
Due: none

make shibbioleth attribute map/policy a docker config
  configs/shib/attribute-map.xml
  configs/shib/attribute-policy.xml
  container_init/prometheus/prometheus.yaml
  docker-compose.yaml
  dockerfiles/httpd-shib-dist.dockerfile
Due: build-prometheus-dist

shib/prometheus verions
  docker-compose.yaml
Due: none

blocking login rate to prevent brute force attacks
  src/phaidra-api/PhaidraAPI/Controller/Termsofuse.pm
  src/phaidra-api/PhaidraAPI/Model/RateLimit.pm
Due: build-api-dist

cookie domain default value from PHAIDRA_HOSTNAME
  src/phaidra-ui/nuxt.config.js
Due: build-ui

move rate limit logic to _authenticate method where ldap cred is checked
  src/phaidra-api/PhaidraAPI/Controller/Termsofuse.pm
  src/phaidra-api/lib/phaidra_directory/Phaidra/Directory/Default.pm
Due: build-api-dist

reference object list link
  src/phaidra-ui/pages/detail/_pid.vue
Due: build-ui

collection icon default for static image
  src/phaidra-api/PhaidraAPI/Controller/Object.pm
Due: build-api-dist

new phaidra logo
  src/phaidra-ui/components/ext/Header.vue
Due: build-ui

dark mode support. also moving necessary css to default layout.
  src/phaidra-ui/components/ext/Header.vue
  src/phaidra-ui/layouts/default.vue
Due: build-ui

new screenshots
  README.md
Due: none

update screenshots
  README.md
  pictures/running_phaidra.png
  pictures/running_phaidra_dark.png
  pictures/running_phaidra_light.png
Due: none

fix IR redirect url
  src/phaidra-ui/server-middleware/redirect.js
Due: build-ui

removing licence disable if the resource type is collection, container or data
  src/phaidra-ui/pages/metadata/_pid/edit.vue
Due: build-ui

remove padding on main content
  src/phaidra-ui/layouts/default.vue
Due: build-ui

enable-superusers-via-shib-affiliations
  docker-compose.yaml
  src/phaidra-api/PhaidraAPI/Controller/Search.pm
  src/phaidra-api/PhaidraAPI/Model/Authorization.pm
Due: build-api-dist

api/ui version
  docker-compose.yaml
Due: none

container resource type skip validation on edit for some fields
  src/phaidra-vue-components/src/mixins/formvalidation.js
Due: build-ui

reverted code
  src/phaidra-ui/pages/metadata/_pid/edit.vue
Due: build-ui

removed logs
  src/phaidra-vue-components/src/mixins/formvalidation.js
Due: build-ui

accessibilty filter setup
  src/phaidra-api/PhaidraAPI/Model/Index.pm
  src/phaidra-vue-components/src/components/search/PSearch.vue
  src/phaidra-vue-components/src/components/search/PSearchFilters.vue
  src/phaidra-vue-components/src/components/search/utils.js
Due: build-api-dist, build-ui

style creator names in search results
  src/phaidra-vue-components/src/components/search/PSearchResults.vue
Due: build-ui

link to search page in bulk upload completion message
  src/phaidra-ui/components/bulk-upload/CompletionOverlay.vue
Due: build-ui

Path conditions:
  build-api-base: any of: dockerfiles/api-base.dockerfile
  build-api-dist: any of: dockerfiles/api-base.dockerfile, dockerfiles/api-dist.dockerfile, src/phaidra-api/**/*
  build-ui: any of: dockerfiles/ui.dockerfile, src/phaidra-ui/**/*, src/phaidra-vue-components/**/*
  build-chronos-base: any of: dockerfiles/chronos-base.dockerfile
  build-chronos-dist: any of: dockerfiles/chronos-base.dockerfile, dockerfiles/chronos-dist.dockerfile, container-init/chronos/**/*
  build-httpd-shib-base: any of: dockerfiles/httpd-shib-base.dockerfile
  build-httpd-demo-dist: any of: dockerfiles/httpd-demo-dist.dockerfile, container_init/httpd/phaidra-demo/conf/phaidra-demo.conf
  build-imageserver: any of: dockerfiles/imageserver.dockerfile
  build-pixelgecko-base: any of: dockerfiles/pixelgecko-base.dockerfile
  build-pixelgecko-dist: any of: dockerfiles/pixelgecko-base.dockerfile, dockerfiles/pixelgecko-dist.dockerfile, src/pixelgecko/**/*
  build-mariadb-phaidra-dist: any of: dockerfiles/mariadb-phaidra-dist.dockerfile, container_init/mariadb/phaidradb/**/*
  build-mariadb-fedora-dist: any of: dockerfiles/mariadb-fedora-dist.dockerfile, container_init/mariadb/fedoradb/**/*
  build-mongodb-dist: any of: dockerfiles/mongodb-dist.dockerfile, container_init/mongodb/**/*
  build-solr-dist: any of: dockerfiles/solr-dist.dockerfile, container_init/solr/**/*
  build-openldap-dist: any of: dockerfiles/openldap-dist.dockerfile, container_init/openldap/**/*
  build-vige-base: any of: dockerfiles/vige-base.dockerfile
  build-vige-dist: any of: dockerfiles/vige-base.dockerfile, dockerfiles/vige-dist.dockerfile, src/vige/**/*
  build-promtail-dist: any of: dockerfiles/promtail-dist.dockerfile, container_init/promtail/promtail-local.config.yaml
  build-loki-dist: any of: dockerfiles/loki-dist.dockerfile, container_init/loki/loki-docker-config.yaml
  build-grafana-dist: any of: dockerfiles/grafana-dist.dockerfile, container_init/grafana/**/*
  build-prometheus-dist: any of: dockerfiles/prometheus-dist.dockerfile, container_init/prometheus/prometheus.yaml
  compose-dev: any of: compose_dev/docker-compose.yaml, components/phaidra-ui/**/*, container_components/solr/**/*
  compose-demo: any of: compose_demo/docker-compose.yaml, container_components/solr/**/*
  compose-ssl: any of: compose_ssl/docker-compose.yaml, container_components/solr/**/*
  compose-shib: any of: compose_shib/docker-compose.yaml, container_components/solr/**/*
  compose-keycloak: any of: compose_shib/docker-compose.yaml, container_components/solr/**/*
  build-website-push-staging: any of: website/**/*, mkdocs.yml
  build-website-push-final: any of: website/**/*, mkdocs.yml
