Repository phaidra/phaidra: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-api-base, build-api-dist, build-ui, build-chronos-base, build-chronos-dist, build-httpd-shib-base, build-httpd-demo-dist, build-imageserver, build-pixelgecko-base, build-pixelgecko-dist, build-mariadb-phaidra-dist, build-mariadb-fedora-dist, build-mongodb-dist, build-solr-dist, build-openldap-dist, build-vige-base, build-vige-dist, build-promtail-dist, build-loki-dist, build-grafana-dist, build-prometheus-dist, compose-dev, compose-demo, compose-ssl, compose-shib, compose-keycloak, build-website-push-staging, build-website-push-final

build-api-base:
  stage: build-base
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-api-dist:
  stage: build-dist
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-ui:
  stage: build-common
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-chronos-base:
  stage: build-base
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-chronos-dist:
  stage: build-dist
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-httpd-shib-base:
  stage: build-base
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-httpd-demo-dist:
  stage: build-dist
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-imageserver:
  stage: build-common
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-pixelgecko-base:
  stage: build-base
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-pixelgecko-dist:
  stage: build-dist
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-mariadb-phaidra-dist:
  stage: build-dist
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-mariadb-fedora-dist:
  stage: build-dist
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-mongodb-dist:
  stage: build-dist
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-solr-dist:
  stage: build-dist
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-openldap-dist:
  stage: build-dist
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-vige-base:
  stage: build-base
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-vige-dist:
  stage: build-dist
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-promtail-dist:
  stage: build-dist
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-loki-dist:
  stage: build-dist
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-grafana-dist:
  stage: build-dist
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

additional changes
  container_init/chronos/original-perl/updateOai.pl
  container_init/chronos/original-perl/updateOaiPids.pl
  src/phaidra-api/PhaidraAPI.json
  src/phaidra-api/PhaidraAPI/Controller/Utils.pm
  src/phaidra-ui/config/phaidra-ui.js
  src/phaidra-ui/pages/detail/_pid.vue
Due: build-api-dist, build-ui

download request fix
  src/phaidra-api/PhaidraAPI/Controller/Octets.pm
Due: build-api-dist

small fixes and locale
  src/phaidra-ui/locales/deu/index.js
  src/phaidra-ui/pages/detail/_pid.vue
  src/phaidra-vue-components/src/components/input/PIObjectType.vue
Due: build-ui

small fixes and locale
  src/phaidra-ui/locales/deu/index.js
Due: build-ui

forceupdate in filters
  src/phaidra-vue-components/src/components/search/PSearchAutocomplete.vue
  src/phaidra-vue-components/src/components/search/PSearchFilters.vue
Due: build-ui

i18n
  src/phaidra-ui/locales/deu/index.js
Due: build-ui

streaming key
  src/phaidra-api/PhaidraAPI.pm
  src/phaidra-api/PhaidraAPI/Controller/Mappings.pm
  src/phaidra-api/PhaidraAPI/Controller/Streaming.pm
  src/phaidra-api/PhaidraAPI/Controller/Utils.pm
Due: build-api-dist

lom pid
  src/phaidra-api/PhaidraAPI/Model/Mappings/Lom.pm
Due: build-api-dist

update command examples in README.md.
  README.md
Due: none

take out shibboleth default values.
  README.md
  docker-compose.yaml
Due: none

take out obsolete compose folders and environment template.
  .env.template
  compose_demo/docker-compose.yaml
  compose_dev/docker-compose.yaml
  compose_keycloak/docker-compose.yaml
  compose_s3/docker-compose.yaml
  compose_shib/docker-compose.yaml
  compose_ssl/docker-compose.yaml
Due: compose-dev, compose-demo, compose-ssl, compose-shib, compose-keycloak

update readme to reflect change to profiles, remove postgres init.
  README.md
  container_init/postgres/keycloak_init.sql.gz
Due: none

config refactoring wip
  src/phaidra-api/PhaidraAPI.json
  src/phaidra-api/PhaidraAPI.pm
  src/phaidra-api/PhaidraAPI/Controller/Config.pm
  src/phaidra-api/PhaidraAPI/Controller/Jsonld.pm
  src/phaidra-api/PhaidraAPI/Controller/Settings.pm
  src/phaidra-api/PhaidraAPI/Controller/Utils.pm
  src/phaidra-api/lib/phaidra_directory/Phaidra/Directory/Default.pm
  src/phaidra-api/lib/phaidra_directory/Phaidra/Directory/Generic.pm
  src/phaidra-api/lib/phaidra_directory/Phaidra/Directory/JSON.pm
  src/phaidra-api/lib/phaidra_directory/Phaidra/Directory/directory.json
  src/phaidra-ui/components/Help.vue
  src/phaidra-ui/layouts/default.vue
  src/phaidra-ui/pages/admin.vue
  src/phaidra-ui/pages/help.vue
  src/phaidra-ui/store/index.js
  src/phaidra-vue-components/src/mixins/formvalidation.js
Due: build-api-dist, build-ui

update demo-local graph.
  README.md
  pictures/demo-local.svg
  technical-sketches.org
Due: none

put color legend below graph.
  README.md
Due: none

update ssl system graph.
  README.md
  pictures/ssl-local.svg
  technical-sketches.org
Due: none

fix naming in demo and ssl graphs, add shib-local graph.
  README.md
  pictures/demo-local.svg
  pictures/shib-local.svg
  pictures/ssl-local.svg
  technical-sketches.org
Due: none

rearrange location of extra-profiles and add basic description.
  README.md
Due: none

add description for opencast profiles.
  README.md
Due: none

fix indentation.
  README.md
Due: none

move opencast startup information to top of description.
  README.md
Due: none

prepare changelog for v3.2.0.
  CHANGELOG.md
Due: none

org units refactoring
  src/phaidra-api/PhaidraAPI/Controller/Config.pm
  src/phaidra-api/lib/phaidra_directory/Phaidra/Directory.pm
  src/phaidra-api/lib/phaidra_directory/Phaidra/Directory/Default.pm
  src/phaidra-api/lib/phaidra_directory/Phaidra/Directory/organizational_units.json
Due: build-api-dist

edupersonaffiliation as restriction possibility, saving rights to template, public and private config, fix f6 object delete reindex
  src/phaidra-api/PhaidraAPI/Controller/Authorization.pm
  src/phaidra-api/PhaidraAPI/Controller/Config.pm
  src/phaidra-api/PhaidraAPI/Controller/Jsonld.pm
  src/phaidra-api/PhaidraAPI/Model/Authorization.pm
  src/phaidra-api/PhaidraAPI/Model/Config.pm
  src/phaidra-api/PhaidraAPI/Model/Index.pm
  src/phaidra-api/PhaidraAPI/Model/Mappings/Edm.pm
  src/phaidra-api/PhaidraAPI/Model/Rights.pm
  src/phaidra-api/public/xsd/rights/rights.xsd
  src/phaidra-ui/pages/detail/_pid.vue
Due: build-api-dist, build-ui

mostly making UI more configurable
  src/phaidra-ui/README.md
  src/phaidra-ui/components/dashboard/Cmodels.vue
  src/phaidra-ui/layouts/default.vue
  src/phaidra-ui/pages/admin.vue
  src/phaidra-ui/pages/delete/_pid.vue
  src/phaidra-ui/pages/detail/_pid.vue
  src/phaidra-ui/pages/metadata/_pid/edit.vue
  src/phaidra-ui/pages/rights/_pid.vue
  src/phaidra-ui/pages/submit/custom/_templateid.vue
  src/phaidra-ui/pages/submit/oer.vue
  src/phaidra-ui/pages/submit/oerkphvie.vue
  src/phaidra-ui/pages/submit/upload.vue
  src/phaidra-ui/pages/submitrelated/_relatedpid/_relation.vue
  src/phaidra-ui/store/index.js
  src/phaidra-vue-components/src/App.vue
  src/phaidra-vue-components/src/components/input/PIEntity.vue
  src/phaidra-vue-components/src/components/input/PIForm.vue
  src/phaidra-vue-components/src/components/input/PISelect.vue
  src/phaidra-vue-components/src/components/management/PMRights.vue
  src/phaidra-vue-components/src/components/templates/PTemplates.vue
  src/phaidra-vue-components/src/mixins/formvalidation.js
  src/phaidra-vue-components/src/store/modules/vocabulary.js
  src/phaidra-vue-components/src/utils/fields.js
  src/phaidra-vue-components/src/utils/json-ld.js
Due: build-ui

small ui fixes replayweb
  src/phaidra-api/templates/utils/replayweb.html.ep
Due: build-api-dist

admin can always delete
  src/phaidra-api/PhaidraAPI/Controller/Authorization.pm
Due: build-api-dist

changelog
  CHANGELOG.md
Due: none

v3.3.0
  docker-compose.yaml
Due: none

request doi button config fix
  src/phaidra-ui/pages/detail/_pid.vue
Due: build-ui

make session cookie http only
  src/phaidra-api/PhaidraAPI/Controller/Authentication.pm
Due: build-api-dist

fix old org calls
  src/phaidra-api/PhaidraAPI/Model/Index.pm
  src/phaidra-api/PhaidraAPI/Model/Jsonld/Extraction.pm
  src/phaidra-api/PhaidraAPI/Model/Mappings/Openaire.pm
  src/phaidra-api/PhaidraAPI/Model/Terms.pm
  src/phaidra-api/PhaidraAPI/Model/Uwmetadata.pm
  src/phaidra-api/lib/phaidra_directory/Phaidra/Directory/Default.pm
Due: build-api-dist

debug
  src/phaidra-api/lib/phaidra_directory/Phaidra/Directory.pm
Due: build-api-dist

org
  src/phaidra-api/PhaidraAPI/Model/Terms.pm
  src/phaidra-api/lib/phaidra_directory/Phaidra/Directory/Default.pm
Due: build-api-dist

fix missing index on modify
  src/phaidra-api/PhaidraAPI/Model/Mappings/Lom.pm
  src/phaidra-api/PhaidraAPI/Model/Object.pm
Due: build-api-dist

filling the 1st level of orgunits because it can be customized
  src/phaidra-api/PhaidraAPI.json
  src/phaidra-api/PhaidraAPI/Model/Uwmetadata.pm
  src/phaidra-api/public/uwmetadata/tree.json
Due: build-api-dist

using local storage (again) to stay logged-in on localhost
  src/phaidra-ui/layouts/default.vue
  src/phaidra-ui/store/index.js
Due: build-ui

not A-1 root for org units
  src/phaidra-api/lib/phaidra_directory/Phaidra/Directory/Default.pm
Due: build-api-dist

admin config import/export, random code fixes
  src/phaidra-ui/layouts/default.vue
  src/phaidra-ui/pages/admin.vue
  src/phaidra-ui/store/index.js
  src/phaidra-vue-components/src/components/display/PDBfPublication.vue
  src/phaidra-vue-components/src/components/display/PDProject.vue
  src/phaidra-vue-components/src/components/display/PDSeries.vue
  src/phaidra-vue-components/src/components/legacy/PDUwmRec.vue
Due: build-ui

Path conditions:
  build-api-base: any of: dockerfiles/api-base.dockerfile
  build-api-dist: any of: dockerfiles/api-base.dockerfile, dockerfiles/api-dist.dockerfile, src/phaidra-api/**/*
  build-ui: any of: dockerfiles/ui.dockerfile, src/phaidra-ui/**/*, src/phaidra-vue-components/**/*
  build-chronos-base: any of: dockerfiles/chronos-base.dockerfile
  build-chronos-dist: any of: dockerfiles/chronos-base.dockerfile, dockerfiles/chronos-dist.dockerfile, container-init/chronos/**/*
  build-httpd-shib-base: any of: dockerfiles/httpd-shib-base.dockerfile
  build-httpd-demo-dist: any of: dockerfiles/httpd-demo-dist.dockerfile, container_init/httpd/phaidra-demo/conf/phaidra-demo.conf
  build-imageserver: any of: dockerfiles/imageserver.dockerfile
  build-pixelgecko-base: any of: dockerfiles/pixelgecko-base.dockerfile
  build-pixelgecko-dist: any of: dockerfiles/pixelgecko-base.dockerfile, dockerfiles/pixelgecko-dist.dockerfile, src/pixelgecko/**/*
  build-mariadb-phaidra-dist: any of: dockerfiles/mariadb-phaidra-dist.dockerfile, container_init/mariadb/phaidradb/**/*
  build-mariadb-fedora-dist: any of: dockerfiles/mariadb-fedora-dist.dockerfile, container_init/mariadb/fedoradb/**/*
  build-mongodb-dist: any of: dockerfiles/mongodb-dist.dockerfile, container_init/mongodb/**/*
  build-solr-dist: any of: dockerfiles/solr-dist.dockerfile, container_init/solr/**/*
  build-openldap-dist: any of: dockerfiles/openldap-dist.dockerfile, container_init/openldap/**/*
  build-vige-base: any of: dockerfiles/vige-base.dockerfile
  build-vige-dist: any of: dockerfiles/vige-base.dockerfile, dockerfiles/vige-dist.dockerfile, src/vige/**/*
  build-promtail-dist: any of: dockerfiles/promtail-dist.dockerfile, container_init/promtail/promtail-local.config.yaml
  build-loki-dist: any of: dockerfiles/loki-dist.dockerfile, container_init/loki/loki-docker-config.yaml
  build-grafana-dist: any of: dockerfiles/grafana-dist.dockerfile, container_init/grafana/**/*
  build-prometheus-dist: any of: dockerfiles/prometheus-dist.dockerfile, container_init/prometheus/prometheus.yaml
  compose-dev: any of: compose_dev/docker-compose.yaml, components/phaidra-ui/**/*, container_components/solr/**/*
  compose-demo: any of: compose_demo/docker-compose.yaml, container_components/solr/**/*
  compose-ssl: any of: compose_ssl/docker-compose.yaml, container_components/solr/**/*
  compose-shib: any of: compose_shib/docker-compose.yaml, container_components/solr/**/*
  compose-keycloak: any of: compose_shib/docker-compose.yaml, container_components/solr/**/*
  build-website-push-staging: any of: website/**/*, mkdocs.yml
  build-website-push-final: any of: website/**/*, mkdocs.yml
