Repository phaidra/phaidra: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-api, build-chronos, build-httpd, build-httpd-shib, build-imageserver, build-pixelgecko, build-vige, compose-demo, compose-ssl, compose-shib

Path conditions:
  build-api: any of: dockerfiles/api.dockerfile
  build-chronos: any of: dockerfiles/chronos.dockerfile
  build-httpd: any of: dockerfiles/httpd.dockerfile
  build-httpd-shib: any of: dockerfiles/httpd-shib.dockerfile
  build-imageserver: any of: dockerfiles/imageserver.dockerfile
  build-pixelgecko: any of: dockerfiles/pixelgecko.dockerfile
  build-vige: any of: dockerfiles/vige.dockerfile
  compose-demo: any of: compose_demo/docker-compose.yaml, components/phaidra-ui/**/*, container_components/solr/**/*
  compose-ssl: any of: compose_ssl/docker-compose.yaml, components/phaidra-ui/**/*, container_components/solr/**/*
  compose-shib: any of: compose_shib/docker-compose.yaml, components/phaidra-ui/**/*, container_components/solr/**/*

reindex script
  .gitignore
  src/utils/indexObjects.pl
Due: none

move reindex script to api container
  .gitignore
  src/phaidra-api/utils/indexObjects.pl
Due: none

TZ->SetDate
  src/phaidra-api/utils/indexObjects.pl
Due: none

fixed validation in metadata editor
  src/phaidra-ui/locales/deu/index.js
  src/phaidra-ui/locales/eng/index.js
  src/phaidra-ui/pages/admin.vue
  src/phaidra-vue-components/src/components/display/PDGeoreference.vue
  src/phaidra-vue-components/src/components/input/PIForm.vue
  src/phaidra-vue-components/src/i18n/deu.js
  src/phaidra-vue-components/src/i18n/eng.js
  src/phaidra-vue-components/src/mixins/formvalidation.js
Due: none

add ldap root env to support different base domains
  compose_keycloak/docker-compose.yaml
  compose_shib/docker-compose.yaml
  compose_ssl/docker-compose.yaml
  src/phaidra-api/PhaidraAPI.json
Due: compose-ssl, compose-shib

the load buttons was missing some config variables
  src/phaidra-api/PhaidraAPI/Controller/Object.pm
Due: none

fix vars for other object types too
  src/phaidra-api/PhaidraAPI/Controller/Object.pm
Due: none

support search of LDAP groups
  compose_demo/docker-compose.yaml
  src/phaidra-api/PhaidraAPI.json
Due: compose-demo

support search of LDAP groups
  src/phaidra-api/lib/phaidra_directory/Phaidra/Directory/GenericLDAP.pm
Due: none

handle non-literal rdf objects correctly in triples
  src/phaidra-api/PhaidraAPI/Model/Fedora.pm
Due: none

dont use auth on app_settings calls; different components config syntax
  src/phaidra-ui/layouts/default.vue
  src/phaidra-ui/nuxt.config.js
  src/phaidra-ui/pages/admin.vue
  src/phaidra-ui/pages/submit/upload.vue
  src/phaidra-ui/pages/submitrelated/_relatedpid/_relation.vue
Due: none

unrelated to branch but heres the new logo
  src/phaidra-ui/components/ext/Header.vue
Due: none

move build env to runtime
  compose_demo/docker-compose.yaml
  compose_keycloak/docker-compose.yaml
  compose_shib/docker-compose.yaml
  compose_ssl/docker-compose.yaml
  dockerfiles/ui.dockerfile
  src/phaidra-ui/components/ext/Header.vue
  src/phaidra-ui/config/phaidra-ui.js
  src/phaidra-ui/layouts/default.vue
  src/phaidra-ui/nuxt.config.js
  src/phaidra-ui/pages/admin.vue
  src/phaidra-ui/store/index.js
Due: compose-demo, compose-ssl, compose-shib

Update website logo to newest version
  website/assets/img/phaidra_logo.svg
Due: none

build ui image on commit into main.
  .gitlab-ci.yml
Due: none

restrict triggering ui-image builds.
  .gitlab-ci.yml
Due: none

make sure changes on vue-components are honored.
  .gitlab-ci.yml
Due: none

make demo version use static image.
  compose_demo/docker-compose.yaml
Due: compose-demo

pass env to vuetify
  src/phaidra-ui/nuxt.config.js
  src/phaidra-ui/vuetify.options.js
Due: none

fix baseurl
  src/phaidra-ui/README.md
  src/phaidra-ui/pages/detail/_pid.vue
  src/phaidra-ui/pages/upload-webversion/_pid.vue
  src/phaidra-ui/server-middleware/redirect.js
  src/phaidra-vue-components/demo/base64.min.js
  src/phaidra-vue-components/demo/demo.html
  src/phaidra-vue-components/demo/i18n.js
  src/phaidra-vue-components/demo/lang.js
  src/phaidra-vue-components/demo/moment.min.js
  src/phaidra-vue-components/demo/phaidra-vue-components.css
  src/phaidra-vue-components/demo/phaidra-vue-components.umd.min.js
  src/phaidra-vue-components/demo/store.js
  src/phaidra-vue-components/demo/vocabulary.js
  src/phaidra-vue-components/demo/vue-i18n.min.js
  src/phaidra-vue-components/demo/vue.min.js
  src/phaidra-vue-components/demo/vuetify.min.js
  src/phaidra-vue-components/demo/vuex.min.js
  src/phaidra-vue-components/public/favicon.ico
  src/phaidra-vue-components/public/index.html
  src/phaidra-vue-components/src/components/browse/PCollectionGallery.vue
  src/phaidra-vue-components/src/components/display/PDJsonld.vue
  src/phaidra-vue-components/src/components/lists/PLists.vue
  src/phaidra-vue-components/src/components/management/PMDelete.vue
  src/phaidra-vue-components/src/components/management/PMRelationships.vue
  src/phaidra-vue-components/src/components/search/PSearchResults.vue
  src/phaidra-vue-components/vue.config.js
Due: none

set ui image version to latest.
  compose_demo/docker-compose.yaml
  compose_ssl/docker-compose.yaml
Due: compose-demo, compose-ssl

use prebuilt ui image in shib version as well.
  compose_shib/docker-compose.yaml
Due: compose-shib

split build stage into base and dist, prepare api-dist in ci.
  .gitlab-ci.yml
Due: none

rename api dockerfiles with -dist and -base, respect renaming in ci.
  .gitlab-ci.yml
  dockerfiles/api-base.dockerfile
  dockerfiles/api-dist.dockerfile
Due: none

redirect api logfile to container stdout.
  dockerfiles/api-dist.dockerfile
Due: none

add naming convention to pixelgecko, fix name for api regarding ci.
  .gitlab-ci.yml
  dockerfiles/pixelgecko-base.dockerfile
  dockerfiles/pixelgecko-dist.dockerfile
Due: none

add compose folder for testing.
  .gitignore
  compose_cloudready/docker-compose.yaml
Due: none

remove website container from compose_cloudready.
  compose_cloudready/docker-compose.yaml
Due: none

add httpd-dist and reference built image in docker-compose.
  compose_cloudready/docker-compose.yaml
  dockerfiles/httpd-base.dockerfile
  dockerfiles/httpd-dist.dockerfile
Due: none

submit apache conf to vc, build solr to work without bindmount.
  .env.template
  compose_cloudready/docker-compose.yaml
  container_init/httpd/phaidra-cloudready/conf/httpd.conf
  container_init/solr/solr_entrypoint_dist.bash
  dockerfiles/solr-dist.dockerfile
Due: none

prebuild mariadb images to work without bindmounts.
  compose_cloudready/docker-compose.yaml
  dockerfiles/mariadb-fedora-dist.dockerfile
  dockerfiles/mariadb-phaidra-dist.dockerfile
Due: none

prebuild mongodb image to work without bindmounts.
  compose_cloudready/docker-compose.yaml
  dockerfiles/mongodb-dist.dockerfile
Due: none

prebuild openldap image to work without bindmount.
  compose_cloudready/docker-compose.yaml
  dockerfiles/openldap-dist.dockerfile
Due: none

build chronos to work without bindmounts, apply naming convention.
  compose_cloudready/docker-compose.yaml
  dockerfiles/chronos-base.dockerfile
  dockerfiles/chronos-dist.dockerfile
Due: none

dynamizing customizable components, dashboard homepage
  src/phaidra-ui/components/Credits.vue
  src/phaidra-ui/components/Runtimetemplate.vue
  src/phaidra-ui/components/dashboard/Cmodels.vue
  src/phaidra-ui/components/dashboard/Latestuploads.vue
  src/phaidra-ui/components/dashboard/Uploads.vue
  src/phaidra-ui/components/ext/Footer.vue
  src/phaidra-ui/components/ext/Header.vue
  src/phaidra-ui/components/ext/Home.vue
  src/phaidra-ui/components/ext/Impressum.vue
  src/phaidra-ui/nuxt.config.js
  src/phaidra-ui/pages/admin.vue
  src/phaidra-ui/pages/credits.vue
Due: none

removing hover, some home changes
  compose_demo/docker-compose.yaml
  src/phaidra-ui/components/dashboard/Cmodels.vue
  src/phaidra-ui/components/dashboard/Latestuploads.vue
  src/phaidra-ui/components/dashboard/Uploads.vue
  src/phaidra-ui/components/ext/Header.vue
  src/phaidra-ui/components/ext/Home.vue
Due: compose-demo

load cms from store; dark cmodels table header
  src/phaidra-ui/components/dashboard/Cmodels.vue
  src/phaidra-ui/components/dashboard/Uploads.vue
  src/phaidra-ui/components/ext/Footer.vue
  src/phaidra-ui/components/ext/Header.vue
  src/phaidra-ui/components/ext/Home.vue
  src/phaidra-ui/components/ext/Impressum.vue
Due: none

change build back to image
  compose_demo/docker-compose.yaml
Due: compose-demo

add compose_dev dir for development, separate from 'public' flavors.
  .gitignore
  .gitlab-ci.yml
  compose_demo/docker-compose.yaml
  compose_dev/docker-compose.yaml
  compose_keycloak/docker-compose.yaml
  compose_ssl/docker-compose.yaml
Due: compose-demo, compose-ssl

Update docker-compose.yaml (remove typo)
  compose_dev/docker-compose.yaml
Due: none
