Repository phaidra/phaidra: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-api-base, build-api-dist, build-ui, build-chronos-base, build-chronos-dist, build-httpd-shib-base, build-httpd-demo-dist, build-imageserver, build-pixelgecko-base, build-pixelgecko-dist, build-mariadb-phaidra-dist, build-mariadb-fedora-dist, build-mongodb-dist, build-solr-dist, build-openldap-dist, build-vige-base, build-vige-dist, build-promtail-dist, build-loki-dist, build-grafana-dist, build-prometheus-dist, compose-dev, compose-demo, compose-ssl, compose-shib, compose-keycloak, build-website-push-staging, build-website-push-final

Path conditions:
  build-api-base: any of: dockerfiles/api-base.dockerfile
  build-api-dist: any of: dockerfiles/api-base.dockerfile, dockerfiles/api-dist.dockerfile, src/phaidra-api/**/*
  build-ui: any of: dockerfiles/ui.dockerfile, src/phaidra-ui/**/*, src/phaidra-vue-components/**/*
  build-chronos-base: any of: dockerfiles/chronos-base.dockerfile
  build-chronos-dist: any of: dockerfiles/chronos-base.dockerfile, dockerfiles/chronos-dist.dockerfile, container-init/chronos/**/*
  build-httpd-shib-base: any of: dockerfiles/httpd-shib-base.dockerfile
  build-httpd-demo-dist: any of: dockerfiles/httpd-demo-dist.dockerfile, container_init/httpd/phaidra-demo/conf/phaidra-demo.conf
  build-imageserver: any of: dockerfiles/imageserver.dockerfile
  build-pixelgecko-base: any of: dockerfiles/pixelgecko-base.dockerfile
  build-pixelgecko-dist: any of: dockerfiles/pixelgecko-base.dockerfile, dockerfiles/pixelgecko-dist.dockerfile, src/pixelgecko/**/*
  build-mariadb-phaidra-dist: any of: dockerfiles/mariadb-phaidra-dist.dockerfile, container_init/mariadb/phaidradb/**/*
  build-mariadb-fedora-dist: any of: dockerfiles/mariadb-fedora-dist.dockerfile, container_init/mariadb/fedoradb/**/*
  build-mongodb-dist: any of: dockerfiles/mongodb-dist.dockerfile, container_init/mongodb/**/*
  build-solr-dist: any of: dockerfiles/solr-dist.dockerfile, container_init/solr/**/*
  build-openldap-dist: any of: dockerfiles/openldap-dist.dockerfile, container_init/openldap/**/*
  build-vige-base: any of: dockerfiles/vige-base.dockerfile
  build-vige-dist: any of: dockerfiles/vige-base.dockerfile, dockerfiles/vige-dist.dockerfile, src/vige/**/*
  build-promtail-dist: any of: dockerfiles/promtail-dist.dockerfile, container_init/promtail/promtail-local.config.yaml
  build-loki-dist: any of: dockerfiles/loki-dist.dockerfile, container_init/loki/loki-docker-config.yaml
  build-grafana-dist: any of: dockerfiles/grafana-dist.dockerfile, container_init/grafana/**/*
  build-prometheus-dist: any of: dockerfiles/prometheus-dist.dockerfile, container_init/prometheus/prometheus.yaml
  compose-dev: any of: compose_dev/docker-compose.yaml, components/phaidra-ui/**/*, container_components/solr/**/*
  compose-demo: any of: compose_demo/docker-compose.yaml, container_components/solr/**/*
  compose-ssl: any of: compose_ssl/docker-compose.yaml, container_components/solr/**/*
  compose-shib: any of: compose_shib/docker-compose.yaml, container_components/solr/**/*
  compose-keycloak: any of: compose_shib/docker-compose.yaml, container_components/solr/**/*
  build-website-push-staging: any of: website/**/*, mkdocs.yml
  build-website-push-final: any of: website/**/*, mkdocs.yml

fix language codes in uwmetadata get_org_units api call
  src/phaidra-api/lib/phaidra_directory/Phaidra/Directory/Default.pm
Due: build-api-dist

add Public Domain Mark to selectable licenses in edit metadata form
  src/phaidra-vue-components/src/store/modules/vocabulary.js
Due: build-ui

Fix Italian translation of rdau:P60101
  src/phaidra-ui/locales/ita.json
  src/phaidra-vue-components/src/i18n/ita.json
Due: build-ui

Fix Italian translation of Basisklassifikation field name
  src/phaidra-ui/locales/ita.json
  src/phaidra-vue-components/src/i18n/ita.json
Due: build-ui

Sending translation text from frontend for iframe content
  src/phaidra-api/PhaidraAPI/Controller/Object.pm
  src/phaidra-api/templates/utils/loadbutton.html.ep
  src/phaidra-ui/locales/deu.json
  src/phaidra-ui/pages/detail/_pid.vue
Due: build-api-dist, build-ui

Geonames place metadata field label
  src/phaidra-vue-components/src/utils/fields.js
Due: build-ui

error page
  src/phaidra-ui/layouts/error.vue
  src/phaidra-ui/locales/deu.json
Due: build-ui

BIC is not BK
  src/phaidra-ui/locales/ita.json
  src/phaidra-vue-components/src/i18n/ita.json
Due: build-ui

Added rights check
  src/phaidra-api/PhaidraAPI/Controller/Object.pm
Due: build-api-dist

Edit Default.pm, missing utf-8 decoding from binary.
  src/phaidra-api/lib/phaidra_directory/Phaidra/Directory/Default.pm
Due: build-api-dist

accessibility fields improvement
  src/phaidra-ui/locales/deu.json
  src/phaidra-ui/locales/eng.json
  src/phaidra-vue-components/src/components/display/PDAccessibility.vue
  src/phaidra-vue-components/src/components/display/PDJsonld.vue
  src/phaidra-vue-components/src/components/display/PDJsonldLayout.vue
Due: build-ui

Apply 1 suggestion(s) to 1 file(s)
  src/phaidra-ui/layouts/error.vue
Due: build-ui

Apply 1 suggestion(s) to 1 file(s)
  src/phaidra-ui/locales/deu.json
Due: build-ui

favicon update
  src/phaidra-ui/layouts/default.vue
  src/phaidra-ui/mixins/favicon.js
  src/phaidra-ui/pages/admin.vue
Due: build-ui

Italian translation of error page
  src/phaidra-ui/locales/ita.json
  src/phaidra-vue-components/src/i18n/ita.json
Due: build-ui

update ui sass-loader dev dependency
  src/phaidra-ui/package.json
Due: build-ui

translation from perl Mojolicious::Plugin::I18N
  src/phaidra-api/PhaidraAPI/Controller/Object.pm
  src/phaidra-api/PhaidraAPI/I18N/de.po
  src/phaidra-api/templates/utils/loadbutton.html.ep
  src/phaidra-ui/pages/detail/_pid.vue
Due: build-api-dist, build-ui

group nav item check
  src/phaidra-ui/components/ext/Header.vue
Due: build-ui

use Material Design styling defaults
  src/phaidra-ui/assets/variables.scss
  src/phaidra-ui/layouts/default.vue
  src/phaidra-ui/nuxt.config.js
Due: build-ui

fix geonames place field labels again
  src/phaidra-vue-components/src/utils/fields.js
Due: build-ui

alma mapping
  src/phaidra-api/PhaidraAPI/Controller/Alma.pm
  src/phaidra-api/PhaidraAPI/Model/Alma.pm
  src/phaidra-api/PhaidraAPI/Model/Mappings/Import/Marc.pm
  src/phaidra-api/lib/phaidra_directory/Phaidra/Directory/Default.pm
  src/phaidra-ui/components/ext/Header.vue
  src/phaidra-ui/locales/eng.json
  src/phaidra-ui/pages/submit/catalogfetchupload.vue
Due: build-api-dist, build-ui

compose update
  docker-compose.yaml
Due: none

feedback conf
  src/phaidra-ui/pages/admin.vue
  src/phaidra-ui/pages/submit/upload.vue
  src/phaidra-ui/store/index.js
Due: build-ui

italian translations in phaidra api
  src/phaidra-api/PhaidraAPI/I18N/it.pm
  src/phaidra-api/PhaidraAPI/I18N/it.po
Due: build-api-dist

feedback translation change
  src/phaidra-ui/locales/deu.json
  src/phaidra-ui/pages/admin.vue
Due: build-ui

group translation
  src/phaidra-ui/locales/deu.json
  src/phaidra-ui/pages/admin.vue
Due: build-ui

fix object link in public list
  src/phaidra-vue-components/src/components/lists/PDList.vue
Due: build-ui

added condition to check query param
  src/phaidra-api/templates/utils/loadbutton.html.ep
Due: build-api-dist

added autolinker
  src/phaidra-vue-components/src/components/display/PDSkosPreflabel.vue
Due: build-ui

jsonld context change
  src/phaidra-api/PhaidraAPI/Controller/Jsonld.pm
Due: build-api-dist

red delete buttons
  src/phaidra-vue-components/src/components/groups/PGroups.vue
  src/phaidra-vue-components/src/components/lists/PLists.vue
  src/phaidra-vue-components/src/components/management/PMDelete.vue
  src/phaidra-vue-components/src/components/templates/PTemplates.vue
Due: build-ui

primary colour on 'back to detail page' button
  src/phaidra-ui/pages/metadata/_pid/index.vue
  src/phaidra-ui/pages/relationships/_pid.vue
  src/phaidra-ui/pages/rights/_pid.vue
  src/phaidra-ui/pages/sort/_pid.vue
  src/phaidra-ui/pages/sorttextinput/_pid.vue
  src/phaidra-ui/pages/stats/_pid.vue
  src/phaidra-ui/pages/submitrelated/_relatedpid/_relation.vue
  src/phaidra-ui/pages/upload-webversion/_pid.vue
  src/phaidra-ui/pages/uwmetadata/_pid/edit.vue
Due: build-ui

missed a primary colour button
  src/phaidra-ui/pages/delete/_pid.vue
Due: build-ui

process usage stats
  src/phaidra-api/utils/processUsageStats.pl
Due: build-api-dist

process usage stats fix
  src/phaidra-api/utils/processUsageStats.pl
Due: build-api-dist

ui and api version
  docker-compose.yaml
Due: none

redirect /view to pid
  src/phaidra-ui/server-middleware/redirect.js
Due: build-ui

template management
  src/phaidra-api/PhaidraAPI/Controller/Jsonld.pm
  src/phaidra-ui/components/ext/Header.vue
  src/phaidra-ui/pages/submit/custom/_templateid.vue
  src/phaidra-ui/pages/templates.vue
  src/phaidra-vue-components/src/components/input/PIForm.vue
  src/phaidra-vue-components/src/components/templates/PTemplates.vue
Due: build-api-dist, build-ui
