Repository phaidra/phaidra: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-api-base, build-api-dist, build-ui, build-chronos-base, build-chronos-dist, build-httpd-shib-base, build-httpd-demo-dist, build-imageserver, build-pixelgecko-base, build-pixelgecko-dist, build-mariadb-phaidra-dist, build-mariadb-fedora-dist, build-mongodb-dist, build-solr-dist, build-openldap-dist, build-vige-base, build-vige-dist, build-promtail-dist, build-loki-dist, build-grafana-dist, build-prometheus-dist, compose-dev, compose-demo, compose-ssl, compose-shib, compose-keycloak, build-website-push-staging, build-website-push-final

build-api-base:
  stage: build-base
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-api-dist:
  stage: build-dist
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-ui:
  stage: build-common
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-chronos-base:
  stage: build-base
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-chronos-dist:
  stage: build-dist
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-httpd-shib-base:
  stage: build-base
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-httpd-demo-dist:
  stage: build-dist
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-imageserver:
  stage: build-common
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-pixelgecko-base:
  stage: build-base
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-pixelgecko-dist:
  stage: build-dist
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-mariadb-phaidra-dist:
  stage: build-dist
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-mariadb-fedora-dist:
  stage: build-dist
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-mongodb-dist:
  stage: build-dist
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-solr-dist:
  stage: build-dist
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-openldap-dist:
  stage: build-dist
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-vige-base:
  stage: build-base
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-vige-dist:
  stage: build-dist
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-promtail-dist:
  stage: build-dist
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-loki-dist:
  stage: build-dist
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-grafana-dist:
  stage: build-dist
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

stats fix and api/ui versions
  docker-compose.yaml
  src/phaidra-api/PhaidraAPI/Model/Stats.pm
Due: build-api-dist

delete first, obviously
  src/phaidra-api/utils/processUsageStats.pl
Due: build-api-dist

adding indexes for usage_stats
  container_init/mariadb/phaidradb/phaidradb.sql.gz
Due: build-mariadb-phaidra-dist

forgotten indexes
  src/phaidra-api/migrations/v3.3.16.pl
Due: build-api-dist

remove tou version condition on user search
  src/phaidra-api/PhaidraAPI/Controller/Utils.pm
Due: build-api-dist

use first remote ip in x-forwarded-for array
  src/phaidra-api/PhaidraAPI/Model/Util.pm
Due: build-api-dist

distinct usernames only
  src/phaidra-api/PhaidraAPI/Controller/Utils.pm
Due: build-api-dist

template management changes
  src/phaidra-api/PhaidraAPI.pm
  src/phaidra-api/PhaidraAPI/Controller/Jsonld.pm
  src/phaidra-ui/pages/templates.vue
  src/phaidra-vue-components/src/components/templates/PTemplates.vue
Due: build-api-dist, build-ui

search option for object list
  src/phaidra-vue-components/src/components/lists/PLists.vue
Due: build-ui

Added condition for labels
  src/phaidra-vue-components/src/components/legacy/PDUwmRec.vue
Due: build-ui

translation fn added for text containing pid
  src/phaidra-ui/components/PBreadcrumbs.vue
Due: build-ui

Added Persistent Identifier translation
  src/phaidra-ui/locales/deu.json
Due: build-ui

add btn redirect to latest version
  src/phaidra-ui/locales/deu.json
  src/phaidra-ui/pages/detail/_pid.vue
Due: build-ui

latestVersion logic
  src/phaidra-ui/pages/detail/_pid.vue
Due: build-ui

Added condition for classification path
  src/phaidra-vue-components/src/components/legacy/PIUwmRec.vue
Due: build-ui

Group list and groups column
  src/phaidra-ui/locales/deu.json
  src/phaidra-vue-components/src/components/groups/PGroups.vue
  src/phaidra-vue-components/src/components/lists/PLists.vue
Due: build-ui

template management route change
  src/phaidra-api/PhaidraAPI.pm
  src/phaidra-api/PhaidraAPI/Controller/Jsonld.pm
  src/phaidra-ui/pages/templates.vue
  src/phaidra-vue-components/src/components/templates/PTemplates.vue
Due: build-api-dist, build-ui

added oai formats
  src/phaidra-api/templates/oai/list_metadata_formats.xml.ep
Due: build-api-dist

bibo issue
  src/phaidra-vue-components/src/components/display/PDLangValue.vue
Due: build-ui

type check
  src/phaidra-vue-components/src/components/display/PDLangValue.vue
Due: build-ui

latest version redirect
  src/phaidra-ui/server-middleware/redirect.js
Due: build-ui

is empty check issue
  src/phaidra-vue-components/src/components/legacy/PDUwmRec.vue
Due: build-ui

remove detail from checking match
  src/phaidra-ui/server-middleware/redirect.js
Due: build-ui

primary colour on button
  src/phaidra-ui/pages/metadata/_pid/edit.vue
Due: build-ui

search page dark theme support
  src/phaidra-vue-components/src/components/search/PSearchResults.vue
  src/phaidra-vue-components/src/components/search/PSearchToolbar.vue
Due: build-ui

typos
  src/phaidra-vue-components/src/components/search/PSearchToolbar.vue
Due: build-ui

remove residual vuetify v1 property primary-title
  src/phaidra-ui/pages/detail/_pid.vue
  src/phaidra-vue-components/src/components/management/PMDelete.vue
Due: build-ui

enable well-known
  container_init/httpd/phaidra-shib/conf/phaidra-shib.conf
Due: none

birthdate and death date added
  src/phaidra-api/public/json-schema/jsonld.json
  src/phaidra-ui/locales/deu.json
  src/phaidra-vue-components/src/components/input/PIEntityExtended.vue
  src/phaidra-vue-components/src/components/input/PIForm.vue
  src/phaidra-vue-components/src/utils/json-ld.js
Due: build-api-dist, build-ui

json to form fix
  src/phaidra-vue-components/src/components/input/PIEntityExtended.vue
  src/phaidra-vue-components/src/utils/json-ld.js
Due: build-ui

facet count font colour and weight
  src/phaidra-vue-components/src/components/search/PSearchFilters.vue
Due: build-ui

redirectEvaluator logic on middleware
  src/phaidra-ui/server-middleware/redirect.js
Due: build-ui

forgot to add the condition to the other variants
  container_init/httpd/phaidra-keycloak/conf/phaidra-keycloak.conf
  container_init/httpd/phaidra-ssl/conf/phaidra-ssl.conf
Due: none

remove values which should not be so relevant
  src/phaidra-vue-components/src/store/modules/vocabulary.js
Due: build-ui

mongo index
  container_init/mongodb/mongodb-after-entry.sh
  docker-compose.yaml
Due: build-mongodb-dist

red color on remove actions
  src/phaidra-vue-components/src/components/lists/PLists.vue
  src/phaidra-vue-components/src/components/management/PMRights.vue
Due: build-ui

Auto link on metadata
  src/phaidra-vue-components/src/components/legacy/PDUwmRec.vue
Due: build-ui

api/ui version
  docker-compose.yaml
Due: none

dynamic alert
  src/phaidra-ui/layouts/default.vue
  src/phaidra-ui/locales/deu.json
  src/phaidra-ui/locales/eng.json
  src/phaidra-ui/pages/sort/_pid.vue
Due: build-ui

language cancel implemented
  src/phaidra-vue-components/src/components/input/PIForm.vue
  src/phaidra-vue-components/src/components/input/PITextField.vue
  src/phaidra-vue-components/src/utils/fields.js
Due: build-ui

Path conditions:
  build-api-base: any of: dockerfiles/api-base.dockerfile
  build-api-dist: any of: dockerfiles/api-base.dockerfile, dockerfiles/api-dist.dockerfile, src/phaidra-api/**/*
  build-ui: any of: dockerfiles/ui.dockerfile, src/phaidra-ui/**/*, src/phaidra-vue-components/**/*
  build-chronos-base: any of: dockerfiles/chronos-base.dockerfile
  build-chronos-dist: any of: dockerfiles/chronos-base.dockerfile, dockerfiles/chronos-dist.dockerfile, container-init/chronos/**/*
  build-httpd-shib-base: any of: dockerfiles/httpd-shib-base.dockerfile
  build-httpd-demo-dist: any of: dockerfiles/httpd-demo-dist.dockerfile, container_init/httpd/phaidra-demo/conf/phaidra-demo.conf
  build-imageserver: any of: dockerfiles/imageserver.dockerfile
  build-pixelgecko-base: any of: dockerfiles/pixelgecko-base.dockerfile
  build-pixelgecko-dist: any of: dockerfiles/pixelgecko-base.dockerfile, dockerfiles/pixelgecko-dist.dockerfile, src/pixelgecko/**/*
  build-mariadb-phaidra-dist: any of: dockerfiles/mariadb-phaidra-dist.dockerfile, container_init/mariadb/phaidradb/**/*
  build-mariadb-fedora-dist: any of: dockerfiles/mariadb-fedora-dist.dockerfile, container_init/mariadb/fedoradb/**/*
  build-mongodb-dist: any of: dockerfiles/mongodb-dist.dockerfile, container_init/mongodb/**/*
  build-solr-dist: any of: dockerfiles/solr-dist.dockerfile, container_init/solr/**/*
  build-openldap-dist: any of: dockerfiles/openldap-dist.dockerfile, container_init/openldap/**/*
  build-vige-base: any of: dockerfiles/vige-base.dockerfile
  build-vige-dist: any of: dockerfiles/vige-base.dockerfile, dockerfiles/vige-dist.dockerfile, src/vige/**/*
  build-promtail-dist: any of: dockerfiles/promtail-dist.dockerfile, container_init/promtail/promtail-local.config.yaml
  build-loki-dist: any of: dockerfiles/loki-dist.dockerfile, container_init/loki/loki-docker-config.yaml
  build-grafana-dist: any of: dockerfiles/grafana-dist.dockerfile, container_init/grafana/**/*
  build-prometheus-dist: any of: dockerfiles/prometheus-dist.dockerfile, container_init/prometheus/prometheus.yaml
  compose-dev: any of: compose_dev/docker-compose.yaml, components/phaidra-ui/**/*, container_components/solr/**/*
  compose-demo: any of: compose_demo/docker-compose.yaml, container_components/solr/**/*
  compose-ssl: any of: compose_ssl/docker-compose.yaml, container_components/solr/**/*
  compose-shib: any of: compose_shib/docker-compose.yaml, container_components/solr/**/*
  compose-keycloak: any of: compose_shib/docker-compose.yaml, container_components/solr/**/*
  build-website-push-staging: any of: website/**/*, mkdocs.yml
  build-website-push-final: any of: website/**/*, mkdocs.yml
