Repository phaidra/phaidra: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-api-base, build-api-dist, build-ui, build-chronos-base, build-chronos-dist, build-httpd-shib-base, build-httpd-demo-dist, build-imageserver, build-pixelgecko-base, build-pixelgecko-dist, build-mariadb-phaidra-dist, build-mariadb-fedora-dist, build-mongodb-dist, build-solr-dist, build-openldap-dist, build-vige-base, build-vige-dist, build-promtail-dist, build-loki-dist, build-grafana-dist, build-prometheus-dist, compose-dev, compose-demo, compose-ssl, compose-shib, compose-keycloak, build-website-push-staging, build-website-push-final

Path conditions:
  build-api-base: any of: dockerfiles/api-base.dockerfile
  build-api-dist: any of: dockerfiles/api-base.dockerfile, dockerfiles/api-dist.dockerfile, src/phaidra-api/**/*
  build-ui: any of: dockerfiles/ui.dockerfile, src/phaidra-ui/**/*, src/phaidra-vue-components/**/*
  build-chronos-base: any of: dockerfiles/chronos-base.dockerfile
  build-chronos-dist: any of: dockerfiles/chronos-base.dockerfile, dockerfiles/chronos-dist.dockerfile, container-init/chronos/**/*
  build-httpd-shib-base: any of: dockerfiles/httpd-shib-base.dockerfile
  build-httpd-demo-dist: any of: dockerfiles/httpd-demo-dist.dockerfile, container_init/httpd/phaidra-demo/conf/phaidra-demo.conf
  build-imageserver: any of: dockerfiles/imageserver.dockerfile
  build-pixelgecko-base: any of: dockerfiles/pixelgecko-base.dockerfile
  build-pixelgecko-dist: any of: dockerfiles/pixelgecko-base.dockerfile, dockerfiles/pixelgecko-dist.dockerfile, src/pixelgecko/**/*
  build-mariadb-phaidra-dist: any of: dockerfiles/mariadb-phaidra-dist.dockerfile, container_init/mariadb/phaidradb/**/*
  build-mariadb-fedora-dist: any of: dockerfiles/mariadb-fedora-dist.dockerfile, container_init/mariadb/fedoradb/**/*
  build-mongodb-dist: any of: dockerfiles/mongodb-dist.dockerfile, container_init/mongodb/**/*
  build-solr-dist: any of: dockerfiles/solr-dist.dockerfile, container_init/solr/**/*
  build-openldap-dist: any of: dockerfiles/openldap-dist.dockerfile, container_init/openldap/**/*
  build-vige-base: any of: dockerfiles/vige-base.dockerfile
  build-vige-dist: any of: dockerfiles/vige-base.dockerfile, dockerfiles/vige-dist.dockerfile, src/vige/**/*
  build-promtail-dist: any of: dockerfiles/promtail-dist.dockerfile, container_init/promtail/promtail-local.config.yaml
  build-loki-dist: any of: dockerfiles/loki-dist.dockerfile, container_init/loki/loki-docker-config.yaml
  build-grafana-dist: any of: dockerfiles/grafana-dist.dockerfile, container_init/grafana/**/*
  build-prometheus-dist: any of: dockerfiles/prometheus-dist.dockerfile, container_init/prometheus/prometheus.yaml
  compose-dev: any of: compose_dev/docker-compose.yaml, components/phaidra-ui/**/*, container_components/solr/**/*
  compose-demo: any of: compose_demo/docker-compose.yaml, container_components/solr/**/*
  compose-ssl: any of: compose_ssl/docker-compose.yaml, container_components/solr/**/*
  compose-shib: any of: compose_shib/docker-compose.yaml, container_components/solr/**/*
  compose-keycloak: any of: compose_shib/docker-compose.yaml, container_components/solr/**/*
  build-website-push-staging: any of: website/**/*, mkdocs.yml
  build-website-push-final: any of: website/**/*, mkdocs.yml

doi import runtime issue fix
  src/phaidra-vue-components/src/components/utils/PDoiImport.vue
Due: build-ui

rendering message change with translation
  src/phaidra-api/PhaidraAPI/Controller/Object.pm
  src/phaidra-api/PhaidraAPI/I18N/de.po
  src/phaidra-api/PhaidraAPI/I18N/en.po
  src/phaidra-api/PhaidraAPI/I18N/it.po
Due: build-api-dist

dedicated label for uploader in detail box
  src/phaidra-ui/locales/deu.json
  src/phaidra-ui/locales/eng.json
  src/phaidra-ui/locales/ita.json
  src/phaidra-ui/pages/detail/_pid.vue
Due: build-ui

added diameter abd depth field and resolved duplicate key issue
  src/phaidra-ui/pages/submit/upload.vue
  src/phaidra-vue-components/src/components/display/PDJsonld.vue
Due: build-ui

register more vuetify components to be used on custom pages
  src/phaidra-ui/plugins/vuetify-runtime-components.js
Due: build-ui

add italian to default orgunit in Default.pm
  src/phaidra-api/lib/phaidra_directory/Phaidra/Directory/Default.pm
Due: build-api-dist

header info
  src/phaidra-ui/components/ext/Header.vue
Due: build-ui

moved comment from header to head meta tag
  src/phaidra-ui/app.html
  src/phaidra-ui/components/ext/Header.vue
Due: build-ui

book viewer preview in object detail page
  src/phaidra-ui/pages/detail/_pid.vue
Due: build-ui

removed book preview condition
  src/phaidra-ui/pages/detail/_pid.vue
Due: build-ui

bulk upload language for title, description and keyword from language selection
  src/phaidra-ui/pages/bulk-upload/upload.vue
Due: build-ui

added two data option props for phaidra padua template customisation
  src/phaidra-ui/pages/collections/_collection.vue
Due: build-ui

fix display of upload format lists
  src/phaidra-vue-components/src/components/input/PIResourceType.vue
Due: build-ui

italian translations update
  src/phaidra-ui/locales/ita.json
Due: build-ui

ita i18n update
  src/phaidra-ui/locales/ita.json
Due: build-ui

replace text--secondary class with font-weight-bold in object detail labels
  src/phaidra-ui/pages/detail/_pid.vue
Due: build-ui

removed year change
  src/phaidra-ui/components/Repostat.vue
Due: build-ui

storage stat change
  src/phaidra-api/PhaidraAPI.pm
  src/phaidra-api/PhaidraAPI/Controller/Utils.pm
  src/phaidra-ui/components/Repostat.vue
Due: build-api-dist, build-ui

title for storage stat table
  src/phaidra-ui/components/Repostat.vue
Due: build-ui

month wise storage stat from fedora simple_search table
  src/phaidra-api/PhaidraAPI.pm
  src/phaidra-api/PhaidraAPI/Controller/Utils.pm
  src/phaidra-ui/components/Repostat.vue
Due: build-api-dist, build-ui

removed comments
  src/phaidra-ui/pages/admin.vue
Due: build-ui

ignoring api field from mongo db
  src/phaidra-ui/pages/admin.vue
  src/phaidra-ui/store/index.js
Due: build-ui

removed logs
  src/phaidra-vue-components/src/store/modules/vocabulary.js
Due: build-ui

removed logs
  src/phaidra-vue-components/src/components/input/PIObjectType.vue
Due: build-ui

ot4rt list change fix
  src/phaidra-ui/pages/submit/upload.vue
  src/phaidra-ui/pages/submitrelated/_relatedpid/_relation.vue
Due: build-ui

overriding object type from admin config
  src/phaidra-ui/pages/admin.vue
  src/phaidra-ui/pages/submit/oerkphvie.vue
  src/phaidra-ui/pages/submit/upload.vue
  src/phaidra-ui/pages/submitrelated/_relatedpid/_relation.vue
  src/phaidra-ui/store/index.js
  src/phaidra-vue-components/src/components/input/PIObjectType.vue
  src/phaidra-vue-components/src/store/modules/vocabulary.js
Due: build-ui

api/ui version
  docker-compose.yaml
Due: none

reenable renovate bot
  .gitlab-ci.yml
Due: none

compose: handle setup. already works for resolving global handles
  configs/handle/config.dct
  configs/handle/siteinfo.json
  container_init/handle/handle-entrypoint.sh
  container_init/handle/siteinfo.json.template
  docker-compose.yaml
  dockerfiles/handle.dockerfile
Due: none

expose 2641 ports on handle
  docker-compose.yaml
  dockerfiles/handle.dockerfile
Due: none

handle v2: dont use config, mount handle key from certs/handle, run as handle user and other improvements
  .gitignore
  configs/handle/siteinfo.json
  container_init/handle/config.dct.template
  container_init/handle/handle-entrypoint.sh
  container_init/handle/siteinfo.json.template
  docker-compose.yaml
  dockerfiles/handle.dockerfile
Due: none

add handle section to README
  README.md
Due: none

handle: don't set user, otherwise bind mounds in rootless docker are always owned by root
  container_init/handle/handle-entrypoint.sh
  docker-compose.yaml
  dockerfiles/handle.dockerfile
Due: none

add handle to gitlab CI
  .gitlab-ci.yml
Due: none

remove required variable in handle
  docker-compose.yaml
Due: none

adding handle agent
  .gitlab-ci.yml
  docker-compose.yaml
  dockerfiles/agent-hdl.dockerfile
  src/agents/hdl/index.js
  src/agents/hdl/package.json
  src/phaidra-api/PhaidraAPI.pm
  src/phaidra-api/PhaidraAPI/Model/Hooks.pm
  src/phaidra-ui/pages/admin.vue
Due: build-api-dist, build-ui

add env variables for handle api call authn
  docker-compose.yaml
  src/agents/hdl/index.js
Due: none

only add agent in handle profile
  docker-compose.yaml
Due: none

agent-hdl/api/ui version
  docker-compose.yaml
Due: none

fedora db details in common env
  docker-compose.yaml
Due: none
