Repository phaidra/phaidra: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-api-base, build-api-dist, build-ui, build-chronos-base, build-chronos-dist, build-httpd-shib-base, build-httpd-demo-dist, build-imageserver, build-pixelgecko-base, build-pixelgecko-dist, build-mariadb-phaidra-dist, build-mariadb-fedora-dist, build-mongodb-dist, build-solr-dist, build-openldap-dist, build-vige-base, build-vige-dist, build-promtail-dist, build-loki-dist, build-grafana-dist, build-prometheus-dist, compose-dev, compose-demo, compose-ssl, compose-shib, compose-keycloak, build-website-push-staging, build-website-push-final

build-api-base:
  stage: build-base
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-api-dist:
  stage: build-dist
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-ui:
  stage: build-common
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-chronos-base:
  stage: build-base
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-chronos-dist:
  stage: build-dist
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-httpd-shib-base:
  stage: build-base
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-httpd-demo-dist:
  stage: build-dist
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-imageserver:
  stage: build-common
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-pixelgecko-base:
  stage: build-base
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-pixelgecko-dist:
  stage: build-dist
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-mariadb-phaidra-dist:
  stage: build-dist
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-mariadb-fedora-dist:
  stage: build-dist
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-mongodb-dist:
  stage: build-dist
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-solr-dist:
  stage: build-dist
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-openldap-dist:
  stage: build-dist
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-vige-base:
  stage: build-base
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-vige-dist:
  stage: build-dist
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-promtail-dist:
  stage: build-dist
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-loki-dist:
  stage: build-dist
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-grafana-dist:
  stage: build-dist
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

bump fcrepo to 6.5.1
  docker-compose.yaml
Due: none

redirection from login page to previous path
  src/phaidra-ui/pages/login.vue
  src/phaidra-ui/plugins/after-each.js
Due: build-ui

remove-link-to-old-book-viewer
  src/phaidra-ui/pages/detail/_pid.vue
Due: build-ui

api/ui version
  docker-compose.yaml
Due: none

ror for publication field
  src/phaidra-vue-components/src/components/display/PDBfPublication.vue
  src/phaidra-vue-components/src/components/input/PIBfPublication.vue
  src/phaidra-vue-components/src/components/input/PIForm.vue
  src/phaidra-vue-components/src/utils/fields.js
  src/phaidra-vue-components/src/utils/json-ld.js
Due: build-ui

client process check
  src/phaidra-ui/plugins/after-each.js
Due: build-ui

move header styles to default layout, fix header changeLocale button styles
  src/phaidra-ui/components/ext/Header.vue
  src/phaidra-ui/layouts/default.vue
Due: build-ui

increase height of audio object preview iframe on detail page
  src/phaidra-ui/pages/detail/_pid.vue
Due: build-ui

input value binding from parent prop for search input field
  src/phaidra-vue-components/src/components/search/PSearchAutocomplete.vue
Due: build-ui

support-for-external-ldap
  src/phaidra-api/PhaidraAPI.json
  src/phaidra-api/lib/phaidra_directory/Phaidra/Directory/Default.pm
  src/phaidra-ui/pages/admin.vue
Due: build-api-dist, build-ui

add users to A-1, fix reading attributes
  src/phaidra-api/lib/phaidra_directory/Phaidra/Directory/Default.pm
Due: build-api-dist

fixes
  src/phaidra-api/lib/phaidra_directory/Phaidra/Directory/Default.pm
Due: build-api-dist

ldap: utf8 encode ou values
  src/phaidra-api/lib/phaidra_directory/Phaidra/Directory/Default.pm
Due: build-api-dist

api version
  docker-compose.yaml
Due: none

bulk upload breadcrumb
  src/phaidra-ui/store/index.js
Due: build-ui

italian translation update
  src/phaidra-ui/locales/ita.json
Due: build-ui

a11y-vocab-wording-fix
  src/phaidra-vue-components/src/store/modules/vocabulary.js
Due: build-ui

bulk upload translation
  src/phaidra-ui/components/BulkUploadSteps.vue
  src/phaidra-ui/components/bulk-upload/CSVColumnSelector.vue
  src/phaidra-ui/components/bulk-upload/FileSelection.vue
  src/phaidra-ui/components/bulk-upload/SourceSelector.vue
  src/phaidra-ui/components/bulk-upload/UploadProgress.vue
  src/phaidra-ui/components/bulk-upload/UploadTable.vue
  src/phaidra-ui/locales/deu.json
  src/phaidra-ui/pages/bulk-upload/csv-config.vue
  src/phaidra-ui/pages/bulk-upload/meta-data-config.vue
  src/phaidra-ui/pages/bulk-upload/preview.vue
  src/phaidra-ui/pages/bulk-upload/upload.vue
Due: build-ui

bulk upload error resolve
  src/phaidra-ui/pages/bulk-upload/csv-config.vue
Due: build-ui

disabling keyword field prop for bulk upload
  src/phaidra-vue-components/src/components/input/PIKeyword.vue
Due: build-ui

added italian translations of bulk upload ui
  src/phaidra-ui/locales/ita.json
Due: build-ui

added other translation for bulk upload
  src/phaidra-ui/components/bulk-upload/CompletionOverlay.vue
  src/phaidra-ui/locales/deu.json
  src/phaidra-ui/pages/bulk-upload/index.vue
Due: build-ui

added some italian translations for bulk upload feature
  src/phaidra-ui/locales/ita.json
Due: build-ui

fixed value prop type issue for keywords
  src/phaidra-ui/components/bulk-upload/PhaidraFieldSelector.vue
Due: build-ui

bulk upload fix flashing background on dark theme
  src/phaidra-ui/pages/bulk-upload/meta-data-config.vue
Due: build-ui

store mutation issue fix
  src/phaidra-ui/pages/bulk-upload/meta-data-config.vue
Due: build-ui

show hide breadcrumb admin config
  src/phaidra-ui/layouts/default.vue
  src/phaidra-ui/locales/deu.json
  src/phaidra-ui/pages/admin.vue
  src/phaidra-ui/store/index.js
Due: build-ui

bulk upload use full container width
  src/phaidra-ui/layouts/bulk-upload.vue
  src/phaidra-ui/pages/bulk-upload/csv-config.vue
  src/phaidra-ui/pages/bulk-upload/meta-data-config.vue
  src/phaidra-ui/pages/bulk-upload/preview.vue
  src/phaidra-ui/pages/bulk-upload/upload.vue
Due: build-ui

get_ldap_ext fix
  src/phaidra-api/lib/phaidra_directory/Phaidra/Directory/Default.pm
Due: build-api-dist

association parent selection disable in bulk upload
  src/phaidra-ui/components/bulk-upload/PhaidraFieldSelector.vue
Due: build-ui

breadcrumbs hide config only for homepage
  src/phaidra-ui/layouts/default.vue
  src/phaidra-ui/locales/deu.json
  src/phaidra-ui/pages/admin.vue
  src/phaidra-ui/store/index.js
Due: build-ui

resolved set alert mutation issue
  src/phaidra-ui/layouts/default.vue
  src/phaidra-vue-components/src/store/modules/vocabulary.js
Due: build-ui

removed unwanted
  src/phaidra-ui/layouts/default.vue
Due: build-ui

enable-fetching-external-user-attributes
  dockerfiles/api-base.dockerfile
  src/phaidra-api/PhaidraAPI.pm
  src/phaidra-api/PhaidraAPI/Controller/Utils.pm
  src/phaidra-api/lib/phaidra_directory/Phaidra/Directory/Default.pm
  src/phaidra-ui/pages/admin.vue
Due: build-api-base, build-api-dist, build-ui

moving dependency, maybe it will fix the broken build
  dockerfiles/api-base.dockerfile
Due: build-api-base, build-api-dist

testing if removing the package helps
  dockerfiles/api-base.dockerfile
Due: build-api-base, build-api-dist

removing arm for now, the build seems broken there
  .gitlab-ci.yml
  dockerfiles/api-base.dockerfile
Due: build-api-base, build-api-dist

removing arm for now, the build seems broken there
  .gitlab-ci.yml
Due: none

Path conditions:
  build-api-base: any of: dockerfiles/api-base.dockerfile
  build-api-dist: any of: dockerfiles/api-base.dockerfile, dockerfiles/api-dist.dockerfile, src/phaidra-api/**/*
  build-ui: any of: dockerfiles/ui.dockerfile, src/phaidra-ui/**/*, src/phaidra-vue-components/**/*
  build-chronos-base: any of: dockerfiles/chronos-base.dockerfile
  build-chronos-dist: any of: dockerfiles/chronos-base.dockerfile, dockerfiles/chronos-dist.dockerfile, container-init/chronos/**/*
  build-httpd-shib-base: any of: dockerfiles/httpd-shib-base.dockerfile
  build-httpd-demo-dist: any of: dockerfiles/httpd-demo-dist.dockerfile, container_init/httpd/phaidra-demo/conf/phaidra-demo.conf
  build-imageserver: any of: dockerfiles/imageserver.dockerfile
  build-pixelgecko-base: any of: dockerfiles/pixelgecko-base.dockerfile
  build-pixelgecko-dist: any of: dockerfiles/pixelgecko-base.dockerfile, dockerfiles/pixelgecko-dist.dockerfile, src/pixelgecko/**/*
  build-mariadb-phaidra-dist: any of: dockerfiles/mariadb-phaidra-dist.dockerfile, container_init/mariadb/phaidradb/**/*
  build-mariadb-fedora-dist: any of: dockerfiles/mariadb-fedora-dist.dockerfile, container_init/mariadb/fedoradb/**/*
  build-mongodb-dist: any of: dockerfiles/mongodb-dist.dockerfile, container_init/mongodb/**/*
  build-solr-dist: any of: dockerfiles/solr-dist.dockerfile, container_init/solr/**/*
  build-openldap-dist: any of: dockerfiles/openldap-dist.dockerfile, container_init/openldap/**/*
  build-vige-base: any of: dockerfiles/vige-base.dockerfile
  build-vige-dist: any of: dockerfiles/vige-base.dockerfile, dockerfiles/vige-dist.dockerfile, src/vige/**/*
  build-promtail-dist: any of: dockerfiles/promtail-dist.dockerfile, container_init/promtail/promtail-local.config.yaml
  build-loki-dist: any of: dockerfiles/loki-dist.dockerfile, container_init/loki/loki-docker-config.yaml
  build-grafana-dist: any of: dockerfiles/grafana-dist.dockerfile, container_init/grafana/**/*
  build-prometheus-dist: any of: dockerfiles/prometheus-dist.dockerfile, container_init/prometheus/prometheus.yaml
  compose-dev: any of: compose_dev/docker-compose.yaml, components/phaidra-ui/**/*, container_components/solr/**/*
  compose-demo: any of: compose_demo/docker-compose.yaml, container_components/solr/**/*
  compose-ssl: any of: compose_ssl/docker-compose.yaml, container_components/solr/**/*
  compose-shib: any of: compose_shib/docker-compose.yaml, container_components/solr/**/*
  compose-keycloak: any of: compose_shib/docker-compose.yaml, container_components/solr/**/*
  build-website-push-staging: any of: website/**/*, mkdocs.yml
  build-website-push-final: any of: website/**/*, mkdocs.yml
