Repository phaidra/phaidra: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-api, build-chronos, build-httpd, build-imageserver, build-pixelgecko, compose-demo, compose-ssl, compose-shib

build-api:
  stage: build
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-chronos:
  stage: build
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-httpd:
  stage: build
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-imageserver:
  stage: build
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

build-pixelgecko:
  stage: build
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  ...

compose-demo:
  stage: test
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  script:
  - cd compose_demo
  - docker compose up -d --quiet-pull --build
  - docker compose down

compose-ssl:
  stage: test
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  script:
  - cd compose_ssl
  - docker compose up -d --quiet-pull --build
  - docker compose down

compose-shib:
  stage: test
  before_script:
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  script:
  - cd compose_shib
  - docker compose up -d --quiet-pull --build
  - docker compose down

hide some queries to grafana itself in dashboard.
  container_init/grafana/dashboards/phaidra_default.json
Due: none

ease admin area (solr, fedora, dbgate, grafana) access.
  README.md
  compose_demo/.env
  compose_demo/docker-compose.yaml
  compose_shib/.env
  compose_shib/docker-compose.yaml
  compose_ssl/.env
  compose_ssl/docker-compose.yaml
  container_init/httpd/phaidra-demo/conf/phaidra-demo.conf
  container_init/httpd/phaidra-shib/conf/phaidra-shib.conf
  container_init/httpd/phaidra-ssl/conf/phaidra-ssl.conf
Due: compose-demo, compose-ssl, compose-shib

update frontpage image.
  pictures/running_phaidra.png
Due: none

fix variable naming in .envs.
  compose_shib/.env
  compose_ssl/.env
Due: compose-ssl, compose-shib

update system graphs.
  pictures/construction_demo.svg
  pictures/construction_shib.svg
  pictures/construction_ssl.svg
  technical-sketches.org
Due: none

fix missing connection to grafana in graphical system overview.
  pictures/construction_shib.svg
  pictures/construction_ssl.svg
  technical-sketches.org
Due: none

update documentation, add links.
  README.md
Due: none

make 'docker compose restart api' work.
  container_init/api/api-entrypoint.bash
Due: none

lessen friction with differing environment variables.
  .gitignore
Due: none

delete env + thema classification
  compose_demo/.env
  src/phaidra-api/PhaidraAPI/Controller/Termsofuse.pm
  src/phaidra-api/PhaidraAPI/Model/Vocabulary.pm
  src/phaidra-api/public/vocabulary/20230707_Thema_v1.5_en.json
  src/phaidra-api/public/vocabulary/20231031_Thema_v1.5_de.json
Due: compose-demo

remove .env in compose folders, add .env.template, cheers david!
  .env.template
  README.md
  compose_shib/.env
  compose_ssl/.env
Due: compose-ssl, compose-shib

add prometheus, node-exporter, cadvisor, update grafana dashboard.
  compose_demo/docker-compose.yaml
  compose_shib/docker-compose.yaml
  compose_ssl/docker-compose.yaml
  container_init/grafana/dashboards/phaidra_default.json
  container_init/grafana/dd.yaml
  container_init/grafana/ds.yaml
  container_init/prometheus/prometheus.yaml
Due: compose-demo, compose-ssl, compose-shib

add notes for rootful-docker users and users with uid !=1000.
  README.md
Due: none

force arm64 builds for delivered images (apple M1/M2).
  .gitlab-ci.yml
Due: none

add container builder to docker build command.
  .gitlab-ci.yml
Due: none

further work on docker build syntax.
  .gitlab-ci.yml
Due: none

add buildx more verbosely.
  .gitlab-ci.yml
Due: none

remove 'container' builder value.
  .gitlab-ci.yml
Due: none

create builder and hope for it to be picked up.
  .gitlab-ci.yml
Due: none

add missing command breakline.
  .gitlab-ci.yml
Due: none

further searching for proper buildx syntax.
  .gitlab-ci.yml
Due: none

define multiplatform on builder creation.
  .gitlab-ci.yml
Due: none

first api build run after gitlab-runner multiarch addition.
  .gitlab-ci.yml
Due: none

fix missing commandbreak.
  .gitlab-ci.yml
Due: none

add --push flag for buildx.
  .gitlab-ci.yml
Due: none

split tags, as buildx reports invalid format.
  .gitlab-ci.yml
Due: none

apply arm64 buildx to the remaining images.
  .gitlab-ci.yml
Due: none

set build rules back to normal.
  .gitlab-ci.yml
Due: none

variablize Host Docker Socket.
  .env.template
  compose_demo/docker-compose.yaml
Due: compose-demo

document env variables for non-rootless and uid != 1000 setups.
  README.md
Due: none

put notes into better readable location.
  README.md
Due: none

termsofuse tf8 fix
  src/phaidra-api/PhaidraAPI.pm
  src/phaidra-api/PhaidraAPI/Controller/Termsofuse.pm
Due: none

document Gateway IP settings for rootful and OSX Desktop Docker.
  .env.template
  README.md
Due: none

HOST_DOCKER_SOCKET env var for shib and ssl versions, add :ro flags.
  compose_demo/docker-compose.yaml
  compose_shib/docker-compose.yaml
  compose_ssl/docker-compose.yaml
Due: compose-demo, compose-ssl, compose-shib

add missing :ro flag.
  compose_shib/docker-compose.yaml
  compose_ssl/docker-compose.yaml
Due: compose-ssl, compose-shib

force compose up run after .env location change.
  .gitlab-ci.yml
Due: none

set ci rules back to normal.
  .gitlab-ci.yml
Due: none

update IP and docker sock information for ssl an shib versions.
  README.md
Due: none

activate authentication for priviledged sites.
  .env.template
  README.md
  compose_demo/docker-compose.yaml
  compose_shib/docker-compose.yaml
  compose_ssl/docker-compose.yaml
  container_init/solr/security.json
  container_init/solr/solr_entrypoint.bash
  src/phaidra-api/PhaidraAPI.json
Due: compose-demo, compose-ssl, compose-shib

make default credentials section more readable.
  README.md
Due: none

Path conditions:
  build-api: any of: dockerfiles/api.dockerfile
  build-chronos: any of: dockerfiles/chronos.dockerfile
  build-httpd: any of: dockerfiles/httpd.dockerfile
  build-imageserver: any of: dockerfiles/imageserver.dockerfile
  build-pixelgecko: any of: dockerfiles/pixelgecko.dockerfile
  compose-demo: any of: compose_demo/docker-compose.yaml, compose_demo/.env, components/phaidra-ui/**/*, image_components/solr/**/*
  compose-ssl: any of: compose_ssl/docker-compose.yaml, compose_ssl/.env, components/phaidra-ui/**/*, image_components/solr/**/*
  compose-shib: any of: compose_shib/docker-compose.yaml, compose_shib/.env, components/phaidra-ui/**/*, image_components/solr/**/*
