Repository phaidra/phaidra: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-api, build-api-dist, build-ui, build-chronos, build-httpd, build-httpd-shib, build-imageserver, build-pixelgecko, build-vige, compose-demo, compose-ssl, compose-shib, build-website-push-staging, build-website-push-final

Path conditions:
  build-api: any of: dockerfiles/api-base.dockerfile
  build-api-dist: any of: dockerfiles/api-dist.dockerfile, src/phaidra-api/**/*
  build-ui: any of: dockerfiles/ui.dockerfile, src/phaidra-ui/**/*, src/phaidra-vue-components/**/*
  build-chronos: any of: dockerfiles/chronos.dockerfile
  build-httpd: any of: dockerfiles/httpd.dockerfile
  build-httpd-shib: any of: dockerfiles/httpd-shib.dockerfile
  build-imageserver: any of: dockerfiles/imageserver.dockerfile
  build-pixelgecko: any of: dockerfiles/pixelgecko.dockerfile
  build-vige: any of: dockerfiles/vige.dockerfile
  compose-demo: any of: compose_demo/docker-compose.yaml, components/phaidra-ui/**/*, container_components/solr/**/*
  compose-ssl: any of: compose_ssl/docker-compose.yaml, components/phaidra-ui/**/*, container_components/solr/**/*
  compose-shib: any of: compose_shib/docker-compose.yaml, components/phaidra-ui/**/*, container_components/solr/**/*
  build-website-push-staging: any of: website/**/*, mkdocs.yml
  build-website-push-final: any of: website/**/*, mkdocs.yml

debug log
  src/phaidra-api/PhaidraAPI/Model/Session/Store/Mongo.pm
Due: build-api-dist

debug
  src/phaidra-api/PhaidraAPI.pm
  src/phaidra-api/PhaidraAPI/Model/Session/Transport/Header.pm
Due: build-api-dist

add mojox-session flush, remove debug
  src/phaidra-api/PhaidraAPI.pm
  src/phaidra-api/PhaidraAPI/Controller/Authentication.pm
  src/phaidra-api/PhaidraAPI/Model/Session/Store/Mongo.pm
  src/phaidra-api/PhaidraAPI/Model/Session/Transport/Header.pm
  src/phaidra-ui/pages/ssoconsent.vue
Due: build-api-dist, build-ui

force cookie domain, otherwise unsetting cookie does not work
  src/phaidra-api/PhaidraAPI.json
  src/phaidra-ui/store/index.js
Due: build-api-dist, build-ui

minor oer form amendments
  src/phaidra-ui/pages/submit/oer.vue
  src/phaidra-vue-components/src/components/index.js
  src/phaidra-vue-components/src/components/input/PIAlert.vue
  src/phaidra-vue-components/src/components/input/PIForm.vue
  src/phaidra-vue-components/src/utils/fields.js
Due: build-ui

fix typo
  src/phaidra-vue-components/src/components/input/PIForm.vue
Due: build-ui

show resource type again; fix default validation
  src/phaidra-ui/pages/submit/oer.vue
  src/phaidra-vue-components/src/mixins/formvalidation.js
Due: build-ui

Barrierefreiheit -> Barrierearmut
  src/phaidra-ui/pages/submit/oer.vue
Due: build-ui

wording fix
  src/phaidra-ui/locales/deu/index.js
  src/phaidra-vue-components/src/i18n/deu.js
Due: build-ui

forgotten condition disallowed upload of Asset cmodels
  src/phaidra-vue-components/src/mixins/formvalidation.js
Due: build-ui

new dashboard picture
  pictures/dashboard.png
Due: none

new dashboard picture
  pictures/dashboard.png
  pictures/running_phaidra.png
Due: none

add a var that is needed in some header variations
  src/phaidra-ui/components/ext/Header.vue
Due: build-ui

update to replayweb v2.1.1
  src/phaidra-api/public/replayweb/sw.js
  src/phaidra-api/public/replayweb/ui.js
Due: build-api-dist

fix verical scrolling, info on hover, etc
  src/phaidra-api/templates/utils/replayweb.html.ep
Due: build-api-dist

entry page warning box added for replayweb preview + typo PHAIDRA - Web Archiveℹ off!
  src/phaidra-api/templates/utils/replayweb.html.ep
Due: build-api-dist

Update replayweb.html.ep
  src/phaidra-api/templates/utils/replayweb.html.ep
Due: build-api-dist

only convert date to number if its actually a number
  src/phaidra-api/PhaidraAPI/Model/Index.pm
Due: build-api-dist

S3 support before full module integration.
  src/phaidra-api/PhaidraAPI/Controller/Object.pm
Due: build-api-dist

add s3-capable pixelgecko and api images.
  dockerfiles/api-base-s3.dockerfile
  dockerfiles/pixelgecko-base-s3.dockerfile
Due: none

WIP -- S3 caps for Fedora module and pixelgecko.
  src/phaidra-api/PhaidraAPI/Model/Fedora.pm
  src/pixelgecko/pixelgecko.pl
Due: build-api-dist

modularize S3 caching in api's object module. THX gg!
  src/phaidra-api/PhaidraAPI/Controller/Object.pm
  src/phaidra-api/PhaidraAPI/S3/Cache.pm
Due: build-api-dist

Add plausible analytics to site
  mkdocs.yml
  website/overrides/partials/integrations/analytics/plausible.html
Due: build-website-push-staging, build-website-push-final

Fix plausible script
  website/overrides/partials/integrations/analytics/plausible.html
Due: build-website-push-staging, build-website-push-final

Import plausible script via extrahead block instead of mkdocs.yml
  mkdocs.yml
  website/overrides/home.html
  website/overrides/partials/integrations/analytics/plausible.html
Due: build-website-push-staging, build-website-push-final

Custom build script tag with JS
  website/overrides/home.html
Due: build-website-push-staging, build-website-push-final

unify S3-buckets to one, use s3-cache top dir.
  src/phaidra-api/PhaidraAPI/Controller/Object.pm
Due: build-api-dist

handle S3 return codes, block caching of too big files.
  src/phaidra-api/PhaidraAPI/S3/Cache.pm
Due: build-api-dist

use prefix 'fedora' in S3-bucket.
  src/phaidra-api/PhaidraAPI/Model/Fedora.pm
Due: build-api-dist

Move plausible script to analytics.html
  website/overrides/home.html
  website/overrides/partials/integrations/analytics.html
Due: build-website-push-staging, build-website-push-final

proxy s3 object download, take care of updated imageserver pictures.
  src/phaidra-api/PhaidraAPI/Controller/Object.pm
  src/phaidra-api/PhaidraAPI/Controller/Octets.pm
  src/phaidra-api/PhaidraAPI/S3/Cache.pm
Due: build-api-dist

INTERMEDIATE for thumbnails (we need dedicated ones!).
  src/phaidra-api/PhaidraAPI/Controller/Object.pm
Due: build-api-dist

do not check existing jobs if new data were posted
  src/phaidra-api/PhaidraAPI/Model/Hooks.pm
Due: build-api-dist

S3-specific relabeling.
  compose_demo/docker-compose.yaml
  src/phaidra-api/PhaidraAPI.json
  src/pixelgecko/pixelgecko_conf.yml
Due: build-api-dist, compose-demo

add pid to S3-cachelog.
  src/phaidra-api/PhaidraAPI/S3/Cache.pm
Due: build-api-dist

deprecate S3-credential accident, S3 vars in catalina opts.
  .gitignore
  compose_s3/docker-compose.yaml
Due: none

prepare S3-vars in .env.template.
  .env.template
Due: none

start optimizing docker-compose syntax with default values.
  compose_s3/docker-compose.yaml
Due: none

variablize LDAP subsystem for docker-compose with default values.
  compose_s3/docker-compose.yaml
Due: none

variablize chronos subsystem with docker-compose defaults.
  compose_s3/docker-compose.yaml
Due: none
