Repository phaidra/phaidra: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-api-base, build-api-dist, build-ui, build-chronos, build-chronos-dist, build-httpd-shib, build-httpd-demo-dist, build-imageserver, build-pixelgecko-base, build-pixelgecko-dist, build-mariadb-phaidra-dist, build-mariadb-fedora-dist, build-mongodb-dist, build-solr-dist, build-openldap-dist, build-vige, compose-dev, compose-demo, compose-ssl, compose-shib, compose-keycloak, build-website-push-staging, build-website-push-final

Path conditions:
  build-api-base: any of: dockerfiles/api-base.dockerfile
  build-api-dist: any of: dockerfiles/api-base.dockerfile, dockerfiles/api-dist.dockerfile, src/phaidra-api/**/*
  build-ui: any of: dockerfiles/ui.dockerfile, src/phaidra-ui/**/*, src/phaidra-vue-components/**/*
  build-chronos: any of: dockerfiles/chronos.dockerfile
  build-chronos-dist: any of: dockerfiles/chronos-dist.dockerfile, container-init/chronos/**/*
  build-httpd-shib: any of: dockerfiles/httpd-shib.dockerfile
  build-httpd-demo-dist: any of: dockerfiles/httpd-demo-dist.dockerfile, container_init/httpd/phaidra-demo/conf/phaidra-demo.conf
  build-imageserver: any of: dockerfiles/imageserver.dockerfile
  build-pixelgecko-base: any of: dockerfiles/pixelgecko.dockerfile
  build-pixelgecko-dist: any of: dockerfiles/pixelgecko-dist.dockerfile, src/pixelgecko/**/*
  build-mariadb-phaidra-dist: any of: dockerfiles/mariadb-phaidra-dist.dockerfile, container_init/mariadb/phaidradb/**/*
  build-mariadb-fedora-dist: any of: dockerfiles/mariadb-fedora-dist.dockerfile, container_init/mariadb/fedoradb/**/*
  build-mongodb-dist: any of: dockerfiles/mongodb-dist.dockerfile, container_init/mongodb/**/*
  build-solr-dist: any of: dockerfiles/solr-dist.dockerfile, container_init/solr/**/*
  build-openldap-dist: any of: dockerfiles/openldap-dist.dockerfile, container_init/openldap/**/*
  build-vige: any of: dockerfiles/vige.dockerfile
  compose-dev: any of: compose_dev/docker-compose.yaml, components/phaidra-ui/**/*, container_components/solr/**/*
  compose-demo: any of: compose_demo/docker-compose.yaml, container_components/solr/**/*
  compose-ssl: any of: compose_ssl/docker-compose.yaml, container_components/solr/**/*
  compose-shib: any of: compose_shib/docker-compose.yaml, container_components/solr/**/*
  compose-keycloak: any of: compose_shib/docker-compose.yaml, container_components/solr/**/*
  build-website-push-staging: any of: website/**/*, mkdocs.yml
  build-website-push-final: any of: website/**/*, mkdocs.yml

put rules into same order as api, get dockerfile clean again.
  .gitlab-ci.yml
  dockerfiles/pixelgecko-dist.dockerfile
Due: build-pixelgecko-dist

found error. remove duplicate build-pixelgecko-dist entry.
  .gitlab-ci.yml
Due: none

remove superflouos blank line.
  dockerfiles/pixelgecko-dist.dockerfile
Due: build-pixelgecko-dist

make use of pixelgecko-dist images.
  docker-compose.yaml
Due: none

make use of prebuilt mariadb images for api and fedora.
  docker-compose.yaml
Due: none

make use of prebuilt mongodb image.
  docker-compose.yaml
Due: none

make use of prebuilt openldap image.
  docker-compose.yaml
Due: none

update and rebuild chronos images, dist off base variant.
  .gitlab-ci.yml
  dockerfiles/chronos-base.dockerfile
  dockerfiles/chronos-dist.dockerfile
Due: build-chronos-dist

use prebuilt chronos images.
  docker-compose.yaml
Due: none

restructure universal docker-compose, relabel chronos-base build.
  .gitlab-ci.yml
  docker-compose.yaml
Due: none

add promtail-dist dockerfile, fix typo in docker-compose.yaml.
  .gitlab-ci.yml
  docker-compose.yaml
  dockerfiles/promtail-dist.dockerfile
Due: none

fix ci stage label for promtail-dist build.
  .gitlab-ci.yml
Due: none

make use of prebuild promtail image.
  docker-compose.yaml
Due: none

build loki-dist image.
  .gitlab-ci.yml
  dockerfiles/loki-dist.dockerfile
Due: none

use loki-dist image from compose, build grafana-dist.
  .gitlab-ci.yml
  docker-compose.yaml
  dockerfiles/grafana-dist.dockerfile
Due: none

use prebuilt grafana-dist image from compose, build prometheus-dist.
  .gitlab-ci.yml
  docker-compose.yaml
  dockerfiles/prometheus-dist.dockerfile
Due: none

use prometheus-dist image, build vige-base and vige-dist.
  .gitlab-ci.yml
  docker-compose.yaml
  dockerfiles/vige-base.dockerfile
  dockerfiles/vige-dist.dockerfile
Due: none

force pixelgecko rebuild to new dockerhub repo.
  dockerfiles/pixelgecko-base.dockerfile
Due: none

prepare full migration to static images.
  docker-compose.yaml
  dockerfiles/api-dist.dockerfile
  dockerfiles/chronos-dist.dockerfile
  dockerfiles/pixelgecko-dist.dockerfile
  dockerfiles/vige-dist.dockerfile
Due: build-api-dist, build-chronos-dist, build-pixelgecko-dist

remove pull_policy for images with fixed tag.
  docker-compose.yaml
Due: none

streamline httpd-shib naming for images, update base image.
  .gitlab-ci.yml
  dockerfiles/httpd-shib-base.dockerfile
Due: none

update imageserver base image and dockerfile syntax.
  dockerfiles/imageserver.dockerfile
Due: build-imageserver

delete uneeded k8s loki dockerfile.
  dockerfiles/loki-dist-k8s.dockerfile
Due: none

use new images, force imageserver and httpd-shib-base rebuild.
  .gitlab-ci.yml
  docker-compose.yaml
  dockerfiles/httpd-shib-base.dockerfile
  dockerfiles/imageserver.dockerfile
Due: build-imageserver

add build-common stage, streamline registry-dockerfile naming.
  .gitlab-ci.yml
  docker-compose.yaml
Due: none

set ci back to trigger only on changes to main.
  .gitlab-ci.yml
Due: none

fix some docker-compose vars, configure pixelgecko via env vars.
  container_init/solr/solr_entrypoint.bash
  docker-compose.yaml
  src/pixelgecko/perl_modules/PAF/JobQueue.pm
  src/pixelgecko/pixelgecko.pl
  src/pixelgecko/pixelgecko_conf.yml
Due: build-pixelgecko-dist, build-solr-dist

centralize pixelgecko env var configuration.
  docker-compose.yaml
  src/pixelgecko/pixelgecko.pl
Due: build-pixelgecko-dist

force pixelgecko-dist rebuild.
  .gitlab-ci.yml
  src/pixelgecko/pixelgecko.pl
Due: build-pixelgecko-dist

set ci build filter back to normal, use new pixelgecko image.
  .gitlab-ci.yml
  docker-compose.yaml
Due: none

fix pixelgecko config hierarchy, force rebuild of pixelgecko-dist.
  .gitlab-ci.yml
  src/pixelgecko/pixelgecko.pl
Due: build-pixelgecko-dist

use new image, set ci back to normal, add needed vars to compose.
  .gitlab-ci.yml
  docker-compose.yaml
Due: none

move chronos entrypoint to base, force rebuild.
  .gitlab-ci.yml
  dockerfiles/chronos-base.dockerfile
  dockerfiles/chronos-dist.dockerfile
Due: build-chronos-dist

add proper chronos-dev section, make fixity check slightly verbose.
  container_init/chronos/fixity-checker.bash
  docker-compose.yaml
Due: none

fix ci path, make sure chronos rebuild gets triggered.
  .gitlab-ci.yml
  container_init/chronos/fixity-checker.bash
Due: none

filter out toplevel- and fcr:metadata-links at fixity check.
  container_init/chronos/fixity-checker.bash
Due: none

use updated images, set ci back to build on changes to main only.
  .gitlab-ci.yml
  docker-compose.yaml
Due: none

del hardcode from dashboard, remove filter, vars for ds+promtail.
  .gitlab-ci.yml
  container_init/grafana/dashboards/phaidra_default.json
  container_init/grafana/ds.yaml
  container_init/promtail/promtail-local-config.yaml
Due: none

fix typo in ci, rebuild promtail-dist.
  .gitlab-ci.yml
  container_init/promtail/promtail-local-config.yaml
Due: none

update promtail and grafana images, add needed vars, set ci back.
  .gitlab-ci.yml
  docker-compose.yaml
Due: none
