Repository phaidra/phaidra: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-api-base, build-api-dist, build-ui, build-chronos-base, build-chronos-dist, build-httpd-shib-base, build-httpd-demo-dist, build-imageserver, build-pixelgecko-base, build-pixelgecko-dist, build-mariadb-phaidra-dist, build-mariadb-fedora-dist, build-mongodb-dist, build-solr-dist, build-openldap-dist, build-vige-base, build-vige-dist, build-promtail-dist, build-loki-dist, build-grafana-dist, build-prometheus-dist, compose-dev, compose-demo, compose-ssl, compose-shib, compose-keycloak, build-website-push-staging, build-website-push-final

Path conditions:
  build-api-base: any of: dockerfiles/api-base.dockerfile
  build-api-dist: any of: dockerfiles/api-base.dockerfile, dockerfiles/api-dist.dockerfile, src/phaidra-api/**/*
  build-ui: any of: dockerfiles/ui.dockerfile, src/phaidra-ui/**/*, src/phaidra-vue-components/**/*
  build-chronos-base: any of: dockerfiles/chronos-base.dockerfile
  build-chronos-dist: any of: dockerfiles/chronos-base.dockerfile, dockerfiles/chronos-dist.dockerfile, container-init/chronos/**/*
  build-httpd-shib-base: any of: dockerfiles/httpd-shib-base.dockerfile
  build-httpd-demo-dist: any of: dockerfiles/httpd-demo-dist.dockerfile, container_init/httpd/phaidra-demo/conf/phaidra-demo.conf
  build-imageserver: any of: dockerfiles/imageserver.dockerfile
  build-pixelgecko-base: any of: dockerfiles/pixelgecko-base.dockerfile
  build-pixelgecko-dist: any of: dockerfiles/pixelgecko-base.dockerfile, dockerfiles/pixelgecko-dist.dockerfile, src/pixelgecko/**/*
  build-mariadb-phaidra-dist: any of: dockerfiles/mariadb-phaidra-dist.dockerfile, container_init/mariadb/phaidradb/**/*
  build-mariadb-fedora-dist: any of: dockerfiles/mariadb-fedora-dist.dockerfile, container_init/mariadb/fedoradb/**/*
  build-mongodb-dist: any of: dockerfiles/mongodb-dist.dockerfile, container_init/mongodb/**/*
  build-solr-dist: any of: dockerfiles/solr-dist.dockerfile, container_init/solr/**/*
  build-openldap-dist: any of: dockerfiles/openldap-dist.dockerfile, container_init/openldap/**/*
  build-vige-base: any of: dockerfiles/vige-base.dockerfile
  build-vige-dist: any of: dockerfiles/vige-base.dockerfile, dockerfiles/vige-dist.dockerfile, src/vige/**/*
  build-promtail-dist: any of: dockerfiles/promtail-dist.dockerfile, container_init/promtail/promtail-local.config.yaml
  build-loki-dist: any of: dockerfiles/loki-dist.dockerfile, container_init/loki/loki-docker-config.yaml
  build-grafana-dist: any of: dockerfiles/grafana-dist.dockerfile, container_init/grafana/**/*
  build-prometheus-dist: any of: dockerfiles/prometheus-dist.dockerfile, container_init/prometheus/prometheus.yaml
  compose-dev: any of: compose_dev/docker-compose.yaml, components/phaidra-ui/**/*, container_components/solr/**/*
  compose-demo: any of: compose_demo/docker-compose.yaml, container_components/solr/**/*
  compose-ssl: any of: compose_ssl/docker-compose.yaml, container_components/solr/**/*
  compose-shib: any of: compose_shib/docker-compose.yaml, container_components/solr/**/*
  compose-keycloak: any of: compose_shib/docker-compose.yaml, container_components/solr/**/*
  build-website-push-staging: any of: website/**/*, mkdocs.yml
  build-website-push-final: any of: website/**/*, mkdocs.yml

updated image for camel container
  docker-compose.yaml
Due: none

use In Coypright RightsStatements for Uwmetadata
  src/phaidra-api/public/licenses/licenses.json
Due: build-api-dist

ordering histkult children as per schema sequence
  src/phaidra-api/PhaidraAPI/Model/Uwmetadata.pm
Due: build-api-dist

Removed ordering for dimension, Empty reference_number check
  src/phaidra-api/PhaidraAPI/Model/Uwmetadata.pm
  src/phaidra-vue-components/src/components/legacy/PIFormUwm.vue
Due: build-api-dist, build-ui

dark header support
  src/phaidra-ui/components/ext/Header.vue
Due: build-ui

dark header fixes
  src/phaidra-ui/components/ext/Header.vue
Due: build-ui

dark header icons and button colors
  src/phaidra-ui/components/ext/Header.vue
Due: build-ui

Spelling typos fix
  src/phaidra-vue-components/src/components/lists/PLists.vue
  src/phaidra-vue-components/src/components/management/PMRelationships.vue
  src/phaidra-vue-components/src/components/search/PSearchResults.vue
Due: build-ui

add Italian translations
  src/phaidra-ui/locales/ita.json
Due: build-ui

formats info text color
  src/phaidra-vue-components/src/components/input/PIResourceType.vue
Due: build-ui

margins on add collection members help message
  src/phaidra-ui/pages/detail/_pid.vue
Due: build-ui

Checking children of reference_number to be not empty to avoid empty tag
  src/phaidra-api/PhaidraAPI/Model/Uwmetadata.pm
Due: build-api-dist

use v-icon, fix spacing
  src/phaidra-ui/components/ext/Header.vue
Due: build-ui

combine watchers on object list
  src/phaidra-vue-components/src/components/lists/PLists.vue
Due: build-ui

remove bottom box-shadow on dark header
  src/phaidra-ui/components/ext/Header.vue
Due: build-ui

removed prefixed box-shadow css property
  src/phaidra-ui/components/ext/Header.vue
  src/phaidra-ui/layouts/default.vue
Due: build-ui

ui/api/chronos/camel-toolbox versions
  docker-compose.yaml
Due: none

updated an Italian translation
  src/phaidra-ui/locales/ita.json
Due: build-ui

just chack if it has OCTETS
  src/phaidra-ui/pages/detail/_pid.vue
Due: build-ui

return false if there are no OCTETS
  src/phaidra-ui/pages/detail/_pid.vue
Due: build-ui

facet reactivity for nested objects issue resolved
  src/phaidra-vue-components/src/components/search/PSearch.vue
  src/phaidra-vue-components/src/components/search/facets.js
Due: build-ui

Edit _pid.vue
  src/phaidra-ui/pages/detail/_pid.vue
Due: build-ui

bulk upload
  docker-compose.yaml
  src/phaidra-ui/nuxt.config.js
Due: build-ui

bulk uplaod
  src/phaidra-ui/components/BulkUploadSteps.vue
  src/phaidra-ui/components/bulk-upload/CSVColumnSelector.vue
  src/phaidra-ui/components/bulk-upload/CompletionOverlay.vue
  src/phaidra-ui/components/bulk-upload/FileSelection.vue
  src/phaidra-ui/components/bulk-upload/LoginOverlay.vue
  src/phaidra-ui/components/bulk-upload/PhaidraFieldSelector.vue
  src/phaidra-ui/components/bulk-upload/PreviewTableCell.vue
  src/phaidra-ui/components/bulk-upload/PreviewTableHeader.vue
  src/phaidra-ui/components/bulk-upload/SourceSelector.vue
  src/phaidra-ui/components/bulk-upload/UploadProgress.vue
  src/phaidra-ui/components/bulk-upload/UploadTable.vue
  src/phaidra-ui/config/bulk-upload/field-settings.js
  src/phaidra-ui/config/phaidra-ui.js
  src/phaidra-ui/layouts/bulk-upload.vue
  src/phaidra-ui/middleware/bulk-upload.js
  src/phaidra-ui/pages/bulk-upload/csv-config.vue
  src/phaidra-ui/pages/bulk-upload/index.vue
  src/phaidra-ui/pages/bulk-upload/meta-data-config.vue
  src/phaidra-ui/pages/bulk-upload/preview.vue
  src/phaidra-ui/pages/bulk-upload/upload.vue
  src/phaidra-ui/plugins/bulk-upload-persistence.js
  src/phaidra-ui/store/bulk-upload.js
Due: build-ui

change default color for one which works better in dark theme
  docker-compose.yaml
  src/phaidra-ui/nuxt.config.js
  src/phaidra-ui/vuetify.options.js
Due: build-ui

remove unneeded elements from entity on bulk upload
  src/phaidra-ui/config/bulk-upload/field-settings.js
  src/phaidra-vue-components/src/components/input/PIEntityExtended.vue
Due: build-ui

phaidradb update
  container_init/mariadb/phaidradb/phaidradb.sql.gz
Due: build-mariadb-phaidra-dist

ui/mariadb-phaidra versions
  docker-compose.yaml
Due: none

fixed some Italian labels
  src/phaidra-api/PhaidraAPI/Model/Uwmetadata/Tree.pm
  src/phaidra-ui/locales/ita.json
Due: build-api-dist, build-ui

i18n Ita
  src/phaidra-ui/locales/ita.json
Due: build-ui

fix missing OCTETS in datastreams
  src/phaidra-api/PhaidraAPI/Model/Index.pm
Due: build-api-dist

fix edtf pattern to make zone optional
  src/phaidra-api/public/json-schema/jsonld.json
Due: build-api-dist

add more cmodels and add filename and mimetype to metadata
  src/phaidra-ui/pages/bulk-upload/upload.vue
Due: build-ui

ui/api version
  docker-compose.yaml
Due: none

Add some info about utils/indexObjects.pl in Phaidra API container
  README.md
Due: none

add margin, fix Italian label wording
  src/phaidra-api/PhaidraAPI/Model/Uwmetadata/Tree.pm
  src/phaidra-ui/locales/ita.json
  src/phaidra-ui/pages/stats/_pid.vue
Due: build-api-dist, build-ui

fix docker parameter
  README.md
Due: none

change dark theme default header background color and add bottom shadow
  src/phaidra-ui/components/ext/Header.vue
Due: build-ui

manage dark theme default logo fill and stroke colours in the SVG logo itself
  src/phaidra-ui/components/ext/Header.vue
Due: build-ui

use a suitable inverted color for dark theme default header logo
  src/phaidra-ui/components/ext/Header.vue
Due: build-ui
