Repository phaidra/phaidra: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-api-base, build-api-dist, build-ui, build-chronos-base, build-chronos-dist, build-httpd-shib-base, build-httpd-demo-dist, build-imageserver, build-pixelgecko-base, build-pixelgecko-dist, build-mariadb-phaidra-dist, build-mariadb-fedora-dist, build-mongodb-dist, build-solr-dist, build-openldap-dist, build-vige-base, build-vige-dist, build-promtail-dist, build-loki-dist, build-grafana-dist, build-prometheus-dist, compose-dev, compose-demo, compose-ssl, compose-shib, compose-keycloak, build-website-push-staging, build-website-push-final

Path conditions:
  build-api-base: any of: dockerfiles/api-base.dockerfile
  build-api-dist: any of: dockerfiles/api-base.dockerfile, dockerfiles/api-dist.dockerfile, src/phaidra-api/**/*
  build-ui: any of: dockerfiles/ui.dockerfile, src/phaidra-ui/**/*, src/phaidra-vue-components/**/*
  build-chronos-base: any of: dockerfiles/chronos-base.dockerfile
  build-chronos-dist: any of: dockerfiles/chronos-base.dockerfile, dockerfiles/chronos-dist.dockerfile, container-init/chronos/**/*
  build-httpd-shib-base: any of: dockerfiles/httpd-shib-base.dockerfile
  build-httpd-demo-dist: any of: dockerfiles/httpd-demo-dist.dockerfile, container_init/httpd/phaidra-demo/conf/phaidra-demo.conf
  build-imageserver: any of: dockerfiles/imageserver.dockerfile
  build-pixelgecko-base: any of: dockerfiles/pixelgecko-base.dockerfile
  build-pixelgecko-dist: any of: dockerfiles/pixelgecko-base.dockerfile, dockerfiles/pixelgecko-dist.dockerfile, src/pixelgecko/**/*
  build-mariadb-phaidra-dist: any of: dockerfiles/mariadb-phaidra-dist.dockerfile, container_init/mariadb/phaidradb/**/*
  build-mariadb-fedora-dist: any of: dockerfiles/mariadb-fedora-dist.dockerfile, container_init/mariadb/fedoradb/**/*
  build-mongodb-dist: any of: dockerfiles/mongodb-dist.dockerfile, container_init/mongodb/**/*
  build-solr-dist: any of: dockerfiles/solr-dist.dockerfile, container_init/solr/**/*
  build-openldap-dist: any of: dockerfiles/openldap-dist.dockerfile, container_init/openldap/**/*
  build-vige-base: any of: dockerfiles/vige-base.dockerfile
  build-vige-dist: any of: dockerfiles/vige-base.dockerfile, dockerfiles/vige-dist.dockerfile, src/vige/**/*
  build-promtail-dist: any of: dockerfiles/promtail-dist.dockerfile, container_init/promtail/promtail-local.config.yaml
  build-loki-dist: any of: dockerfiles/loki-dist.dockerfile, container_init/loki/loki-docker-config.yaml
  build-grafana-dist: any of: dockerfiles/grafana-dist.dockerfile, container_init/grafana/**/*
  build-prometheus-dist: any of: dockerfiles/prometheus-dist.dockerfile, container_init/prometheus/prometheus.yaml
  compose-dev: any of: compose_dev/docker-compose.yaml, components/phaidra-ui/**/*, container_components/solr/**/*
  compose-demo: any of: compose_demo/docker-compose.yaml, container_components/solr/**/*
  compose-ssl: any of: compose_ssl/docker-compose.yaml, container_components/solr/**/*
  compose-shib: any of: compose_shib/docker-compose.yaml, container_components/solr/**/*
  compose-keycloak: any of: compose_shib/docker-compose.yaml, container_components/solr/**/*
  build-website-push-staging: any of: website/**/*, mkdocs.yml
  build-website-push-final: any of: website/**/*, mkdocs.yml

skip irdata Uwmetadata field in object details display
  src/phaidra-vue-components/src/components/legacy/PDUwmRec.vue
Due: build-ui

ita i18n fixes
  src/phaidra-ui/locales/ita.json
Due: build-ui

add an Italian translation
  src/phaidra-ui/locales/ita.json
Due: build-ui

add-thumbnail-to-manifest
  src/phaidra-api/PhaidraAPI/Model/Iiifmanifest.pm
Due: build-api-dist

ui/api versions
  docker-compose.yaml
Due: none

api-fix
  src/phaidra-api/PhaidraAPI/Model/Iiifmanifest.pm
Due: build-api-dist

api-fix
  docker-compose.yaml
Due: none

fix lom jsonld call
  src/phaidra-api/PhaidraAPI/Controller/Mappings.pm
Due: build-api-dist

api version
  docker-compose.yaml
Due: none

fix-project-adding-empty-funder
  src/phaidra-vue-components/src/utils/json-ld.js
Due: build-ui

change "Select results" icon in Search page toolbar
  src/phaidra-vue-components/src/components/search/PSearchToolbar.vue
Due: build-ui

add some margin in stats page
  src/phaidra-ui/pages/stats/_pid.vue
Due: build-ui

api update, db update, ui version update
  container_init/mariadb/phaidradb/phaidradb.sql.gz
  docker-compose.yaml
  src/phaidra-api/migrations/v3.3.17.pl
  src/phaidra-api/utils/processUsageStats.pl
Due: build-api-dist, build-mariadb-phaidra-dist

dark theme env in compose file
  docker-compose.yaml
Due: none

theme default color change
  docker-compose.yaml
Due: none

add pages core
  src/phaidra-api/PhaidraAPI.json
Due: build-api-dist

add-pages-core-to-solr
  container_init/solr/solr_entrypoint_dist.bash
Due: build-solr-dist

new solr version
  docker-compose.yaml
Due: none

api-de-wording-fix
  src/phaidra-api/PhaidraAPI/I18N/de.po
Due: build-api-dist

Italian translation update
  src/phaidra-ui/locales/ita.json
Due: build-ui

added Italian translation
  src/phaidra-ui/locales/ita.json
Due: build-ui

varnish: up first_byte timeout to 5m
  configs/varnish.vcl
Due: none

tx log
  src/phaidra-api/PhaidraAPI/Model/Fedora.pm
Due: build-api-dist

full width search input on mobile
  src/phaidra-vue-components/src/components/search/PSearch.vue
Due: build-ui

search-and-jsonld-fix
  src/phaidra-vue-components/src/components/search/PSearch.vue
  src/phaidra-vue-components/src/utils/json-ld.js
Due: build-ui

ui version
  docker-compose.yaml
Due: none

mirror test
  README.md
Due: none

upd ita translations
  src/phaidra-ui/locales/ita.json
Due: build-ui

remove whitespace from Uwmetadata vocabulary label
  src/phaidra-api/PhaidraAPI/Model/Uwmetadata/Tree.pm
Due: build-api-dist

disable Vuetify treeshaking and add toolbar styles
  src/phaidra-ui/assets/variables.scss
  src/phaidra-ui/layouts/default.vue
  src/phaidra-ui/nuxt.config.js
Due: build-ui

add Italian translations for Unipd custom footer
  src/phaidra-ui/locales/ita.json
Due: build-ui
