Repository phaidra/phaidra: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-api-base, build-api-dist, build-ui, build-chronos-base, build-chronos-dist, build-httpd-shib-base, build-httpd-demo-dist, build-imageserver, build-pixelgecko-base, build-pixelgecko-dist, build-mariadb-phaidra-dist, build-mariadb-fedora-dist, build-mongodb-dist, build-solr-dist, build-openldap-dist, build-vige-base, build-vige-dist, build-promtail-dist, build-loki-dist, build-grafana-dist, build-prometheus-dist, compose-dev, compose-demo, compose-ssl, compose-shib, compose-keycloak, build-website-push-staging, build-website-push-final

Path conditions:
  build-api-base: any of: dockerfiles/api-base.dockerfile
  build-api-dist: any of: dockerfiles/api-base.dockerfile, dockerfiles/api-dist.dockerfile, src/phaidra-api/**/*
  build-ui: any of: dockerfiles/ui.dockerfile, src/phaidra-ui/**/*, src/phaidra-vue-components/**/*
  build-chronos-base: any of: dockerfiles/chronos-base.dockerfile
  build-chronos-dist: any of: dockerfiles/chronos-base.dockerfile, dockerfiles/chronos-dist.dockerfile, container-init/chronos/**/*
  build-httpd-shib-base: any of: dockerfiles/httpd-shib-base.dockerfile
  build-httpd-demo-dist: any of: dockerfiles/httpd-demo-dist.dockerfile, container_init/httpd/phaidra-demo/conf/phaidra-demo.conf
  build-imageserver: any of: dockerfiles/imageserver.dockerfile
  build-pixelgecko-base: any of: dockerfiles/pixelgecko-base.dockerfile
  build-pixelgecko-dist: any of: dockerfiles/pixelgecko-base.dockerfile, dockerfiles/pixelgecko-dist.dockerfile, src/pixelgecko/**/*
  build-mariadb-phaidra-dist: any of: dockerfiles/mariadb-phaidra-dist.dockerfile, container_init/mariadb/phaidradb/**/*
  build-mariadb-fedora-dist: any of: dockerfiles/mariadb-fedora-dist.dockerfile, container_init/mariadb/fedoradb/**/*
  build-mongodb-dist: any of: dockerfiles/mongodb-dist.dockerfile, container_init/mongodb/**/*
  build-solr-dist: any of: dockerfiles/solr-dist.dockerfile, container_init/solr/**/*
  build-openldap-dist: any of: dockerfiles/openldap-dist.dockerfile, container_init/openldap/**/*
  build-vige-base: any of: dockerfiles/vige-base.dockerfile
  build-vige-dist: any of: dockerfiles/vige-base.dockerfile, dockerfiles/vige-dist.dockerfile, src/vige/**/*
  build-promtail-dist: any of: dockerfiles/promtail-dist.dockerfile, container_init/promtail/promtail-local.config.yaml
  build-loki-dist: any of: dockerfiles/loki-dist.dockerfile, container_init/loki/loki-docker-config.yaml
  build-grafana-dist: any of: dockerfiles/grafana-dist.dockerfile, container_init/grafana/**/*
  build-prometheus-dist: any of: dockerfiles/prometheus-dist.dockerfile, container_init/prometheus/prometheus.yaml
  compose-dev: any of: compose_dev/docker-compose.yaml, components/phaidra-ui/**/*, container_components/solr/**/*
  compose-demo: any of: compose_demo/docker-compose.yaml, container_components/solr/**/*
  compose-ssl: any of: compose_ssl/docker-compose.yaml, container_components/solr/**/*
  compose-shib: any of: compose_shib/docker-compose.yaml, container_components/solr/**/*
  compose-keycloak: any of: compose_shib/docker-compose.yaml, container_components/solr/**/*
  build-website-push-staging: any of: website/**/*, mkdocs.yml
  build-website-push-final: any of: website/**/*, mkdocs.yml

wording
  src/phaidra-ui/components/bulk-upload/CompletionOverlay.vue
Due: build-ui

use suitable translation in html title tag of submit page
  src/phaidra-ui/components/Submit.vue
Due: build-ui

remove text capitalization in bulk upload metadata field display
  src/phaidra-ui/pages/bulk-upload/meta-data-config.vue
Due: build-ui

italian translation update
  src/phaidra-ui/locales/ita.json
Due: build-ui

fix ÖFOS vs OEFOS in bulk upload metadata field display
  src/phaidra-ui/config/bulk-upload/field-settings.js
  src/phaidra-ui/pages/bulk-upload/upload.vue
Due: build-ui

updated ita translation
  src/phaidra-ui/locales/ita.json
Due: build-ui

Accessibility filter from store config
  src/phaidra-vue-components/src/components/search/PSearchFilters.vue
  src/phaidra-vue-components/src/store/modules/search.js
Due: build-ui

validation updated
  src/phaidra-vue-components/src/mixins/formvalidation.js
Due: build-ui

date and accessibility on config
  src/phaidra-vue-components/src/components/search/PSearch.vue
  src/phaidra-vue-components/src/components/search/facets.js
  src/phaidra-vue-components/src/store/modules/search.js
Due: build-ui

Accessibility and date as default facet
  src/phaidra-vue-components/src/store/modules/search.js
Due: build-ui

api/ui version
  docker-compose.yaml
Due: none

object type skip validaation for container removed
  src/phaidra-vue-components/src/mixins/formvalidation.js
Due: build-ui

pdf extraction logic
  container_init/solr/phaidra_core/conf/managed-schema
  container_init/solr/phaidra_pages_core/conf/managed-schema
  docker-compose.yaml
  dockerfiles/pdf_extraction.dockerfile
  src/pdf_extraction/index.js
  src/pdf_extraction/package.json
  src/phaidra-api/PhaidraAPI/Model/Hooks.pm
Due: build-api-dist, build-solr-dist

update the tika job on all types of modification but ignore for restricted object
  src/phaidra-api/PhaidraAPI/Model/Hooks.pm
  src/phaidra-api/PhaidraAPI/Model/Rights.pm
Due: build-api-dist

fixed relationship prefix issue
  src/phaidra-api/PhaidraAPI/Model/Object.pm
Due: build-api-dist

translation cancel for cell value
  src/phaidra-ui/pages/bulk-upload/preview.vue
Due: build-ui

helper text translation fix on oefos, bic and thema
  src/phaidra-vue-components/src/components/input/PISubjectBic.vue
  src/phaidra-vue-components/src/components/input/PISubjectOefos.vue
  src/phaidra-vue-components/src/components/input/PISubjectThema.vue
Due: build-ui

added tooltip for role extended buttons
  src/phaidra-vue-components/src/components/input/PIEntityExtended.vue
Due: build-ui

detail page 404 handling
  src/phaidra-ui/pages/detail/_pid.vue
  src/phaidra-ui/store/index.js
Due: build-ui

checking for message while showing alert
  src/phaidra-ui/layouts/default.vue
Due: build-ui

collapsable changed interactive with vue set
  src/phaidra-vue-components/src/components/input/PIForm.vue
Due: build-ui

bulk upload field translation
  src/phaidra-ui/locales/deu.json
  src/phaidra-ui/pages/bulk-upload/meta-data-config.vue
Due: build-ui

Generator meta tag
  src/phaidra-ui/layouts/default.vue
Due: build-ui

pdf hooks changes, updated path for new jobs
  src/phaidra-api/PhaidraAPI/Model/Hooks.pm
  src/phaidra-api/PhaidraAPI/Model/Imageserver.pm
  src/phaidra-api/PhaidraAPI/Model/Index.pm
Due: build-api-dist

full text search toggle
  src/phaidra-api/PhaidraAPI/Controller/Search.pm
  src/phaidra-vue-components/src/components/search/PSearch.vue
Due: build-api-dist, build-ui

toggle searching trigger
  src/phaidra-vue-components/src/components/search/PSearch.vue
Due: build-ui

fix reading OCTETS instead of COMP...
  src/phaidra-api/PhaidraAPI/Controller/Object.pm
Due: build-api-dist

fix datastreams hash
  src/phaidra-api/PhaidraAPI/Model/Index.pm
Due: build-api-dist

fix CONTAINER info parsing
  src/phaidra-api/PhaidraAPI/Model/Object.pm
Due: build-api-dist

do not show restricted access for containers and collections
  src/phaidra-ui/pages/detail/_pid.vue
Due: build-ui

add entrypoint to prometheus image to sed fedoraAdmin user creds from env to yaml config
  container_init/prometheus/prometheus-entrypoint.bash
  container_init/prometheus/prometheus.yaml
  docker-compose.yaml
  dockerfiles/prometheus-dist.dockerfile
Due: build-prometheus-dist

prometheus image version
  docker-compose.yaml
Due: none

some prometheus image fixes
  container_init/prometheus/prometheus-entrypoint.sh
  docker-compose.yaml
  dockerfiles/prometheus-dist.dockerfile
Due: build-prometheus-dist

fix wrong file name
  dockerfiles/prometheus-dist.dockerfile
Due: build-prometheus-dist

+x on entrypoint and rw mount for inplace sed in dev
  container_init/prometheus/prometheus-entrypoint.sh
  docker-compose.yaml
Due: none

mount read only and copy prometheus config
  container_init/prometheus/prometheus-entrypoint.sh
  docker-compose.yaml
Due: none

do show restricted access on contianers (legacy ones can have access restrictions)
  src/phaidra-ui/pages/detail/_pid.vue
Due: build-ui
